@using ArchitectureLibraryCacheData
@using ArchitectureLibraryMenuModels
@{
    //DivineBija.in --> 97
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    var imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
    List<MenuUrlAction> menuUrlActions = new List<MenuUrlAction>
{
        new MenuUrlAction
        {
            ActionName = "OrderItem",
            ControllerName = "Dashboard",
            LinkText = "Order Item",
            QueryString = "?id=&pageNum=1&rowCount=45",
        },
        new MenuUrlAction
        {
            ActionName = "OrderList",
            ControllerName = "Dashboard",
            LinkText = "Order List",
            QueryString = "",
        },
        new MenuUrlAction
        {
            ActionName = "CorpAcctList",
            ControllerName = "Dashboard",
            LinkText = "Corp Acct",
            QueryString = "?pageNum=1&rowCount=45",
        },
        new MenuUrlAction
        {
            ActionName = "UserList",
            ControllerName = "Dashboard",
            LinkText = "User(s)",
            QueryString = "?pageNum=1&rowCount=45",
        },
    };
}
<br style="clear: both;" />
<div id="divHamburgerMenu" style="display: none; padding-left: 9px;">
    <div style="background-color: #9a031e; float: left; padding-left: 5px; padding-right: 9px;">
        @for (int i = 0; i < menuUrlActions.Count; i++)
        {
            if (i == menuUrlActions.Count - 1)
            {
                <div style="padding-bottom: 9px; padding-top: 9px;">
                    <a href="javascript: void(0);" onclick="javascript: return menuLinkHamburger_onclick('@Url.Action(menuUrlActions[i].ActionName, menuUrlActions[i].ControllerName)', '@menuUrlActions[i].QueryString');" style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 900; text-decoration: underline;" title="@menuUrlActions[i].LinkText - @imageTitle">@menuUrlActions[i].LinkText</a>
                </div>
            }
            else
            {
                <div style="padding-top: 9px;">
                    <a href="javascript: void(0);" onclick="javascript: return menuLinkHamburger_onclick('@Url.Action(menuUrlActions[i].ActionName, menuUrlActions[i].ControllerName)', '@menuUrlActions[i].QueryString');" style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 900; text-decoration: underline;" title="@menuUrlActions[i].LinkText - @imageTitle">@menuUrlActions[i].LinkText</a>
                </div>
            }
        }
    </div>
    <div style="background-color: #9a031e; float: left; padding-left: 9px; padding-right: 9px;">
        <div style="padding-top: 9px;">
            <a href="javascript: void(0);" onclick="javascript: return checkoutValidate_onclick();" style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 900; text-decoration: underline;" title="Checkout - @imageTitle">Checkout</a>
        </div>
        <div style="padding-top: 9px;">
            <a href="@Url.Action("Logout", "Home")" style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 900; text-decoration: underline;" title="Logout - @imageTitle">Logout</a>
        </div>
        <div style="padding-bottom: 9px; padding-top: 9px;">
            <a href="javascript: void(0);" style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 900; text-decoration: none;">&nbsp;</a>
        </div>
    </div>
    <div style="float: left; padding-left: 9px;">
        <div style="padding-top: 0px;">
            <a href="javascript: void(0);" id="hrfCloseHamburgerMenu" onclick="javascript: return hrfCloseHamburgerMenu_onclick();" style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 30px; font-weight: 900; text-decoration: none;" title="Close - @imageTitle">&times;</a>
        </div>
    </div>
</div>
<br style="clear: both;" />
