@using ArchitectureLibraryCacheData
@using ArchitectureLibraryModels
@using RetailSlnCacheData
@using RetailSlnEnumerations
@using RetailSlnModels
@{
    //DivineBija.in --> 97
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    var imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
    SessionObjectModel sessionObjectModel = (SessionObjectModel)Session["SessionObject"];
    string aspNetRoleName;
    if (sessionObjectModel == null)
    {
        aspNetRoleName = "DEFAULTROLE";
    }
    else
    {
        aspNetRoleName = sessionObjectModel.AspNetRoleName;
    }
    var categoryModels = RetailSlnCache.AspNetRoleParentCategoryCategoryModels[aspNetRoleName][0];
    int mainCategoryCount = 7;
}
<style>
    ul ul {
        position: absolute;
        display: none;
        padding: 0;
    }

        ul ul li {
            background-color: #9a031e;
            display: block;
            margin-left: 0;
            padding-bottom: 5px;
            padding-left: 9px;
            text-align: left;
            /*width: 15em;*/
        }

    li:hover ul {
        display: block;
    }
</style>
<style>
    .scrollable-list {
        width: 153px;
        z-index: 20000;
        max-height: 360px;
        overflow-y: auto;
    }

        .scrollable-list::-webkit-scrollbar {
            width: 10px;
        }

        .scrollable-list::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        .scrollable-list::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 10px;
        }

            .scrollable-list::-webkit-scrollbar-thumb:hover {
                background: #555;
            }
</style>
<ul class="nav navbar-nav">
    @{
        int i;
        for (i = 0; i < mainCategoryCount && i < categoryModels.Count; i++)
        {
            <li>
                <span id="menuCategoryId@(i)" style="display: none;">@categoryModels[i].CategoryId</span>
                <a id="menuCategory@(i)" href="javascript: void(0);" onclick="javascript: return categoryId_onclick(@categoryModels[i].CategoryId, 1, @categoryModels.Count);" style="color: #ffffff; font-size: 12px; font-weight: bold;" title="@(categoryModels[i].CategoryNameDesc + " " + imageTitle)">
                    @categoryModels[i].CategoryDesc
                </a>
            </li>
        }
    }
    <li>
        <a href="#" style="color: #ffffff; font-weight: bold;" title="@imageTitle">More...</a>
        <ul class="scrollable-list">
            @for (; i < categoryModels.Count; i++)
            {
                <li>
                    <span id="menuCategoryId@(i)" style="display: none;">@categoryModels[i].CategoryId</span>
                    <a id="menuCategory@(i)" href="javascript: void(0);" onclick="javascript: return categoryId_onclick(@categoryModels[i].CategoryId, 1, @categoryModels.Count);" style="color: #ffffff; font-size: 12px; font-weight: bold;" title="@(categoryModels[i].CategoryNameDesc + " " + imageTitle)">
                        @categoryModels[i].CategoryDesc
                    </a>
                </li>
            }
        </ul>
    </li>
    <li>
        <a href="javascript: void(0);" style="cursor: default; padding-left: 63px;">
            <span id="selectedCategoryDesc" style="color: #61ce70; font-weight: bold;"></span>
        </a>
    </li>
</ul>
