@using RetailSlnModels
@model SearchResultModel
<table style="margin-left: auto; margin-right: auto; width: 81%;">
    <tr>
        <th class="text-left"><span style="color: #ff0000; padding-right: 9px;">Search results for</span>@Model.SearchKeywordText<span style="color: #a54000; padding-left: 9px; padding-right: 9px;">Items#</span> @Model.ItemMasterListModel.ItemMasterModels.Count<span style="color: #0000ff; padding-left: 9px; padding-right: 9px;">Categories#</span>@Model.CategoryListModel.CategoryModels.Count</th>
    </tr>
</table>
@Html.Partial("_SearchResultItemMaster", Model.ItemMasterListModel)
<br />
@Html.Partial("_SearchResultCategory", Model.CategoryListModel)
