@using ArchitectureLibraryCacheData
@{
    long clientId = ArchLibCache.ClientId;
    var baseUrl = ArchLibCache.GetApplicationDefault(clientId, "BaseUrl", "");
}
<div style="text-align: left;">
    <br />
    Thanking You,
    <br />
    Sincerely,
    @if (!string.IsNullOrWhiteSpace(Model.OrderSummaryModel.AuthorizedSignature))
    {
        <br />
        <span style="color: #000000; font-family: 'Lucida Handwriting'; font-size: 18px; font-weight: bold;">@Model.OrderSummaryModel.AuthorizedSignature</span>
    }
    @*<br />
        <span style="color: #000000; font-weight: bold;">@ArchLibCache.GetApplicationDefault(clientId, "AdminRepresentativeName", "")</span>*@
    <br />
    <span style="color: #000000; font-weight: bold;">@ArchLibCache.GetApplicationDefault(clientId, "AdminRepresentativeTitle", "")</span>
    <br />
    <span style="color: #000000; font-weight: bold;">@ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "")</span>
    <br />
    <span style="color: #000000;">
        @ArchLibCache.GetApplicationDefault(clientId, "AddressLine1", "")
        <br />
        @ArchLibCache.GetApplicationDefault(clientId, "AddressCityName", ""), @ArchLibCache.GetApplicationDefault(clientId, "AddressStateAbbrev", ""), @ArchLibCache.GetApplicationDefault(clientId, "AddressZipCode", "")
        <br />
        <a href="tel: @ArchLibCache.GetApplicationDefault(clientId, "ContactPhoneHref", "")" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">@ArchLibCache.GetApplicationDefault(clientId, "ContactPhoneFormatted", "")</a>&nbsp;<img src="@baseUrl/Images/Phone1_Small.png" />
        <br />
        <a href="sms: @ArchLibCache.GetApplicationDefault(clientId, "ContactTextPhoneHref", "")" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">@ArchLibCache.GetApplicationDefault(clientId, "ContactTextPhoneFormatted", "")</a>&nbsp;<img src="@baseUrl/Images/SMSIcon3_Small.png" />
        <br />
        <a style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank" href="https://api.whatsapp.com/send?phone=@(ArchitectureLibraryCacheData.ArchLibCache.GetApplicationDefault(ArchitectureLibraryCacheData.ArchLibCache.ClientId, "ContactWhatsAppPhone", ""))">@ArchitectureLibraryCacheData.ArchLibCache.GetApplicationDefault(ArchitectureLibraryCacheData.ArchLibCache.ClientId, "ContactWhatsAppPhoneFormatted", "")</a>&nbsp;<img src="@baseUrl/Images/WhatsApp1_Small.png" />
        <br />
        <a href="@ArchLibCache.GetApplicationDefault(clientId, "BaseUrl", "" )" target="_blank">@ArchLibCache.GetApplicationDefault(clientId, "BaseUrl", "")</a>
        <br />
        @DateTime.Now.ToString("ddd MMM-dd-yyyy hh:mm:ss tt")
    </span>
</div>
