@model ArchitectureLibraryModels.RegisterLoginContactResetPasswordModel
@using ArchitectureLibraryMenuCacheData
@using ArchitectureLibraryCacheData
@{
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
}
<div class="container col-md-12" style="text-align: left;">
    <div id="divRegisterUserProfScrollIntoView" class="col-md-6" style="float: left; padding-right: 9px;">
        @Html.Partial("_RegisterUserProf", Model.RegisterUserProfModel)
    </div>
    <div id="divLoginUserProfScrollIntoView" class="col-md-6" style="float: left; padding-left: 9px;">
        @Html.Partial("_LoginUserProf", Model.LoginUserProfModel)
    </div>
</div>
<br style="clear: both;" />
<div class="container col-md-12" style="text-align: left;">
    <div class="col-md-6" style="float: left; padding-right: 9px;">
        <button class="loginRegisterbtn" id="registerUserSave" onclick="javascript: return registerUserSave_onclick();" style="letter-spacing: 9px; text-transform: uppercase;" type="button">register</button>
    </div>
    <div class="col-md-6" style="float: left; padding-left: 9px;">
        <button class="loginRegisterbtn" id="loginUserSave" onclick="javascript: return loginUserSave_onclick();" style="letter-spacing: 9px; text-transform: uppercase;" type="button">login</button>
    </div>
</div>
<div class="container col-md-12" style="text-align: left;">
    <div id="divRegisterUserProfScrollIntoView" class="col-md-6" style="float: left; padding-right: 9px;">
        @Html.Partial("_ContactUsDetail", Model.ContactUsModel)
    </div>
    <div id="divResetPasswordScrollIntoView" class="col-md-6" style="float: left; padding-left: 9px;">
        @Html.Partial("_ResetPassword", Model.ResetPasswordModel)
    </div>
</div>
<br style="clear: both;" />
<div class="container col-md-12" style="text-align: left;">
    <div class="col-md-6" style="float: left; padding-right: 9px;">
        <button class="loginRegisterbtn" id="registerUserSave" onclick="javascript: return registerUserSave_onclick();" style="letter-spacing: 9px; text-transform: uppercase;" type="button">submit</button>
    </div>
    <div class="col-md-6" style="float: left; padding-left: 9px;">
        <button class="loginRegisterbtn" id="loginUserSave" onclick="javascript: return loginUserSave_onclick();" style="letter-spacing: 9px; text-transform: uppercase;" type="button">reset password</button>
    </div>
</div>
@{
    string scrollIntoViewDocumentElementId = "";
    switch (Model.QueryString)
    {
        case "REGISTER":
            scrollIntoViewDocumentElementId = "divRegisterUserProfScrollIntoView";
            break;
        case "LOGIN":
            scrollIntoViewDocumentElementId = "divLoginUserProfScrollIntoView";
            break;
        case "RESETPASSWORD":
            scrollIntoViewDocumentElementId = "divResetPasswordScrollIntoView";
            break;
        case "":
            break;
        default:
            try
            {
                var htmlContent = ArchLibMenuCache.MenuKVPModels.First(x => x.MenuKVPId == int.Parse(Model.RegisterUserProfModel.QueryString1)).MenuKVPValueData;
                htmlContent = Server.MapPath("~/ClientSpecific/" + clientId + "_" + clientName + "/Documents/HtmlFiles/" + htmlContent);
                var streamReader = new StreamReader(htmlContent);
                htmlContent = streamReader.ReadToEnd();
                streamReader.Close();
                if (htmlContent != "")
                {
                    @Html.Raw(htmlContent)
                }
            }
            catch
            {
            }
            break;
    }
}
<script type="text/javascript">
    if ("@scrollIntoViewDocumentElementId" != "") {
        document.getElementById("@scrollIntoViewDocumentElementId").scrollIntoView();
    }
</script>
