@model ArchitectureLibraryModels.ResetPasswordModel
@using ArchitectureLibraryCacheData
@{
    long clientId = ArchLibCache.ClientId;
}
<table>
    <tr>
        <td style="font-family: Arial; font-size: 15px; text-align: left;">
            <span style="font-weight: bold;">Dear @Model.FirstName @Model.LastName,</span>
            <br /><br />
            This email is to confirm, you requested to reset your password.
            <br /><br />
            Please <a href="@ArchLibCache.GetApplicationDefault(clientId, "BaseUrl", "" )/@ArchLibCache.GetApplicationDefault(0, "UpdatePasswordUrl", "" )/@Model.ResetPasswordQueryString" target="_blank">Click Here</a> to complete the registration process.
            <br /><br />
            Your Reset Password key is <b>@Model.ResetPasswordKey</b>
            <br /><br />
            <span style="background-color: #deecf9;">
                If you did not intend to do this or have any questions, please contact our support @ArchLibCache.GetApplicationDefault(clientId, "ContactPhoneFormatted", "")
                <br /><br />
                Alternatively <a href="@ArchLibCache.GetApplicationDefault(clientId, "BaseUrl", "" )/@ArchLibCache.GetApplicationDefault(0, "ContactUsUrl", "" )" target="_blank">Contact Us Here</a> to let us know.
            </span>
       </td>
    </tr>
</table>
