@using ArchitectureLibraryCacheData
@{
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    var imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
}
<style>
    ul li {
        display: inline-block;
        padding-right: 12px;
    }

    ul ul {
        position: absolute;
        display: none;
        padding: 0;
    }

        ul ul li {
            background-color: #9a031e;
            display: block;
            margin-left: 0;
            padding-bottom: 5px;
            padding-left: 9px;
            text-align: left;
            /*width: 15em;*/
        }

    li:hover ul {
        display: block;
    }
</style>
<ul class="center" style="background-color: #9a031e;">
    <li>
        <a id="menuItem0" href="@Url.Action("Index", "Home")" style="color: #ffffff; font-weight: bold;" title="@imageTitle">
            Home
        </a>
    </li>
    <li>
        <a id="menuItem0" href="@Url.Action("Index", "Home")" style="color: #ffffff; font-weight: bold;" title="@imageTitle">
            Enroll Now
        </a>
    </li>
    <li>
        <a id="menuItem0" href="@Url.Action("Index", "Home")" style="color: #ffffff; font-weight: bold;" title="@imageTitle">
            Register
        </a>
    </li>
    <li>
        <a id="menuItem0" href="@Url.Action("AboutUs", "Home")" style="color: #ffffff; font-weight: bold;" title="@imageTitle">
            About Us
        </a>
    </li>
    <li>
        <a id="menuItem0" href="@Url.Action("ContactUs", "Home")" style="color: #ffffff; font-weight: bold;" title="@imageTitle">
            Contact Us
        </a>
    </li>
    <li>
        <a id="menuItem0" href="@Url.Action("Index", "Home")" style="color: #ffffff; font-weight: bold;" title="@imageTitle">
            FAQs
        </a>
    </li>
    <li>
        <a id="menuItem0" href="@Url.Action("Index", "Home")" style="color: #ffffff; font-weight: bold;" title="@imageTitle">
            Programs
        </a>
    </li>
    <li>
        <a id="menuItem0" href="@Url.Action("Index", "Home")" style="color: #ffffff; font-weight: bold;" title="@imageTitle">
            Tuition
        </a>
    </li>
    <li>
        <a id="menuItem0" href="@Url.Action("Index", "Home")" style="color: #ffffff; font-weight: bold;" title="@imageTitle">
            Catalog
        </a>
    </li>
    <li>
        <a id="menuItem0" href="@Url.Action("Index", "Home")" style="color: #ffffff; font-weight: bold;" title="@imageTitle">
            Login
        </a>
    </li>
    <li>
        <a id="menuItem0" href="javascript: void(0);" style="color: #a0a0a0; font-weight: bold;" title="@imageTitle">
            Profile
        </a>
    </li>
    <li>
        <a id="menuItem0" href="javascript: void(0);" style="color: #a0a0a0; font-weight: bold;" title="@imageTitle">
            Logout
        </a>
    </li>
</ul>
