@using ArchitectureLibraryCacheData
@{
    //_Header.cshtml
    //A-1Truck --> 92
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    var imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
}
<nav id="menu" style="z-index: 10000">
    <i class="glyphicon glyphicon-remove" id="close-icon" style="z-index: 20000"></i>
    @Html.Partial("_HeaderMenuHamburger")
</nav>
@*<div class="container-fluid sticky-top">*@
<div class="container-fluid">
    @Html.Partial("_HeaderStrip")
    <i class="glyphicon glyphicon-th-list" id="toggle-icon"></i>
    <a href="@Url.Action("Index", "Home")" alt="@imageTitle" title="@imageTitle">
        <img class="img-responsive" src="~/ClientSpecific/@(clientId)_@(clientName)/Documents/Images/Image_000.webp" alt="@imageTitle" title="@imageTitle" style="display: block; margin: auto; height: auto; max-height: 99px; max-width: 846px; width: 100%;" />
    </a>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#toggle-icon').click(function () {
            $('#menu').css('top', '0');
            $('#close-icon').css('top', '20px');
            $('#close-icon').show(); // Show close icon when menu is open
        });

        $('#close-icon').click(function () {
            $('#menu').css('top', '-2500px');
            $('#close-icon').hide(); // Hide close icon when menu is closed
        });

        $(window).resize(function () {
            if ($(window).width() > 975) {
                closeCollapsableMenu();
            }
        });

        let closeCollapsableMenu = function () {
            $('#menu').css('top', '-2500px');
            $('#close-icon').hide(); // Hide close icon when menu is closed
        }
    });
</script>
