@using ArchitectureLibraryCacheData
@using RetailSlnCacheData
@using RetailSlnModels
@model ItemSpecMasterListModel
@{
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    var imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
    int index = 0;
}
<style>
    .dataStyle {
        font-family: Arial;
        font-size: 12px;
        padding: 5px;
    }

    .hrefStyle {
        color: #0000ff;
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
        text-decoration: underline;
    }
</style>
<table class="dataStyle table table-bordered table-condensed" style="margin-left: auto; margin-right: auto; padding: 5px; width: 45%;">
    <tr>
        <th>
            #
        </th>
    </tr>
    @foreach (var itemSpecMasterModel in Model.ItemSpecMasterModels)
    {
        index++;
        <tr>
            <td class="dataStyle text-right">
                @index
            </td>
            <td class="dataStyle text-left">
                @itemSpecMasterModel.SpecDesc
            </td>
            <td class="dataStyle text-left">
                @itemSpecMasterModel.CodeTypeModel.CodeTypeDesc
            </td>
            <td class="dataStyle text-center">
                @itemSpecMasterModel.IsMandatory
            </td>
            <td class="dataStyle text-center">
                @itemSpecMasterModel.BookFlag
            </td>
            <td class="dataStyle text-center">
                @itemSpecMasterModel.ProductFlag
            </td>
            <td class="dataStyle text-center">
                @itemSpecMasterModel.ItemMasterFlag
            </td>
            <td class="dataStyle text-center">
                @itemSpecMasterModel.SeqNum
            </td>
        </tr>
    }
</table>
