@using ArchitectureLibraryCacheData
@{
    //_Header.cshtml
    //DivineBija.in --> 97
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    var imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
    bool mobileDevice = Request.Browser.IsMobileDevice;
    //mobileDevice = true;
}
<div class="col-md-12">
    <div style="float: left; vertical-align: top;">
        <a href="@Url.Action("Index", "Home")">
            <img alt="@imageTitle" src="~/ClientSpecific/@(clientId)_@(clientName)/Documents/Images/Image_000.webp" width="81" height="81" title="@imageTitle" />
        </a>
    </div>
    <div style="float: left; vertical-align: top;">
        <span style="color: #9401d9; font-family: 'Times New Roman', sans-serif; font-size: 23px; font-weight: bold;">
            @ArchLibCache.GetApplicationDefault(clientId, "BusinessNameWord1", "")
        </span>
        <br />
        <span class="text-overflow-ellipsis" style="color: #dc3131; font-family: 'Times New Roman', sans-serif; font-size: 16px; font-weight: bold;">
            @ArchLibCache.GetApplicationDefault(clientId, "BusinessNameWord2", "")
        </span>
        @{
            if (mobileDevice)
            {
            }
            else
            {
                @Html.Partial("_DashboardHeaderMenu")
            }
        }
    </div>
    <div style="float: left; padding-left: 18px; padding-top: 15px; vertical-align: top;">
        <div id="divErrorMessage" style="color: #ff0000; font-family: Arial; font-size: 12px; font-weight: bold;"></div>
    </div>
    @{
        if (mobileDevice)
        {
            <div style="float: left; padding-right: 15px;">
                <a href="javascript: void(0);" onclick="javascript: return shoppingCart_onclick();" style="color: #333333; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 900; text-decoration: underline;" title="Home - @imageTitle">
                    View Cart
                </a>
                <br />
                <span id="shoppingCartItemsCount" style="display: none;">0</span>
                <span class="badge badge-warning shoppingCartItemsCount" id="shoppingCartTotalAmount" style="background-color: #9a031e;"></span>
                <span id="shoppingCartItemsCount1" style="display: none;">0</span>
                <span class="badge badge-warning shoppingCartItemsCount" id="shoppingCartTotalAmount1" style="background-color: white; color: #9a031e; display: none;">$0.00</span>
            </div>
            <div style="float: left; vertical-align: top;">
                <a class="icon-bar" href="@Url.Action("Checkout", "Home")" id="hrfHamburgerMenu" @*href="javascript:void(0);" onclick="javascript: return hrfHamburgerMenu_onclick();"*@>
                    <i class="fa fa-bars" style="color: #000000; font-size: 45px;"></i>
                </a>
            </div>
            @Html.Partial("_DashboardHeaderMenuHamburger")
        }
        else
        {
            <div style="float: right; vertical-align: top;">
                @Html.Partial("_DashboardHeaderMenuTop")
            </div>
        }
    }
</div>
