@using ArchitectureLibraryCacheData
@using RetailSlnModels
@model CategoryListModel
@{
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    var imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
    int index = 0;
}
@Html.Partial("_DashboardHeaderMenu")
<br />
<style>
    .dataStyle {
        font-family: Arial;
        font-size: 12px;
    }
    .hrefStyle {
        color: #0000ff;
        font-family: Arial;
        font-size: 10px;
        font-weight: bold;
        text-decoration: underline;
    }
</style>
<table class="table table-condensed table-responsive" style="margin-left: auto; margin-right: auto; width: 90%;">
    <tr>
        <th class="text-right">
            #
        </th>
        <th class="text-right"></th>
        <th class="text-right"></th>
        <th class="text-left">
            Name Desc
        </th>
        <th class="text-left">
            Desc
        </th>
        <th class="text-right">
            Count
        </th>
        <th class="text-left">
            Type
        </th>
        <th class="text-left">
            Status
        </th>
        <th class="text-left">
            Default
        </th>
        <th class="text-left">
            Cat Hier
        </th>
        <th class="text-left">
            Item Hier
        </th>
        <th class="text-left">
            Image
        </th>
    </tr>
    @foreach (var categoryModel in Model.CategoryModels)
    {
        index++;
        <tr>
            <td class="dataStyle text-right">
                @index
            </td>
            <td class="dataStyle text-right">
                @if (categoryModel.CategoryId > 9)
                {
                    <a class="hrefStyle" href="javascript: void(0);">
                        Edit
                    </a>
                }
                else
                {
                    @categoryModel.CategoryId
                }
            </td>
            <td class="dataStyle text-right">
                @if (categoryModel.CategoryId > 9)
                {
                    <a class="hrefStyle" href="javascript: void(0);">
                        View
                    </a>
                }
                else
                {
                    @categoryModel.CategoryId
                }
            </td>
            <td class="dataStyle text-left">
                @categoryModel.CategoryNameDesc
            </td>
            <td class="dataStyle text-left">
                @categoryModel.CategoryDesc
            </td>
            <td class="dataStyle text-right">
                @categoryModel.MaxPerPage
            </td>
            <td class="dataStyle text-left">
                @categoryModel.CategoryTypeId
            </td>
            <td class="dataStyle text-left">
                @categoryModel.CategoryStatusId
            </td>
            <td class="dataStyle text-left">
                @categoryModel.DefaultCategory
            </td>
            <td class="dataStyle text-left">
                @if (@categoryModel.AllowSubCategory)
                {
                    <a class="hrefStyle" href="javascript: void(0);"onclick="javascript: return categoryHier_onclick(@categoryModel.CategoryId);">
                        Category(s)
                    </a>
                }
            </td>
            <td class="text-left">
                <a class="hrefStyle" href="javascript: void(0);" onclick="javascript: return categoryHier_onclick(@categoryModel.CategoryId);">
                    Item(s)
                </a>
            </td>
            <td class="text-left">
                <img src="~/ClientSpecific/@(clientId)_@(clientName)/Documents/Images/Category/@categoryModel.ImageName" style="height: 135px; width: 135px;" />
            </td>
        </tr>
    }
</table>
