@using ArchitectureLibraryCacheData
@{
    //_HeaderMenuTop.cshtml
    //DivineBija.in --> 97
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    var imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
}
<div style="padding-top: 15px; float: right;">
    <div style="float: right; padding-right: 15px;">
        <a href="@Url.Action("Logout", "Home")" style="color: #333333; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 900; text-decoration: underline;" title="Logout - @imageTitle">
            Logout
        </a>
    </div>
    <div style="float: right; padding-right: 15px;">
        <a href="@Url.Action("Checkout", "Dashboard")" style="color: #333333; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 900; text-decoration: underline;" title="Checkout - @imageTitle">
            Checkout
        </a>
    </div>
    <div style="float: right; padding-right: 15px;">
        <a href="javascript: void(0);" onclick="javascript: return shoppingCart_onclick();" style="color: #333333; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 900; text-decoration: underline;" title="Home - @imageTitle">
            View Cart
        </a>
        <br />
        <span id="shoppingCartItemsCount" style="display: none;">0</span>
        <span class="badge badge-warning shoppingCartItemsCount" id="shoppingCartTotalAmount" style="background-color: #9a031e;"></span>
        <span id="shoppingCartItemsCount1" style="display: none;">0</span>
        <span class="badge badge-warning shoppingCartItemsCount" id="shoppingCartTotalAmount1" style="background-color: white; color: #9a031e; display: none;">$0.00</span>
    </div>
</div>
<br style="clear: both;" />
