@using ArchitectureLibraryCacheData
@using RetailSlnCacheData
@using RetailSlnModels
@model ItemMasterListModel
@{
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    var imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
    int itemMasterndex = 0, itemIndex;
}
<style>
    .dataStyle1 {
        font-family: Arial;
        font-size: 12px;
        padding: 5px;
    }

    .dataStyle1 {
        font-family: Arial;
        font-size: 12px;
        padding: 5px;
        text-align: left;
    }

    .dataStyle2 {
        font-family: Arial;
        font-size: 12px;
        padding: 5px;
        text-align: center;
    }

    .dataStyle3 {
        font-family: Arial;
        font-size: 12px;
        padding: 5px;
        text-align: right;
    }

    .hrefStyle {
        color: #0000ff;
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
        text-decoration: underline;
    }
</style>
<table class="dataStyle table table-bordered table-condensed" style="margin-left: auto; margin-right: auto; padding: 5px; width: 90%;">
    <tr>
        <th class="text-left" colspan="9" style="color: #a54000; font-size: 15px;"><a class="hrefStyle" href="javascript: void(0);" onclick="javascript: return itemMasterAddEdit_onclick('');">Add New</a></th>
    </tr>
    <tr>
        <th class="text-center" colspan="9" style="color: #a54000; font-size: 18px; letter-spacing: 4px; text-transform: uppercase;">Item(s) List</th>
    </tr>
    <tr>
        <th>
            #
        </th>
        <th>
            Id
        </th>
        <th>
            Master Desc
        </th>
        <th>
            Item(s)
        </th>
        <th>
            Image
        </th>
    </tr>
    @foreach (var itemMasterModel in Model.ItemMasterModels)
    {
        itemMasterndex++;
        itemIndex = 0;
        <tr>
            <td class="dataStyle3">
                @(itemMasterndex).
            </td>
            <td class="dataStyle3">
                @itemMasterModel.ItemMasterId
            </td>
            <td class="dataStyle1">
                @itemMasterModel.ItemMasterDesc0
                <br style="clear: both;" />
                @itemMasterModel.ItemMasterDesc1
                <br style="clear: both;" />
                @itemMasterModel.ItemMasterDesc2
                <br style="clear: both;" />
                @itemMasterModel.ItemMasterDesc3
                <br style="clear: both;" />
                @itemMasterModel.ItemMasterItemSpecsForDisplayAll
            </td>
            <td class="dataStyle1">
                <table class="dataStyle table table-condensed table-responsive">
                    <colgroup>
                        <col style="width: 27px;" />
                        <col style="width: 27px;" />
                        <col />
                        <col style="width: 54px;" />
                    </colgroup>
                    @foreach (var itemModel in itemMasterModel.ItemModels)
                    {
                        itemIndex++;
                        <tr>
                            <td class="dataStyle3">
                                @(itemIndex).
                            </td>
                            <td class="dataStyle2">
                                @itemModel.ItemId
                            </td>
                            <td class="text-left">
                                @itemModel.ItemItemSpecsForDisplay
                            </td>
                            <td class="text-right">
                                @itemModel.ItemRate.Value.ToString(RetailSlnCache.CurrencyDecimalPlaces, RetailSlnCache.CurrencyCultureInfo).Replace(" ", "")
                            </td>
                        </tr>
                    }
                </table>
            </td>
            <td class="dataStyle1">
                <img src="~/ClientSpecific/@(clientId)_@(clientName)/Documents/Images/ItemMaster/@itemMasterModel.ImageName" style="height: 99px; width: 99px;" />
            </td>
        </tr>
    }
</table>
