@using ArchitectureLibraryCacheData
@using RetailSlnModels
@model ItemMasterListModel
_ItemMasterListData
@{
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    var imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
    int index = 0;
}
<style>
    .dataStyle {
        font-family: Arial;
        font-size: 12px;
        padding: 5px;
    }

    .hrefStyle {
        color: #0000ff;
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
        text-decoration: underline;
    }
</style>
<table class="dataStyle table table-bordered table-condensed" style="margin-left: auto; margin-right: auto; padding: 5px; width: 90%;">
    <tr>
        <th class="text-center" colspan="9" style="color: #a54000; font-size: 18px; letter-spacing: 4px; text-transform: uppercase;">Item(s) List</th>
    </tr>
    <tr>
        <th>
            #
        </th>
        <th>
            Id
        </th>
        <th>
            Master Desc
        </th>
        <th>
            Item(s)
        </th>
        @*<th>
            Spec(s)
        </th>
        <th>
            Info(s)
        </th>*@
        <th>
            Image
        </th>
    </tr>
    @foreach (var itemMasterModel in Model.ItemMasterModels)
    {
        index++;
        <tr>
            <td class="dataStyle text-right">
                @index
            </td>
            <td class="dataStyle text-right">
                @itemMasterModel.ItemMasterId
            </td>
            <td class="dataStyle text-left">
                @itemMasterModel.ItemMasterDesc0
                <br style="clear: both;" />
                @itemMasterModel.ItemMasterDesc1
                <br style="clear: both;" />
                @itemMasterModel.ItemMasterDesc2
                <br style="clear: both;" />
                @itemMasterModel.ItemMasterDesc3
            </td>
            <td class="dataStyle text-left">
                @foreach (var itemModel in itemMasterModel.ItemModels)
                {
                    @(itemModel.ItemShortDesc1 + " " + itemModel.ItemRate)
                    <br />
                }
            </td>
            @*<td class="dataStyle text-left">
            </td>
            <td class="dataStyle text-left">
                <a class="dataStyle hrefStyle" href="javascript: void(0);" onclick="javascript: return itemMasterInfo_onclick(@itemMasterModel.ItemMasterId);">
                    Info(s)
                </a>
            </td>*@
            <td class="dataStyle text-left">
                <img src="~/ClientSpecific/@(clientId)_@(clientName)/Documents/Images/ItemMaster/@itemMasterModel.ImageName" style="height: 99px; width: 99px;" />
            </td>
        </tr>
    }
</table>
