@using ArchitectureLibraryUtility
@model SVCCTempleModels.ContactUsModel
<table class="table-condensed" style="padding: 5px;">
    <tr>
        <td colspan="2" style="padding: 5px; text-align: left;">
            Hello,
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding: 5px; text-align: left; vertical-align: top;">
            We appreciate you contacting @Utilities.GetApplicationValue("SacramentoTempleName"). We will get back to you at the earliest. Below is the information you provided
        </td>
    </tr>
    <tr>
        <td style="padding: 5px; text-align: left; vertical-align: top;">
            First Name
        </td>
        <td style="padding: 5px; text-align: left; vertical-align: top;">
            @Model.FirstName
        </td>
    </tr>
    <tr>
        <td style="padding: 5px; text-align: left; vertical-align: top;">
            Last Name
        </td>
        <td style="padding: 5px; text-align: left; vertical-align: top;">
            @Model.LastName
        </td>
    </tr>
    <tr>
        <td style="padding: 5px; text-align: left; vertical-align: top;">
            Email Address
        </td>
        <td style="padding: 5px; text-align: left; vertical-align: top;">
            @Model.EmailAddress
        </td>
    </tr>
    <tr>
        <td style="padding: 5px; text-align: left; vertical-align: top;">
            Telephone#
        </td>
        <td style="padding: 5px; text-align: left; vertical-align: top;">
            @Model.TelephoneNumber
        </td>
    </tr>
    <tr>
        <td style="padding: 5px; text-align: left; vertical-align: top;">
            Comments
        </td>
        <td style="padding: 5px; text-align: left; vertical-align: top;">
            @Model.Comments
        </td>
    </tr>
</table>
