@using ArchitectureLibraryUtility
<span style="color:#000000; font-family: Arial; font-size: 9pt; font-weight: bold;">
    @Utilities.GetApplicationValue("SacramentoTempleFullName"),&nbsp;
    @Utilities.GetApplicationValue("SacramentoTempleAddressLine1"),&nbsp;
    @Utilities.GetApplicationValue("SacramentoTempleCityName"),&nbsp;
    @Utilities.GetApplicationValue("SacramentoTempleStateAbbrev")&nbsp;
    @Utilities.GetApplicationValue("SacramentoTempleZipCode")
    <br />
    Tel:&nbsp;
    <a href="tel: @long.Parse(Utilities.GetApplicationValue("SacramentoTemplePhone1")).ToString("1-###-###-####")" style="text-decoration: underline;">@long.Parse(Utilities.GetApplicationValue("SacramentoTemplePhone1")).ToString("(###) ###-####")</a>&nbsp;/&nbsp;
    <a href="tel: @long.Parse(Utilities.GetApplicationValue("SacramentoTemplePhone2")).ToString("1-###-###-####")" style="text-decoration: underline;">@long.Parse(Utilities.GetApplicationValue("SacramentoTemplePhone2")).ToString("(###) ###-####")</a>&nbsp;/&nbsp;
    <a href="tel: @long.Parse(Utilities.GetApplicationValue("SacramentoTemplePhone3")).ToString("1-###-###-####")" style="text-decoration: underline;">@long.Parse(Utilities.GetApplicationValue("SacramentoTemplePhone3")).ToString("(###) ###-####")</a>&nbsp;/&nbsp;
    <a href="tel: @long.Parse(Utilities.GetApplicationValue("SacramentoTemplePhone4")).ToString("1-###-###-####")" style="text-decoration: underline;">@long.Parse(Utilities.GetApplicationValue("SacramentoTemplePhone4")).ToString("(###) ###-####")</a>
    <br />
    Weekdays : @Utilities.GetApplicationValue("SacramentoTempleTimingsWeekdays")&nbsp;/&nbsp;
    Weekends : @Utilities.GetApplicationValue("SacramentoTempleTimingsWeekends")
    <br />
</span>
<a href="@Utilities.GetApplicationValue("SacramentoTempleWebUrl1")" style="color:#0000ff; font-family: Arial; font-size: 9pt; text-decoration: underline;" target="_blank">@Utilities.GetApplicationValue("SacramentoTempleWebUrl1")</a>&nbsp;/&nbsp;
<a href="@Utilities.GetApplicationValue("SacramentoTempleWebUrl2")" style="color:#0000ff; font-family: Arial; font-size: 9pt; text-decoration: underline;" target="_blank">@Utilities.GetApplicationValue("SacramentoTempleWebUrl2")</a>&nbsp;/&nbsp;
<a href="@Utilities.GetApplicationValue("SacramentoTempleWebUrl3")" style="color:#0000ff; font-family: Arial; font-size: 9pt; text-decoration: underline;" target="_blank">@Utilities.GetApplicationValue("SacramentoTempleWebUrl3")</a>
<br />
<a href="mailto:@Utilities.GetApplicationValue("SacramentoTempleEmailAddress1")" style="color:#0000ff; font-family: Arial; font-size: 9pt; text-decoration: underline;" target="_blank">@Utilities.GetApplicationValue("SacramentoTempleEmailAddress1")</a>
<br />
Name: Siddhi Vinayaka Cultural Center Inc, A 501(C)(3) tax exempt organization - EIN: 68-0480175
<br />
<br />
<div class="fb-like" data-href="@Utilities.GetApplicationValue("SacramentoTempleFacebookUrl")" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" style="vertical-align:top;zoom:1;display:inline"></div>
<a href="@Utilities.GetApplicationValue("SacramentoTempleFacebookUrl")" target="_blank">
    <img src="~/Images/Sacramento/Facebook.jpg" alt="Find us on Facebook (@Utilities.GetApplicationValue("SacramentoTempleName"))" title="Find us on Facebook (@Utilities.GetApplicationValue("SacramentoTempleName"))" /></a>
<div id="divFacebook" style="margin-left:auto;margin-right:auto;width:240px"></div>
    <script type="text/javascript">
        (
            function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }
                (document, 'script', 'facebook-jssdk')
        );
    </script>
