@using ArchitectureLibraryUtility
@{
    string telNum = long.Parse(Utilities.GetApplicationValue("SacramentoTemplePhone1")).ToString("1-###-###-####");
    string imageTitle = Utilities.GetApplicationValue("SacramentoTempleFullName")
        + ", " + Utilities.GetApplicationValue("SacramentoTempleName")
        + ", " + Utilities.GetApplicationValue("SacramentoTempleAddressLine1")
        + ", " + Utilities.GetApplicationValue("SacramentoTempleCityName")
        + " " + Utilities.GetApplicationValue("SacramentoTempleStateAbbrev")
        + " " + Utilities.GetApplicationValue("SacramentoTempleZipCode")
        + ", " + long.Parse(Utilities.GetApplicationValue("SacramentoTemplePhone1")).ToString("(###) ###-####")
        + ", " + long.Parse(Utilities.GetApplicationValue("SacramentoTemplePhone2")).ToString("(###) ###-####")
        + ", " + long.Parse(Utilities.GetApplicationValue("SacramentoTemplePhone3")).ToString("(###) ###-####")
        + ", " + long.Parse(Utilities.GetApplicationValue("SacramentoTemplePhone4")).ToString("(###) ###-####")
        + ", Weekdays : " + Utilities.GetApplicationValue("SacramentoTempleTimingsWeekdays")
        + ", Weekends : " + Utilities.GetApplicationValue("SacramentoTempleTimingsWeekends")
        ;
}
<table style="border-spacing: 0px; margin: auto; padding: 0px; width: 100%;">
    <tr>
        <td style="text-align: center; width: 100%;">
            <img alt="@imageTitle" class="img-responsive" src="~/Images/Sacramento/HomePage/SVCCBanner.jpg" style="height: auto; max-width: 1341px; width: 100%;" title="@imageTitle" usemap="#SVCCBanner_Map" />
            <map name="SVCCBanner_Map">
                <area target="_blank" alt="@imageTitle" href="tel:@telNum" coords="458,107,577,124" shape="rect">
                <area target="_blank" alt="@imageTitle" href="@Url.Action("ContactUs", "SVCCTempleSacramento")" coords="914,128,1128,146" shape="rect">
                <area target="_blank" alt="@imageTitle" href="@Utilities.GetApplicationValue("SacramentoTempleFacebookUrl")" coords="863,110,1201,127" shape="rect">
            </map>
        </td>
    </tr>
</table>
