@model List<SVCCTempleModels.ImportantDatesModel>
@{
    int i, j;
    SortedList<string, SortedList<int, List<string>>> x = new SortedList<string, SortedList<int, List<string>>>();
    SortedList<int, List<string>> y;
    List<string> z;
    int fontColorIndex;
    string[] fontColors = { "#0000ff", "#ff0000", "#a40000", "#000000" };
    foreach (SVCCTempleModels.ImportantDatesModel importantDatesModels in Model)
    {
        if (importantDatesModels.ImportantDatesId != "")
        {
            if (!x.TryGetValue(importantDatesModels.BeginDate, out y))
            {
                y = new SortedList<int, List<string>>();
                x.Add(importantDatesModels.BeginDate, y);
                y.Add(5001, new List<string>());
                y.Add(5002, new List<string>());
                y.Add(5003, new List<string>());
                y.Add(5004, new List<string>());
                y.Add(5005, new List<string>());
                y.Add(5006, new List<string>());
                y.Add(5007, new List<string>());
                y.Add(5008, new List<string>());
                y.Add(5009, new List<string>());
            }
            y.TryGetValue(int.Parse(importantDatesModels.ImportantDatesId), out z);
            try
            {
                z.Add(DateTime.Parse(importantDatesModels.EventDate).ToString("ddd - M/d"));
            }
            catch
            {
                z.Add("");
            }
            z.Add(importantDatesModels.EventTime);
            z.Add(importantDatesModels.EventText1);
            z.Add(importantDatesModels.EventText2);
            z.Add(importantDatesModels.EventText3);
        }
    }
    //var upcomingEventsModelsListSummary = Model.UpcomingEventsModelsList.Where(a => a.CategoryNameDesc == "SUMMARY").Take(6).ToList();
    //j = upcomingEventsModelsListSummary.Count % 2;
    //if (j > 0)
    //{
    //    for (i = j; i < 2; i++)
    //    {
    //        upcomingEventsModelsListSummary.Add(new SVCCTemple.Models.UpcomingEventsModels());
    //    }
    //}
}
@*@foreach (KeyValuePair<string, SortedList<int, List<string>>> x1 in x)
    {
        foreach (KeyValuePair<int, List<string>> y1 in x1.Value)
        {
            foreach (var z1 in y1.Value)
            {
                <script type="text/javascript">
                    console.log(@y1.Key, "@z1");
                </script>
            }
        }
    }*@
<table style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; font-family: Arial; font-size: 12px; font-weight: bold; padding: 5px;">
    <tr>
        <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #0000ff; padding: 5px; text-align: center;">

        </th>
        <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #0000ff; padding: 5px; text-align: center;">
            Poornima
            <br /><br />
            @*<span style="color: #ff0000;">6:30pm Satyanaryana Pooja</span>*@
            <a href="@ApplicationInstance.Application["BaseURL"]SVCCTempleSacramento/Sponsorship/1031" style="background-color: #d3d3d3; color: #ff0000;" target="_blank">Click to enter Sankalpam</a>
            <br /><br />
            <a href="@ApplicationInstance.Application["BaseURL"]Files/Satyanarayana_1.html" style="background-color: #d3d3d3; color: #000000;" target="_blank">Click to read...</a>
        </th>
        <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #0000ff; padding: 5px; text-align: center;">
            Sankat&nbsp;Chath.
            <br /><br />
            @*<span style="color: #ff0000;">Ganapathy Abhishekam</span><br /><br />*@
            <a href="@ApplicationInstance.Application["BaseURL"]SVCCTempleSacramento/Sponsorship/1032" style="background-color: #d3d3d3; color: #ff0000;" target="_blank">Click to enter Sankalpam</a>
            <br /><br />
            <a href="@ApplicationInstance.Application["BaseURL"]Files/SankataharaChathurthi_1.html" style="background-color: #d3d3d3; color: #000000;" target="_blank">Click to read...</a>
        </th>
        <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #0000ff; padding: 5px; text-align: center;">
            Sashti
            <br /><br />
            @*<span style="color: #ff0000;">6:30pm Subhramanya Abhishekam</span><br /><br />*@
            <a href="@ApplicationInstance.Application["BaseURL"]SVCCTempleSacramento/Sponsorship/1033" style="background-color: #d3d3d3; color: #ff0000;" target="_blank">Click to enter Sankalpam</a>
            <br /><br />
            <a href="@ApplicationInstance.Application["BaseURL"]Files/Sashti_1.html" style="background-color: #d3d3d3; color: #000000;" target="_blank">Click here...</a>
        </th>
        <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #0000ff; padding: 5px; text-align: center;">
            Pradosham
            @*<span style="color: #ff0000;">6:30pm Shiva Abhishekam</span>*@
            <br /><br />
            <a href="@ApplicationInstance.Application["BaseURL"]SVCCTempleSacramento/Sponsorship/1034" style="background-color: #d3d3d3; color: #ff0000;" target="_blank">Click to enter Sankalpam</a>
            <br /><br />
            <a href="@ApplicationInstance.Application["BaseURL"]Files/Pradosham_1.html" style="background-color: #d3d3d3; color: #000000;" target="_blank">Click here...</a>
        </th>
        <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #0000ff; padding: 5px; text-align: center;">
            Start of<br />
            Amavasya<br />
            <span style="color: #000000">Info Only</span><br /><br />
            <a href="@ApplicationInstance.Application["BaseURL"]Files/Amavasya_1.html" style="background-color: #d3d3d3; color: #000000;" target="_blank">Click here...</a>
        </th>
        <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #0000ff; padding: 5px; text-align: center;">
            Start of<br />
            Lunar<br />
            Month<br />
            <span style="color: #000000">Info Only</span>
        </th>
        <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #0000ff; padding: 5px; text-align: center;">
            Start of<br />
            Solar<br />
            Month<br />
            (Rasi)<br />
            <span style="color: #000000">Info Only</span>
        </th>
    </tr>
    @foreach (KeyValuePair<string, SortedList<int, List<string>>> x1 in x)
    {
        <tr>
            <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #ff0000; padding: 5px; text-align: center;">
                @DateTime.Parse(x1.Key).ToString("MMM yyyy")
            </td>
            @foreach (KeyValuePair<int, List<string>> y1 in x1.Value)
            {
                if (y1.Key != 5003 && y1.Key != 5004)
                {
                    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; padding: 5px; text-align: center;">
                        @{
                            fontColorIndex = 0;
                            i = 0;
                            foreach (var z1 in y1.Value)
                            {
                                if (z1 != "")
                                {
                                    if (i == 0)
                                    {
                                        <span>@z1</span>
                                    }
                                    else
                                    {
                                        <span style="color: @(fontColors[fontColorIndex])">@z1</span>
                                        fontColorIndex++;
                                    }
                                    i++;
                                    <br />
                                }
                                else
                                {
                                    fontColorIndex = 0;
                                }
                            }
                        }
                    </td>
                }
            }
        </tr>
    }
</table>
