@model SVCCTempleModels.IndexModel
@using ArchitectureLibraryCacheData
@{
    ViewBag.Title = "Index";
    long clientId = -1;
    string imageTitleChathurlakshaJapaYagnam = "Chathurlaksha Japa Yagnam - 8/28 till 9/17 - SVCC Temple Sacramento";
    string imageTitleGaneshChathurthi = "Mon Sep 18 6:30am, 6:30pm ganesh Chathurthi - SVCC Temple Sacramento";
    string imageTitleMahalayaAmavasya = "Fri Oct 13 Mahalaya Amavasya - SVCC Temple Sacramento";
    string imageTitleSolarEclipse = "Sat Oct 14 Solar Eclipse (Surya Grahanam) - SVCC Temple Sacramento";
}
@Html.Partial("_TodaysInfo")
<table style="margin-left: auto 0; margin-right: auto 0; padding: 9px;">
    <tr>
        <td style="padding: 9px; width: 33%;">
            <a href="@ArchLibCache.GetApplicationDefault(clientId, "BaseUrl", "")/SVCCTempleFremont" style="color: #0000ff; font-size: 18px; font-weight: bold; text-decoration: underline;" target="_blank" title="">Click for SVCC Fremont</a>
        </td>
        <td style="padding: 9px; width: 33%;">
            <a href="@ArchLibCache.GetApplicationDefault(clientId, "BaseUrl", "")/SVCCTempleSacramento/Sponsorship" style="color: #000000; font-size: 15px; font-weight: bold; text-decoration: underline;" target="_blank" title="">Click for Donation & enter Sankalpam</a>
        </td>
        <td style="padding: 9px; width: 33%;">
            <a href="@ArchLibCache.GetApplicationDefault(clientId, "BaseUrl", "")/SVCCTempleSacramento/Sponsorship" style="color: #ff0000; font-size: 18px; font-weight: bold; text-decoration: underline;" target="_blank" title="">Click to watch live</a>
        </td>
    </tr>
</table>
<table style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; margin: auto 0; padding: 5px;">
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #0000ff; font-size: 15px; font-weight: bold;">
                1.
            </span>
            <a alt="@imageTitleChathurlakshaJapaYagnam" title="@imageTitleChathurlakshaJapaYagnam" href="javascript: void(0);" onclick="javascript: document.getElementById('divChathurlakshaJapaYagnam').scrollIntoView();" style="color: #0000ff; font-size: 15px; font-weight: bold; text-decoration: underline;">
                Chathurlaksha Japa Yagnam
            </a>
            <br />
            <span style="color: #000000; font-weight: bold;">
                Aug 28 till Sep 17 - 21 Days<br />
                Starting at 5:30pm<br />
                400,000 japams in prayer & gratitude for Lokakshemam
            </span>
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #ff0000; font-size: 15px; font-weight: bold;">
                2.
            </span>
            <a alt="@imageTitleGaneshChathurthi" title="@imageTitleGaneshChathurthi" href="javascript: void(0);" onclick="javascript: document.getElementById('divGaneshChathurthi').scrollIntoView();" style="color: #ff0000; font-size: 15px; font-weight: bold; text-decoration: underline;">
                Mon Sep 18 - Vinayaka (Ganesh) Chathruthi
            </a>
            <br />
            <span style="color: #000000; font-weight: bold;">
                6:30am till 11:30am & 6pm onwards
            </span>
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #0000ff; font-size: 15px; font-weight: bold;">3. </span>
            <span alt="Fri Sep 29 till Fri Oct 13 Mahalaya Paksha (Pithru Paksha) - SVCC Temple Sacramento" title="Fri Sep 29 till Fri Oct 13 Mahalaya Paksha (Pithru Paksha) - SVCC Temple Sacramento" href="javascript: void(0);" onclick="javascript: document.getElementById('divSwarnaGowriVratam').scrollIntoView();" style="color: #0000ff; font-size: 15px; font-weight: bold; text-decoration: underline;">
                Fri Sep 29 till Fri Oct 13
            </span>
            <br />
            <span alt="Fri Sep 29 till Fri Oct 13 Mahalaya Paksha (Pithru Paksha) - SVCC Temple Sacramento" title="Fri Sep 29 till Fri Oct 13 Mahalaya Paksha (Pithru Paksha) - SVCC Temple Sacramento" href="javascript: void(0);" onclick="javascript: document.getElementById('divSwarnaGowriVratam').scrollIntoView();" style="color: #a54000; font-size: 15px; font-weight: bold; text-decoration: underline;">
                Mahalaya Paksha (Pithru Paksha)
            </span>
            <br />
            <span style="color: #000000; font-weight: bold;">
                Pithru Tharpanam as applicable & per practice
            </span>
        </td>
    </tr>
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #ff0000; font-size: 15px; font-weight: bold;">4. </span>
            <span alt="@imageTitleMahalayaAmavasya" title="@imageTitleMahalayaAmavasya" href="javascript: void(0);" onclick="javascript: document.getElementById('divKrishnaJanmashtami').scrollIntoView();" style="color: #ff0000; font-size: 15px; font-weight: bold; text-decoration: underline;">
                Fri Oct 13 - Mahalaya Amavasya
            </span>
            <br />
            <span alt="@imageTitleMahalayaAmavasya" title="@imageTitleMahalayaAmavasya" href="javascript: void(0);" onclick="javascript: document.getElementById('divKrishnaJanmashtami').scrollIntoView();" style="color: #000000; font-size: 15px; font-weight: bold; text-decoration: underline;">
                Begins 8:05am, Max 9:19am, Ends 10:42am
            </span>
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #0000ff; font-size: 15px; font-weight: bold;">5. </span>
            <span alt="@imageTitleSolarEclipse" title="@imageTitleSolarEclipse" href="javascript: void(0);" onclick="javascript: document.getElementById('divKrishnaJanmashtami').scrollIntoView();" style="color: #0000ff; font-size: 15px; font-weight: bold; text-decoration: underline;">
                Sat Oct 14 - Solar Eclipse (Surya Grahanam)
            </span>
            <br />
            <span style="color: #000000; font-weight: bold;">
                Pithru Tharpanam as applicable & per practice
            </span>
        </td>
    </tr>
</table>
<table style="margin: auto 0; padding: 5px;">
    <tr>
        <td>
            <div id="divGaneshChathurthi" style="font-family: Arial; font-size: 18px; font-weight: bold; text-align: left;">
                <span style="color: #0000ff;">Vinayaka (Ganesh) Chathurthi - Sep 18 2023 - Monday</span><br />
                <img class="img-responsive" src="https://www.svcctemple.org/Images/Sacramento/GaneshChathurthi_20230918.jpg" usemap="#ganeshchathurthi-map" alt="@imageTitleGaneshChathurthi" title="@imageTitleGaneshChathurthi" />
                <map name="ganeshchathurthi-map">
                    <area target="_blank" alt="@imageTitleGaneshChathurthi" title="@imageTitleGaneshChathurthi" href="https://www.svcctemple.org/SVCCTempleSacramento//Sponsorship/1084" coords="690,105,777,163" shape="rect">
                    <area target="_blank" alt="@imageTitleGaneshChathurthi" title="@imageTitleGaneshChathurthi" href="https://www.facebook.com/svcctemple" coords="690,171,780,234" shape="rect">
                </map>
                <br />
                <div class="col-md-5" style="float: left;">
                    <span style="color: #ff0000;">6;30am - Suprabatham</span><br />
                    <span style="color: #0000ff;">7:30am - Maha Ganapathi Homam</span><br />
                    <span style="color: #ff0000;">10am - Maha Ganapathi Abhishekam</span><br />
                    <span style="color: #0000ff;">11am - Varasiddhi Vinayaka Vratam</span><br />
                    <br />
                    <span style="color: #ff0000;">Archana</span><br />
                    <span style="color: #000000;">Mantra Pushpam</span><br />
                    <span style="color: #a54000;">Maha Mangala Aarthi</span><br />
                    <span style="color: #0000ff;">Theertha Prasada Viniyogam</span>
                    <br /><br />
                    <a href="https://www.svcctemple.org/Files/GaneshChathurthi_1.html" style="color: #000000; font-family: Arial; font-size: 20px; font-weight: bold; text-decoration: underline;" target="_blank" alt="@imageTitleGaneshChathurthi" title="@imageTitleGaneshChathurthi">Click to read more about Ganesh Chathurthi</a>
                </div>
                <div class="col-md-4" style="float: left; padding-left: 15px;">
                    <a alt="@imageTitleGaneshChathurthi" title="@imageTitleGaneshChathurthi" href="https://www.svcctemple.org/SVCCTempleSacramento/Sponsorship/1084" style="color: #0000ff; font-size: 20px; font-weight: bold; text-decoration: underline;" target="_blank">Please click here to enter Sankalpam</a><br />
                    <a alt="Scan QR code to enter Sankalpam @imageTitleGaneshChathurthi" title="Scan QR code to enter Sankalpam @imageTitleGaneshChathurthi" href="/SVCCTempleSacramento/Sponsorship/1084" target="_blank">
                        <img class="img-responsive" src="https://www.svcctemple.org/Images/Sacramento/QRCodes/GaneshChathurthi_20230918_QRCode.png" alt="Scan QR code to enter Sankalpam @imageTitleGaneshChathurthi" title="Scan QR code to enter Sankalpam @imageTitleGaneshChathurthi" style="height: 189px; width: 189px;" />
                    </a>
                    <br style="clear: both;" />
                    <a href="https://www.facebook.com/svcctemplesacramento" style="color: #0000ff; font-size: 20px; font-weight: bold; text-decoration: underline;" target="_blank" alt="@imageTitleGaneshChathurthi" title="@imageTitleGaneshChathurthi">Click to watch live !!!</a>
                </div>
            </div>
            <br style="clear: both;" />
            <hr style="border-color: #000000; border-style: solid; border-width: 1px;">
        </td>
    </tr>
    <tr>
        <td>
            <div id="divChathurlakshaJapaYagnam" style="font-family: Arial; font-size: 16px; font-weight: bold; text-align: left;">
                <span style="color: #0000ff; text-decoration: underline;">Chathurlaksha Japa Yagnam</span><span style="padding: 27px;">&nbsp;</span><a href="javascript: void(0);" alt="Back to top SVCC Temple Sacramento" title="Back to top SVCC Temple Fremont" onclick="javascript: document.getElementById('divUpcomingLinks').scrollIntoView();" style="color: #a54000; font-size: 23px; font-weight: bold; text-decoration: underline;">Back to top</a>
                <br />
                <span style="color: #ff0000;">Aug 28 to Sep 17 2023</span><br />
                <span style="color: #0000ff;">Lokakshemartham Ganesha Chathurthi Mahotsava Poorvanga Yagnam</span><br />
                Om Gam Ganapathaye Namah<br />
                <a alt="@imageTitleChathurlakshaJapaYagnam" title="@imageTitleChathurlakshaJapaYagnam" style="color: #ff0000; font-size: 18px; font-weight: bold; text-decoration: underline;" target="_blank" href="https://docs.google.com/forms/d/10biopCW_ZO_gJjvLa-kNDnqf-nacDHZxskyuYoXyung/viewform?edit_requested=true">Please click here to sign up</a>&nbsp;&nbsp;&nbsp;&nbsp;<a style="color: #0000ff; font-size: 18px; font-weight: bold; text-decoration: underline;" target="_blank" href="~/Images/Sacramento/ChathurlakshaJapaYagnam_20230828_20230917.pdf" alt="@imageTitleChathurlakshaJapaYagnam" title="@imageTitleChathurlakshaJapaYagnam">Details (PDF)</a><br />
                <a alt="@imageTitleChathurlakshaJapaYagnam" title="@imageTitleChathurlakshaJapaYagnam" style="color: #0000ff; font-size: 18px; font-weight: bold; text-decoration: underline;" target="_blank" href="https://www.svcctemple.org/SVCCTempleSacramento/Sponsorship/1079">Click here for Sankalpam</a><br />
                <img class="img-responsive" usemap="#chathurlakshajapayagnam-map" alt="@imageTitleChathurlakshaJapaYagnam" title="@imageTitleChathurlakshaJapaYagnam" src="https://www.svcctemple.org/Images/Sacramento/ChathurlakshaJapaYagnam_20230828_20230917.jpg" /><br />
                <map name="chathurlakshajapayagnam-map">
                    <area target="_blank" alt="@imageTitleChathurlakshaJapaYagnam" title="@imageTitleChathurlakshaJapaYagnam" href="https://docs.google.com/forms/d/10biopCW_ZO_gJjvLa-kNDnqf-nacDHZxskyuYoXyung/viewform?edit_requested=true" coords="511,476,48" shape="circle">
                </map>
                Ekadanthaya Vidmahe Vakrathundaya Dhimahi Thanno Dhanthi Prachodhayath<br /><br />
                With the grace and blessings of Sri Siddhi Vinayaka SVCC Sacramento invites you, your family and friends to participate in the 21 day Moola Manthra Sahitha Ganapathi Gayathri Japam for lokakshemartham. This yagnam offers over 400,000 japams in prayer and gratitude for Lokakshemam<br />
                <table style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 9px;">
                    <tr>
                        <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 9px;">
                            Time
                        </th>
                        <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 9px;">
                            Event
                        </th>
                        <th rowspan="6" style="vertical-align: top;">
                            <a alt="Scan QR code to enter Sankalpam @imageTitleChathurlakshaJapaYagnam" title="Scan QR code to enter Sankalpam @imageTitleChathurlakshaJapaYagnam" href="https://www.svcctemple.org/SVCCTempleSacramento/Sponsorship/1079" target="_blank">
                                <img class="img-responsive" src="https://www.svcctemple.org/Images/Sacramento/QRCodes/KrishnaJanmashtami_20230906_20230907_QRCode.png" alt="Scan QR code to enter Sankalpam @imageTitleChathurlakshaJapaYagnam" title="Scan QR code to enter Sankalpam @imageTitleChathurlakshaJapaYagnam" style="height: 189px; width: 189px;" />
                            </a>
                        </th>
                    </tr>
                    <tr>
                        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 9px; text-align: left;">
                            5:30pm
                        </td>
                        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 9px; text-align: left;">
                            Sankalpam
                        </td>
                    </tr>
                    <tr>
                        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 9px; text-align: left;">
                            6pm
                        </td>
                        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 9px; text-align: left;">
                            Upanishad parayanam (Ganapathi Atharvaseersham)
                        </td>
                    </tr>
                    <tr>
                        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 9px; text-align: left;">
                            6:30pm
                        </td>
                        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 9px; text-align: left;">
                            Sri Mahaganapathi Abhishekam
                        </td>
                    </tr>
                    <tr>
                        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 9px; text-align: left;">
                            7pm
                        </td>
                        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 9px; text-align: left;">
                            Moola Manthra Sahitha Ganapathi Gayathri Japam
                        </td>
                    </tr>
                    <tr>
                        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 9px; text-align: left;">
                            8pm
                        </td>
                        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 9px; text-align: left;">
                            Mahamangala Aarthi, Theertha Prasada Viniyogam
                        </td>
                    </tr>
                </table>
                Regards from Pandit Umashankar Dixit, Subba Rao and other priests
            </div>
            <br style="clear: both;" />
            <hr style="border-color: #000000; border-style: solid; border-width: 1px;">
        </td>
    </tr>
    <tr>
        <td>
            @Html.Partial("_ImportantDates", Model.ImportantDatesModels)
            <br style="clear: both;" />
            <hr style="border-color: #000000; border-style: solid; border-width: 1px;">
            @Html.Partial("_DailyWeeklyRecurringSchedule")
            <br style="clear: both;" />
            <hr style="border-color: #000000; border-style: solid; border-width: 1px;">
        </td>
    </tr>
</table>
<script type="text/javascript">
    function window_onload() {
    }
</script>
