<style>
    .menuItemFooter {
        color: #000000;
        font-family: Roboto, sans-serif;
        font-size: 12px;
        font-weight: 900;
        padding-left: 5px;
        padding-right: 5px;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 5px;
    }

        .menuItemFooter:hover {
            text-decoration: underline;
            text-decoration-color: #61ce70;
            text-decoration-thickness: 3px;
            text-underline-offset: 5px;
        }

    .active {
        text-decoration: underline;
        text-decoration-color: #61ce70;
        text-decoration-thickness: 3px;
        text-underline-offset: 5px;
    }
</style>
@{
    string viewDataActionName, selectedMenu, urlString;
    try
    {
        viewDataActionName = ViewData["ActionName"].ToString();
    }
    catch
    {
        viewDataActionName = "";
    }
}
@{
    var menuLayoutModels = ArchitectureLibraryMenuCacheData.ArchLibMenuCache.ParentMenuLayoutModels["FOOTERMENU"];
    foreach (var menuLayoutModel in menuLayoutModels)
    {
        if (viewDataActionName == menuLayoutModel.MenuUrlAction.ActionName)
        {
            selectedMenu = "menuItemFooter active";
        }
        else
        {
            selectedMenu = "menuItemFooter";
        }
        urlString = Url.Action(menuLayoutModel.MenuUrlAction.ActionName, menuLayoutModel.MenuUrlAction.ControllerName);
        if (!string.IsNullOrWhiteSpace(menuLayoutModel.MenuUrlAction.QueryString))
        {
            urlString += "?" + menuLayoutModel.MenuUrlAction.QueryString;
        }
        switch (menuLayoutModel.MenuUrlAction.AccessType)
        {
            case "PUBLIC":
                <a class="@selectedMenu" href="@urlString" @menuLayoutModel.MenuUrlAction.HrefTarget style="width: @menuLayoutModel.MenuUrlAction.HrefWidth;">@menuLayoutModel.MenuUrlAction.LinkText</a>
                break;
            case "SECURED20":
                <a class="@selectedMenu" href="@urlString" @menuLayoutModel.MenuUrlAction.HrefTarget style="width: @menuLayoutModel.MenuUrlAction.HrefWidth;">@menuLayoutModel.MenuUrlAction.LinkText</a>
                break;
            case "SECURED40":
                <a class="@selectedMenu" href="@urlString" @menuLayoutModel.MenuUrlAction.HrefTarget style="width: @menuLayoutModel.MenuUrlAction.HrefWidth;">@menuLayoutModel.MenuUrlAction.LinkText</a>
                break;
            case "SECURED60":
                <a class="@selectedMenu" href="@urlString" @menuLayoutModel.MenuUrlAction.HrefTarget style="width: @menuLayoutModel.MenuUrlAction.HrefWidth;">@menuLayoutModel.MenuUrlAction.LinkText</a>
                break;
            default:
                break;
        }
    }
}
