@using ArchitectureLibraryCacheData
@{
    //DivineBija.in --> 97
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    var imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
}
<div style="float: left;">
    <img alt="@imageTitle" class="img-responsive" src="~/ClientSpecific/@(clientId)_@(clientName)/Documents/Images/Image_000.webp" style="height: 90px; width: 96px;" title="@ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "")" />
</div>
<div style="padding-left: 27px; text-align: left;">
    <span style="color: #9401d9; font-family: 'Times New Roman', sans-serif; font-size: 20px; font-weight: bold;">@ArchLibCache.GetApplicationDefault(clientId, "BusinessNameWord1", "")</span>
    &nbsp;
    <span style="color: #dc3131; font-family: 'Times New Roman', sans-serif; font-size: 20px; font-weight: bold;">@ArchLibCache.GetApplicationDefault(clientId, "BusinessNameWord2", "")</span>
    &nbsp;
    <span style="color: #000000; font-family: 'Times New Roman', sans-serif; font-size: 20px; font-weight: 900;">@ArchLibCache.GetApplicationDefault(clientId, "BusinessNameWord3", "")</span>
    <br />
    <span style="font-weight: 900; color: #000000;">
        A story of motivation, passion and unconditional commitment
    </span>
    <table>
        <tr>
            <td style="vertical-align: top;">
                @Html.Partial("_HeaderMenu2")
            </td>
        </tr>
    </table>
</div>
