@{
    string viewDataActionName, selectedMenu, loggedInUserFullName, urlString, redirectUrlString;
    try
    {
        viewDataActionName = ViewData["ActionName"].ToString();
    }
    catch
    {
        viewDataActionName = "";
    }
    ArchitectureLibraryModels.SessionObjectModel sessionObjectModel;
    if (Session["SessionObject"] != null)
    {
        sessionObjectModel = (ArchitectureLibraryModels.SessionObjectModel)Session["SessionObject"];
        loggedInUserFullName = sessionObjectModel.FirstName + " " + sessionObjectModel.LastName;
    }
    else
    {
        sessionObjectModel = null;
        loggedInUserFullName = "";
    }
}
<style>
    .menuul {
        list-style-type: none;
        margin: auto 0;
        padding: 0;
        /*overflow:hidden;*/
        display: inline-block;
    }

    .menuli {
        float: left;
        display: inline;
        /*padding-left: 6px;*/
        padding-right: 3px;
    }

        .menuli a {
            color: #282424;
            display: inline;
            float: left;
            font-family: sans-serif;
            font-size: 11px;
            font-weight: 900;
            text-decoration: underline;
            text-decoration-color: #000000;
            text-decoration-thickness: 1px;
            text-underline-offset: 5px;
        }

            .menuli a:hover {
                text-decoration: underline;
                text-decoration-color: #61ce70;
                text-decoration-thickness: 3px;
                text-underline-offset: 5px;
            }

            .menuli a.active {
                text-decoration: underline;
                text-decoration-color: #61ce70;
                text-decoration-thickness: 3px;
                text-underline-offset: 5px;
            }
</style>
<div class="menu" style="margin: 0 auto; text-align: center; width: 100%;">
    <ul class="menuul">
        @{
            var menuLayoutModels = ArchitectureLibraryMenuCacheData.ArchLibMenuCache.ParentMenuLayoutModels["HEADERMENU"];
            foreach (var menuLayoutModel in menuLayoutModels)
            {
                if (viewDataActionName == menuLayoutModel.MenuUrlAction.ActionName || "id=" + viewDataActionName == menuLayoutModel.MenuUrlAction.QueryString)
                {
                    selectedMenu = "active";
                }
                else
                {
                    selectedMenu = "";
                }
                urlString = Url.Action(menuLayoutModel.MenuUrlAction.ActionName, menuLayoutModel.MenuUrlAction.ControllerName);
                if (!string.IsNullOrWhiteSpace(menuLayoutModel.MenuUrlAction.QueryString))
                {
                    urlString += "?" + menuLayoutModel.MenuUrlAction.QueryString;
                }
                if (string.IsNullOrWhiteSpace(menuLayoutModel.MenuUrlAction.RedirectActionName))
                {
                    redirectUrlString = "";
                }
                else
                {
                    redirectUrlString = Url.Action(menuLayoutModel.MenuUrlAction.RedirectActionName, menuLayoutModel.MenuUrlAction.RedirectControllerName);
                    if (!string.IsNullOrWhiteSpace(menuLayoutModel.MenuUrlAction.RedirectQueryString))
                    {
                        redirectUrlString += "?" + menuLayoutModel.MenuUrlAction.RedirectQueryString;
                    }
                    if (!string.IsNullOrWhiteSpace(menuLayoutModel.MenuUrlAction.RedirectMessage))
                    {
                        redirectUrlString += "?id=" + menuLayoutModel.MenuUrlAction.RedirectMessageId;
                    }
                }
                switch (menuLayoutModel.MenuUrlAction.AccessType)
                {
                    case "PUBLIC": //Show this menu logged in or not
                        <li class="menuli"><a class="@selectedMenu" href="@urlString" @menuLayoutModel.MenuUrlAction.HrefTarget style="padding-right: 6px; width: @menuLayoutModel.MenuUrlAction.HrefWidth;">@menuLayoutModel.MenuUrlAction.LinkText</a></li>
                        break;
                    case "SECURED": //Show this menu only when logged in
                        if (sessionObjectModel == null)
                        {
                        }
                        else
                        {
                            <li class="menuli"><a class="@selectedMenu" href="@Url.Action(menuLayoutModel.MenuUrlAction.ActionName, menuLayoutModel.MenuUrlAction.ControllerName)" @menuLayoutModel.MenuUrlAction.HrefTarget style="padding-right: 6px; width: @menuLayoutModel.MenuUrlAction.HrefWidth;">@menuLayoutModel.MenuUrlAction.LinkText</a></li>
                        }
                        break;
                    case "SECURED20": //Show this menu when logged in and when not logged as disabled
                        if (sessionObjectModel == null)
                        {
                            <li class="menuli"><a class="@selectedMenu" href="@redirectUrlString" @menuLayoutModel.MenuUrlAction.HrefTarget style="color: #a0a0a0; padding-right: 6px; width: @menuLayoutModel.MenuUrlAction.HrefWidth;">@menuLayoutModel.MenuUrlAction.LinkText</a></li>
                        }
                        else
                        {
                            <li class="menuli"><a class="@selectedMenu" href="@urlString" @menuLayoutModel.MenuUrlAction.HrefTarget style="padding-right: 6px; width: @menuLayoutModel.MenuUrlAction.HrefWidth;">@menuLayoutModel.MenuUrlAction.LinkText</a></li>
                        }
                        break;
                    case "SECURED40": //Show this menu only when not logged in
                        if (sessionObjectModel == null)
                        {
                            <li class="menuli"><a class="@selectedMenu" href="@urlString" @menuLayoutModel.MenuUrlAction.HrefTarget style="padding-right: 6px; width: @menuLayoutModel.MenuUrlAction.HrefWidth;">@menuLayoutModel.MenuUrlAction.LinkText</a></li>
                        }
                        break;
                    case "SECURED60": //Show this menu when bot logged in and when logged as disabled
                        if (sessionObjectModel == null)
                        {
                            <li class="menuli"><a class="@selectedMenu" href="@urlString" @menuLayoutModel.MenuUrlAction.HrefTarget style="padding-right: 6px; width: @menuLayoutModel.MenuUrlAction.HrefWidth;">@menuLayoutModel.MenuUrlAction.LinkText</a></li>
                        }
                        else
                        {
                            <li class="menuli"><a class="@selectedMenu" href="@redirectUrlString" @menuLayoutModel.MenuUrlAction.HrefTarget style="color: #a0a0a0; padding-right: 6px; width: @menuLayoutModel.MenuUrlAction.HrefWidth;">@menuLayoutModel.MenuUrlAction.LinkText</a></li>
                        }
                        break;
                    default:
                        break;
                }
            }
            @*<li class="menuli">
                    <div class="dropdown">
                        <a class=" dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding:5px; font-size: 13px; width: 45px;">ADMIN&#9660;</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="border: none; background-color: #ffffff;">
                            <a class="dropdown-item" href="#" style="border: none; font-size: 14px; text-align: left; width: 100%;"><span style="color: #000000; padding-right: 12px;">&#8226;</span>User Profile</a>
                            <a class="dropdown-item" href="#" style="border: none; font-size: 14px; text-align: left; width: 100%;"><span style="color: #000000; padding-right: 12px;">&#8226;</span>Class Enroll</a>
                        </div>
                    </div>
                </li>*@
            @*if (sessionObjectModel == null)
                {
                    <li class="menuli"><a href="@Url.Action("RegisterUserLoginUser", "Home")" style="width: 45px;">REGISTER / LOGIN</a></li>
                }
                else
                {
                    <li class="menuli"><a href="@Url.Action("Logout", "Home")" style="width: 45px;">LOGOUT</a></li>
                }*@
            @*if (sessionObjectModel == null)
                {
                }
                else
                {
                    if (sessionObjectModel.AspNetRoleName == "Admin")
                    {
                        <li class="menuli">
                            <div class="dropdown">
                                <a class=" dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding:5px; font-size: 13px; width: @ArchitectureLibraryMenuCacheData.ArchLibMenuCache.MenuListModels_1[i].HrefWidth;">@ArchitectureLibraryMenuCacheData.ArchLibMenuCache.MenuListModels_1[i].LinkText&#9660;</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="border: none; background-color: #ffffff;">
                                    @for (int j = 0; j < ArchitectureLibraryMenuCacheData.ArchLibMenuCache.MenuListModels_1[i].ChildMenuListModels.Count; j++)
                                    {
                                        <a class="dropdown-item" href="#" style="border: none; font-size: 14px; text-align: left; width: 100%;">&#8226;&nbsp;@ArchitectureLibraryMenuCacheData.ArchLibMenuCache.MenuListModels_1[i].ChildMenuListModels[j].LinkText</a>
                                    }
                                </div>
                            </div>
                        </li>
                    }
                }*@
        }
    </ul>
    @if (sessionObjectModel != null)
    {
        <br style="clear: both;" />
        <span style="color: #000000; font-size: 15px; font-weight: bold; padding-left: 5px; vertical-align: top;">@loggedInUserFullName<span style="padding-left: 5px;">@sessionObjectModel.EmailAddress</span></span>
    }
</div>
<div id="divErrorMessage" style="color: #ff0000; font-family: Arial; font-size: 14px; font-weight: bold; text-align: left;"></div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery(".menu").meanmenu();
        jQuery(".menuli a").css({ "width": "100%", "padding": "3px" });
    });
</script>
