@using ArchitectureLibraryCacheData
@using RetailSlnCacheData
@using RetailSlnModels
@{
    //DivineBija.in --> 97
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    var imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
    CategoryLayoutModel categoryLayoutModel = RetailSlnCache.CategoryLayoutModels[0];
    List<CategoryItemHierModel> categoryItemHierModels = categoryLayoutModel.CategoryItemHierModels;
    int mainCategoryCount = 5;
}
<style>
    .navClass {
        background-color: #9a031e;
        padding: 0;
        padding-bottom: 9px;
        padding-top: 9px;
        position: relative;
        /*font-size: 100%;*/
        text-align: left;
        transition: background-color 0.3s ease; /* Smooth color transition */
    }

        .navClass ul {
            display: inline-block;
            /*font-size: 100%;*/
            list-style-type: none;
            margin: 0.5em;
            overflow: hidden;
            padding-left: 0;
        }

        .navClass li {
            /*border-bottom: 1px solid #002171;*/
            display: inline-flex;
            padding-right: 18px;
        }

        .navClass a {
            text-decoration: none;
            display: block;
        }

        .navClass a {
            text-decoration: underline;
            display: block;
        }

            .navClass a.active {
                text-decoration: underline;
                text-decoration-color: #61ce70;
                text-decoration-thickness: 2px;
                text-underline-offset: 4px;
            }

            .navClass a:hover {
                box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
                /*color: cornflowerblue !important;
                color: #a52f00;
                background-color: #000000;*/
                text-decoration: underline;
                text-decoration-color: cornflowerblue !important;
                text-decoration-thickness: 2px;
                text-underline-offset: 4px;
            }

        .navClass ul ul {
            position: absolute;
            display: none;
            padding: 0;
        }

            .navClass ul ul li {
                background-color: #9a031e;
                display: block;
                margin-left: 0;
                padding-bottom: 5px;
                padding-left: 9px;
                text-align: left;
                /*width: 15em;*/
            }

        .navClass li:hover ul {
            display: block;
        }
</style>
<nav class="navClass">
    <ul>
        <li>
            <span id="menuCategoryId0" style="display: none;">-1</span>
            <a id="menuItem0" href="@Url.Action("Index", "Home")" style="color: #ffffff; font-weight: bold;" title="@imageTitle">
                Home
            </a>
        </li>
        @{
            int i, index = 0;
            for (i = 0; i < mainCategoryCount && i < categoryItemHierModels.Count; i++)
            {
                index++;
                <li>
                    <span id="menuCategoryId@(index)" style="display: none;">@categoryItemHierModels[i].CategoryModel.CategoryId</span>
                    <a id="menuItem@(index)" href="javascript: void(0);" onclick="javascript: return categoryId_onclick(@categoryItemHierModels[i].CategoryId, 1, @index);" style="color: #ffffff; font-weight: bold;" title="@(categoryItemHierModels[i].CategoryModel.CategoryDesc + " " + imageTitle)">
                        @categoryItemHierModels[i].CategoryModel.CategoryDesc
                    </a>
                </li>
            }
        }
        <li>
            <a href="#" style="color: #ffffff; font-weight: bold;" title="@imageTitle">More...</a>
            <ul>
                @for (; i < categoryItemHierModels.Count; i++)
                {
                    index++;
                    <li>
                        <span id="menuCategoryId@(index)" style="display: none;">@categoryItemHierModels[i].CategoryModel.CategoryId</span>
                        <a id="menuItem@(index)" href="javascript: void(0);" onclick="javascript: return categoryId_onclick(@categoryItemHierModels[i].CategoryId, 1, @index);" style="color: #ffffff; font-weight: bold;" title="@(categoryItemHierModels[i].CategoryModel.CategoryDesc + " " + imageTitle)">
                            @categoryItemHierModels[i].CategoryModel.CategoryDesc
                        </a>
                    </li>
                }
            </ul>
        </li>
        <li>
            <a href="#">
                <span id="selectedCategoryDesc" style="color: #61ce70; font-weight: bold;">All Items (Products)</span>
            </a>
        </li>
    </ul>
</nav>
<script type="text/javascript">
    var categoryCount = parseInt("@categoryItemHierModels.Count");
    function categoryId_onclick(categoryId, pageNum) {
        console.log("categoryId_onclick", "00000000", "ENTER!!!");
        $("#loadingModal").modal({ backdrop: 'static', keyboard: false });
        document.getElementById("divErrorMessage").innerHTML = "";
        var url = "@Url.Action("OrderCategoryItem", "Home")" + "?id=" + categoryId + "&pageNum=" + pageNum;
        $.ajax({
            url: url,
            type: "GET",
            //contentType: "application/json; charset=utf-8",
            //dataType: "json",
            //data: jsonPostDataString,
            success: function (responseData, textStatus, request) {
                $('#loadingModal').modal('hide');
                console.log("00001000", "categoryId_onclick success", responseData.processMessage);
                if (responseData.success) {
                    document.getElementById("selectedCategoryDesc").innerHTML = "";
                    var menuItemObject, menuCategoryIdObject;
                    for (var i = 1; i < categoryCount; i++) {
                        menuItemObject = document.getElementById("menuItem" + i);
                        menuCategoryIdObject = document.getElementById("menuCategoryId" + i);
                        if (menuCategoryIdObject.innerHTML == categoryId) {
                            menuItemObject.className = "active";
                            //console.log(menuItemObject);
                            document.getElementById("selectedCategoryDesc").innerHTML = menuItemObject.innerHTML;
                        }
                        else {
                            menuItemObject.className = "";
                        }
                    }
                    document.getElementById("divOrderItem").innerHTML = responseData.htmlString;
                    document.getElementById("divContainer").scrollIntoView();
                }
                else {
                    document.getElementById("divErrorMessage").innerHTML = responseData.htmlString;
                    document.getElementById("divErrorMessage2").innerHTML = responseData.htmlString;
                }
            },
            error: function (xhr, exception) {
                $('#loadingModal').modal('hide');
                console.log("categoryId_onclick", "00099000", "ERROR???");
                document.getElementById("divErrorMessage").innerHTML = "Error occurred";
                document.getElementById("divErrorMessage2").innerHTML = "Error occurred";
                console.log(xhr, exception);
            }
        });
    }
</script>
