@{
    string redirectUrlString, selectedMenu = "", urlString, viewDataActionName;
    int i;
    var menuLayoutModels = ArchitectureLibraryMenuCacheData.ArchLibMenuCache.ParentMenuLayoutModels["HEADERMENU"];
    try
    {
        viewDataActionName = ViewData["ActionName"].ToString();
    }
    catch
    {
        viewDataActionName = "";
    }
    ArchitectureLibraryModels.SessionObjectModel sessionObjectModel;
    if (Session["SessionObject"] != null)
    {
        sessionObjectModel = (ArchitectureLibraryModels.SessionObjectModel)Session["SessionObject"];
    }
    else
    {
        sessionObjectModel = null;
    }
    ArchitectureLibraryMenuModels.MenuLayoutModel menuLayoutModel;
}
<ul class="nav navbar-nav">
    @{
        for (i = 0; i < menuLayoutModels.Count; i++)
        {
            menuLayoutModel = menuLayoutModels[i];
            if (menuLayoutModel.MenuListModel.MenuListNameDesc == "REGISTER")
            {
                break;
            }
            if (viewDataActionName == menuLayoutModel.MenuUrlAction.ActionName || "id=" + viewDataActionName == menuLayoutModel.MenuUrlAction.QueryString)
            {
                selectedMenu = "active";
            }
            else
            {
                selectedMenu = "";
            }
            urlString = Url.Action(menuLayoutModel.MenuUrlAction.ActionName, menuLayoutModel.MenuUrlAction.ControllerName);
            <li>
                <a class="@selectedMenu" href="@urlString" @menuLayoutModel.MenuUrlAction.HrefTarget style="color: #ffffff; font-weight: bold; padding-right: 6px; width: @menuLayoutModel.MenuUrlAction.HrefWidth;">
                    @menuLayoutModel.MenuUrlAction.LinkText
                </a>
            </li>
        }
    }
</ul>
<ul class="nav navbar-nav navbar-right">
    @{
        for (; i < menuLayoutModels.Count; i++)
        {
            menuLayoutModel = menuLayoutModels[i];
            urlString = Url.Action(menuLayoutModel.MenuUrlAction.ActionName, menuLayoutModel.MenuUrlAction.ControllerName);
            if (string.IsNullOrWhiteSpace(menuLayoutModel.MenuUrlAction.RedirectActionName))
            {
                redirectUrlString = "";
            }
            else
            {
                redirectUrlString = Url.Action(menuLayoutModel.MenuUrlAction.RedirectActionName, menuLayoutModel.MenuUrlAction.RedirectControllerName);
                if (!string.IsNullOrWhiteSpace(menuLayoutModel.MenuUrlAction.RedirectQueryString))
                {
                    redirectUrlString += "?" + menuLayoutModel.MenuUrlAction.RedirectQueryString;
                }
                if (!string.IsNullOrWhiteSpace(menuLayoutModel.MenuUrlAction.RedirectMessage))
                {
                    redirectUrlString += "?id=" + menuLayoutModel.MenuUrlAction.RedirectMessageId;
                }
            }
            switch (menuLayoutModel.MenuUrlAction.AccessType)
            {
                case "PUBLIC": //Show this menu logged in or not
                    <li>
                        <a class="@selectedMenu" href="@urlString" @menuLayoutModel.MenuUrlAction.HrefTarget style="color: #ffffff; font-weight: bold; padding-right: 6px; width: @menuLayoutModel.MenuUrlAction.HrefWidth;">
                            @menuLayoutModel.MenuUrlAction.LinkText
                        </a>
                    </li>
                    break;
                case "SECURED20": //Show this menu when logged in and when not logged as disabled
                    if (sessionObjectModel == null)
                    {
                        <li style="vertical-align: middle;">
                            <a href="javascript: void(0);" @menuLayoutModel.MenuUrlAction.HrefTarget style="color: #a0a0a0; font-weight: bold; padding-right: 6px; width: @menuLayoutModel.MenuUrlAction.HrefWidth;">
                                @menuLayoutModel.MenuUrlAction.LinkText
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="@selectedMenu" href="@urlString" @menuLayoutModel.MenuUrlAction.HrefTarget style="color: #ffffff; padding-right: 6px; width: @menuLayoutModel.MenuUrlAction.HrefWidth;">
                                @menuLayoutModel.MenuUrlAction.LinkText
                            </a>
                        </li>
                    }
                    break;
                @*case "SECURED40": //Show this menu only when not logged in
                    if (sessionObjectModel == null)
                    {
                        <li>
                            <a class="@selectedMenu" href="@urlString" @menuLayoutModel.MenuUrlAction.HrefTarget style="color: #ffffff; font-weight: bold; padding-right: 6px; width: @menuLayoutModel.MenuUrlAction.HrefWidth;">
                                @menuLayoutModel.MenuUrlAction.LinkText
                            </a>
                        </li>
                    }
                    else
                    {
                    }
                    break;*@
                case "SECURED60": //Show this menu when not logged in and when logged as disabled
                    if (sessionObjectModel == null)
                    {
                        <li>
                            <a class="@selectedMenu" href="@urlString" @menuLayoutModel.MenuUrlAction.HrefTarget style="color: #ffffff; font-weight: bold; padding-right: 6px; width: @menuLayoutModel.MenuUrlAction.HrefWidth;">
                                @menuLayoutModel.MenuUrlAction.LinkText
                            </a>
                        </li>
                    }
                    else
                    {
                        <li style="vertical-align: middle;">
                            <a href="javascript: void(0);" @menuLayoutModel.MenuUrlAction.HrefTarget style="color: #a0a0a0; font-weight: bold; padding-right: 6px; width: @menuLayoutModel.MenuUrlAction.HrefWidth;">
                                @menuLayoutModel.MenuUrlAction.LinkText
                            </a>
                        </li>
                    }
                    break;
            }
        }
    }
</ul>
