@using ArchitectureLibraryCacheData
@{
    //DivineBija.in --> 97
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    var imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
    ArchitectureLibraryModels.SessionObjectModel sessionObjectModel;
    string loggedInUserEmailAddress;
    if (Session["SessionObject"] != null)
    {
        sessionObjectModel = (ArchitectureLibraryModels.SessionObjectModel)Session["SessionObject"];
        loggedInUserEmailAddress = sessionObjectModel.EmailAddress;
    }
    else
    {
        sessionObjectModel = null;
        loggedInUserEmailAddress = "";
    }
    loggedInUserEmailAddress = "longemailaddress@longcompany.com";
}
<style>
    .starchecked {
        color: #ff9900;
    }

    .badge {
        padding-left: 9px;
        padding-right: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
    }

    .label-warning[href],
    .badge-warning[href] {
        background-color: #c67605;
    }

    .shoppingCartTotalAmount {
        font-size: 15px;
        background: #0000ff;
        color: #ffffff;
        padding: 0 5px;
        vertical-align: top;
        margin-left: -10px;
    }

    .shoppingCartItemsCount {
        font-size: 15px;
        background: #ff0000;
        color: #ffffff;
        padding: 0 5px;
        vertical-align: top;
        margin-left: -10px;
    }
</style>
<div style="border: 0px none; margin-left: 0 auto; margin-right: 0 auto; padding: 0px; width: 100%;">
    <div style="float: left; text-align: left; vertical-align: top;">
        <img alt="@imageTitle" class="img-responsive" src="~/ClientSpecific/@(clientId)_@(clientName)/Documents/Images/Image_000.webp" style="height: auto; max-height: 171px; max-width: 171px; width: 100%;" title="@ArchLibCache.GetApplicationDefault(clientId, "BusinessName", "")" />
    </div>
    <table style="float: right;">
        <tr>
            <td></td>
            <td style="text-align: right; width: 171px;">
                <img class="img-responsive" alt="@ArchLibCache.GetApplicationDefault(clientId, "Currency", "CountryAbbrev") - @ArchLibCache.GetApplicationDefault(clientId, "Currency", "CurrencyName") - @RetailSlnCacheData.RetailSlnCache.CurrencySymbol" src="~/ClientSpecific/@(clientId)_@(clientName)/Documents/Images/CountryFlag.webp" style="height: 72px; padding-bottom: 2px; width: 171px;" title="@ArchLibCache.GetApplicationDefault(clientId, "Currency", "CountryAbbrev") - @ArchLibCache.GetApplicationDefault(clientId, "Currency", "CurrencyName") - @RetailSlnCacheData.RetailSlnCache.CurrencySymbol" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align: right;">
                @ArchLibCache.GetApplicationDefault(clientId, "Currency", "CountryAbbrev") - @ArchLibCache.GetApplicationDefault(clientId, "Currency", "CurrencyName") - @RetailSlnCacheData.RetailSlnCache.CurrencySymbol
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;">
                <span id="loggedInUserEmailAddress" style="color: #0000ff; display: table-cell; font-size: 12px; font-weight: bold; vertical-align: top;">
                    @loggedInUserEmailAddress
                </span>
            </td>
        </tr>
    </table>
    <div style="text-align: center; vertical-align: top;">
        <span style="color: #9401d9; font-family: 'Times New Roman', sans-serif; font-size: 20px; font-weight: bold;">@ArchLibCache.GetApplicationDefault(clientId, "BusinessNameWord1", "")</span>
        &nbsp;
        <span style="color: #dc3131; font-family: 'Times New Roman', sans-serif; font-size: 20px; font-weight: bold;">@ArchLibCache.GetApplicationDefault(clientId, "BusinessNameWord2", "")</span>
        &nbsp;
        <span style="color: #000000; font-family: 'Times New Roman', sans-serif; font-size: 20px; font-weight: 900;">@ArchLibCache.GetApplicationDefault(clientId, "BusinessNameWord3", "")</span>
        @Html.Partial("_HeaderMenu")
        <div style="display: table; vertical-align: top;">
            <div style="display: table-row; vertical-align: top;">
                <div style="display: table-cell;">
                    <i class="fa" style="font-size: 24px">&#xf07a;</i>
                    <span class="badge badge-warning shoppingCartItemsCount" id="shoppingCartItemsCount"></span>
                    &nbsp;&nbsp;
                    <span class="badge badge-warning shoppingCartTotalAmount" id="shoppingCartTotalAmount"></span>
                </div>
                <div style="display: table-cell; padding-left: 9px;">
                    <a href="javascript: void(0);" onclick="javascript: return checkoutValidate_onclick();" style="color: #000000; font-size: 18px; font-weight: bold; text-decoration: underline;">Checkout</a>
                </div>
                <div style="display: table-cell; padding-left: 9px; vertical-align: middle;">
                    <span id="divErrorMessage" style="color: #ff0000; display: table-cell; font-family: Arial; font-size: 13px; font-weight: bold; padding: 0px; text-align: left; vertical-align: top;">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<br style="clear: both;" />
<script type="text/javascript">
    var url = "/Home/ShoppingCartSummary/";
    $.ajax({
        url: url,
        type: "GET",
        dataType: "html",
        async: true,
        success: function (responseData, textStatus, request) {
            var jsonData = JSON.parse(responseData);
            document.getElementById("shoppingCartItemsCount").innerHTML = jsonData.shoppingCartItemsCount;
            document.getElementById("shoppingCartTotalAmount").innerHTML = jsonData.shoppingCartTotalAmount;
            if (document.getElementById("shoppingCartItemsCount2") != null) {
                document.getElementById("shoppingCartItemsCount2").innerHTML = jsonData.shoppingCartItemsCount;
                document.getElementById("shoppingCartTotalAmount2").innerHTML = jsonData.shoppingCartTotalAmount;
            }
        },
        error: function (xhr, exception) {
            console.log(43, "ERROR???", exception, xhr);
        }
    });
    function checkoutValidate_onclick() {
        console.log("00000000", "checkoutValidate_onclick", "Enter");
        $("#loadingModal").modal({ backdrop: 'static', keyboard: false });
        document.getElementById("divErrorMessage").innerHTML = "";
        if (document.getElementById("divErrorMessage2") != null) {
            document.getElementById("divErrorMessage2").innerHTML = "";
        }
        var url = "/Home/CheckoutValidate";
        $.ajax({
            url: url,
            type: "POST",
            //contentType: "application/x-www-form-urlencoded; charset=UTF-8",//"application/x-www-form-urlencoded; charset=UTF-8",//"text/plain; charset=UTF-8", //false, //"application/json; charset=utf-8",
            dataType: "json",
            async: true,
            success: function (responseData, textStatus, request) {
                console.log(responseData);
                $('#loadingModal').modal('hide');
                console.log("00001000", "checkoutValidate_onclick success", responseData.processMessage);
                if (responseData.success) {
                    if (responseData.success) {
                        window.location.href = "/Checkout/";
                    }
                    else {
                        document.getElementById("divErrorMessage").innerHTML = responseData.htmlString;
                        if (document.getElementById("divErrorMessage2") != null) {
                            document.getElementById("divErrorMessage2").innerHTML = responseData.htmlString;
                        }
                    }
                }
                else {
                    document.getElementById("divErrorMessage").innerHTML = responseData.htmlString;
                    if (document.getElementById("divErrorMessage2") != null) {
                        document.getElementById("divErrorMessage2").innerHTML = responseData.htmlString;
                    }
                }
                console.log("00090000", "checkoutValidate_onclick success", "Exit");
            },
            error: function (xhr, exception) {
                $('#loadingModal').modal('hide');
                console.log("checkoutValidate_onclick", "00099000", "ERROR???");
                document.getElementById("divErrorMessage").innerHTML = "Error while validating checkout";
                if (document.getElementById("divErrorMessage2") != null) {
                    document.getElementById("divErrorMessage2").innerHTML = "Error while validating checkout";
                }
            }
        });
        return false;
    }
</script>
