@using ArchitectureLibraryCacheData
@{
    //_HeaderMenuTop.cshtml
    //DivineBija.in --> 97
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    var imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
}
<table style="padding: 5px;">
    <tr>
        <td style="padding: 5px; text-align: center;">
            <a href="@Url.Action("RegisterUserLoginUser", "Home", new { id = "REGISTER" })" style="color: #333333; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 400;" title="Register - @imageTitle">
                <img alt="Register - @imageTitle" src="~/Images/Register1.png" style="height: 27px; width: 27px;" title="Register - @imageTitle" />
                <br />
                Register
            </a>
        </td>
        <td style="padding: 5px; text-align: center;">
            <a href="@Url.Action("RegisterUserLoginUser", "Home", new { id = "LOGIN" })" style="color: #333333; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 400;" title="Sign in - @imageTitle">
                <img alt="Sign in - @imageTitle" src="~/Images/SignIn2.png" style="height: 27px; width: 27px;" title="Sign in - @imageTitle" />
                <br />
                Sign In
            </a>
        </td>
        <td style="padding: 5px; text-align: center;">
            <a href="@Url.Action("Logout", "Home")" style="color: #333333; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 400;" title="Logout - @imageTitle">
                <img alt="Logout - @imageTitle" src="~/Images/Logout2.png" style="height: 27px; width: 27px;" title="Logout - @imageTitle" />
                <br />
                Logout
            </a>
        </td>
        <td style="padding: 5px; text-align: center;">
            <a href="javascript: void(0);" onclick="javascript: return document.getElementById('divShoppingCart').scrollIntoView();" style="color: #333333; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 400;" title="View Cart - @imageTitle">
                <img alt="View Cart - @imageTitle" src="~/Images/ShoppingCart1.png" style="height: 27px; width: 27px;" title="View Cart -@imageTitle" />
                <span id="shoppingCartItemsCount" style="display: none;"></span>
                <span class="badge badge-warning shoppingCartItemsCount" id="shoppingCartTotalAmount" style="background-color: #9a031e;">
                </span><!-- Order Amount -->
                <span id="shoppingCartItemsCount2" style="display: none;"></span>
                <span id="shoppingCartTotalAmount2" style="display: none;"></span>
                <br />
                View Cart
            </a>
        </td>
        <td style="padding: 5px; text-align: center;">
            <a href="javascript: void(0);" onclick="javascript: return checkoutValidate_onclick();" style="color: #333333; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 400;" title="Checkout - @imageTitle">
                <img alt="Checkout - @imageTitle" src="~/Images/Checkout2.png" style="height: 27px; width: 27px;" title="Checkout - @imageTitle" />
                <br />
                Checkout
            </a>
        </td>
    </tr>
</table>
