@{
    string selectedMenu = "", urlString;
    int i = 0, j;
    ArchitectureLibraryMenuModels.MenuLayoutModel menuLayoutModel;
    var menuLayoutModels = ArchitectureLibraryMenuCacheData.ArchLibMenuCache.ParentMenuLayoutModels["HEADERMENU"];
    while (i < menuLayoutModels.Count)
    {
        <div class="row menuLinkLight">
            @for (j = 0; j < 4; j++)
            {
                menuLayoutModel = menuLayoutModels[i];
                urlString = Url.Action(menuLayoutModel.MenuUrlAction.ActionName, menuLayoutModel.MenuUrlAction.ControllerName);
                <div class="col-sm-3 col-xs-3 text-center link-container">
                    <a class="@selectedMenu" href="@urlString" @menuLayoutModel.MenuUrlAction.HrefTarget style="color: #ffffff; font-weight: bold; padding-right: 6px; width: @menuLayoutModel.MenuUrlAction.HrefWidth;">
                        @menuLayoutModel.MenuUrlAction.LinkText
                    </a>
                </div>
                i++;
                if (i == menuLayoutModels.Count)
                {
                    break;
                }
            }
        </div>
    }
}
@*
    <div class="row menuLinkLight">
        <div class="col-sm-4 col-xs-4 text-center link-container">
            @Html.Partial("~/Views/Shared/NavbarPartialComponents/_HomeComponent.cshtml")
        </div>
        <div class="col-sm-4 col-xs-4 text-center link-container">
            @Html.Partial("~/Views/Shared/NavbarPartialComponents/_AboutUsComponent.cshtml")
        </div>
        <div class="col-sm-4 col-xs-4 text-center link-container">
            @Html.Partial("~/Views/Shared/NavbarPartialComponents/_ContactUsComponent.cshtml")
        </div>
    </div>
    <div class="row menuLinkLight">
        <div class="col-sm-4 col-xs-4 text-center link-container">
            @Html.Partial("~/Views/Shared/NavbarPartialComponents/_FAQsComponent.cshtml")
        </div>
        <div class="col-sm-4 col-xs-4 text-center link-container">
            @Html.Partial("~/Views/Shared/NavbarPartialComponents/_GiftCertComponent.cshtml")
        </div>
        <div class="col-sm-4 col-xs-4 text-center link-container">
            @Html.Partial("~/Views/Shared/NavbarPartialComponents/_OrderReturnComponent.cshtml")
        </div>
    </div>
    <div class="row menuLinkLight">
        @if (true) // Check if user is logged in
        {
            <div class="col-sm-6 col-xs-6 text-center link-container">
                @Html.Partial("~/Views/Shared/NavbarPartialComponents/_RegisterComponent.cshtml")
            </div>
            <div class="col-sm-6 col-xs-6 text-center link-container">
                @Html.Partial("~/Views/Shared/NavbarPartialComponents/_LoginComponent.cshtml")
            </div>
        }
        else
        {
            <div class="col-sm-6 col-xs-6 text-center link-container">
                @Html.Partial("~/Views/Shared/NavbarPartialComponents/_GreetingComponent.cshtml")
            </div>
            <div class="col-sm-6 col-xs-6 text-center link-container">
                @Html.Partial("~/Views/Shared/NavbarPartialComponents/_LogoutComponent.cshtml")
            </div>
        }
    </div>
*@
