@using ArchitectureLibraryCacheData
@using ArchitectureLibraryModels
@using RetailSlnCacheData
@using RetailSlnEnumerations
@using RetailSlnModels
@{
    //DivineBija.in --> 97
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    var imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
    SessionObjectModel sessionObjectModel = (SessionObjectModel)Session["SessionObject"];
    string aspNetRoleName;
    if (sessionObjectModel == null)
    {
        aspNetRoleName = "DEFAULTROLE";
    }
    else
    {
        aspNetRoleName = sessionObjectModel.AspNetRoleName;
    }
    List<CategoryModel> categoryModels = RetailSlnCache.AspNetRoleParentCategoryCategoryModels[aspNetRoleName][0];
}
<br style="clear: both;" />
@{
    int i;
    for (i = 0; i < categoryModels.Count; i++)
    {
        <div style="padding-bottom: 3px; padding-left: 6px; float: left; width: 153px;">
            <span id="menuCategoryIdA@(i + 1)" style="display: none;">@categoryModels[i].CategoryId</span>
            <a id="menuItemA@(i + 1)" href="javascript: void(0);" onclick="javascript: return categoryId_onclick(@categoryModels[i].CategoryId, 1);" style="color: #ffffff; font-size: 13px; font-weight: bold;" title="@(categoryModels[i].CategoryDesc + " " + imageTitle)">
                @categoryModels[i].CategoryDesc
            </a>
        </div>
        if (i % 2 != 0)
        {
            <br style="clear: both;" />
        }
    }
}
@*
<div style="padding-bottom: 3px; padding-left: 6px; float: left; width: 153px;">
    <a href="@Url.Action("RegisterUserLoginUser", "Home", new { id = "REGISTER" })" style="color:#ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold;" title="Register - @imageTitle">
        Register
    </a>
</div>
<div style="padding-bottom: 3px; padding-left: 6px; float: left; width: 153px;">
    <a href="@Url.Action("RegisterUserLoginUser", "Home", new { id = "LOGIN" })" style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold;" title="Register - @imageTitle">
        Login
    </a>
</div>
<br style="clear: both;" />
<div style="padding-bottom: 3px; padding-left: 6px; float: left; width: 135px;">
    <a href="@Url.Action("Logout", "Home")" style="color:#ffffff; font-family: Arial, Helvetica, sans-serif; font-weight: bold;" title="Register - @imageTitle">
        Logout
    </a>
</div>
*@
