@using ArchitectureLibraryCacheData
@{
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    var imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Gajaashwa Inc." />
    <meta name="title" content="@ArchLibCache.GetApplicationDefault(clientId, "Head", "Title")" />
    <meta name="description" content="@ArchLibCache.GetApplicationDefault(clientId, "Head", "Description")" />
    <meta name="keywords" content="@ArchLibCache.GetApplicationDefault(clientId, "Head", "Keywords")" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="revisit-after" content="1 days" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ArchLibCache.GetApplicationDefault(clientId, "Head", "Title")</title>
    <link rel="shortcut icon" href="~/ClientSpecific/@(clientId)_@(clientName)/Documents/Images/Favicon.ico" />
    @Styles.Render("~/Content/css0")
    @Scripts.Render("~/bundles/scripts0")

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Patua+One|Open+Sans|Lato|Roboto" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

    <style>
        * {
            box-sizing: border-box;
            margin: 0px;
            padding: 0px;
        }

        body {
            box-sizing: border-box;
            background-color: white !important;
            color: black !important;
            overflow-x: hidden;
            margin: 0; /* Ensure no default margins */
            padding: 0; /* Ensure no default padding */
        }

        .body-container {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            width: 100%;
        }

        .header-section {
            background-color: #f8f9fa;
            z-index: 1;
        }

            .header-section.sticky {
                max-width: 100%;
                position: -webkit-sticky;
                position: sticky;
                top: 0;
                width: 100%;
            }

        .top-bar {
            padding: 0px 20px;
        }

        .disabled-link {
            pointer-events: none;
            color: gray;
            cursor: default;
            opacity: 0.4;
        }

        .logo-section {
            display: flex;
            align-items: center;
        }

        @@media (max-width: 767px) {
            .logo-section {
                padding-top: 5px;
                justify-content: center;
                text-align: center;
            }
        }

        .search-container {
            display: flex;
            align-items: center;
            background-color: #e0e0e0;
            border-radius: 50px;
            padding: 5px 10px;
            width: 100%;
            min-width: 300px;
            margin-top: 22px;
        }

        .search-input {
            border: none;
            background-color: transparent;
            flex: 1;
            padding: 0px 10px;
            font-size: 16px;
            border-radius: 50px;
            outline: none;
        }

        .search-button {
            background-color: white;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 10px;
            margin-left: 10px;
            border-radius: 50%;
        }

            .search-button img {
                width: 20px;
                height: 20px;
            }

        .menu-container {
            position: relative;
            display: inline-block;
        }

        .company-name {
            margin-left: 15px;
        }

        .feature-section {
            background-color: #9a031e;
            color: white !important;
            padding: 20px;
        }

        .footer-feature-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            background-color: #9a031e;
            color: white !important;
            padding: 10px 20px;
            padding-right: 35px;
        }

        .social-media {
            display: flex;
            align-items: center;
            gap: 10px;
            flex-wrap: wrap;
            column-gap: 20px;
        }


            .social-media .fab {
                background-color: white;
                border-radius: 50%;
                height: 32px;
                width: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        .nav-right-feature {
            min-width: 65px;
        }

            .nav-right-feature a {
                color: black;
            }

        .navbar-header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .navbar-right-hamburger {
            display: none;
        }

        /* Media query for screens smaller than 768px */
        @@media (max-width: 767px) {
            .navbar-right-hamburger {
                width: 100%;
                margin-top: 10px;
                padding-left: 25px;
                display: flex;
                justify-content: space-around;
                gap: 20px;
                color: white !important;
            }

            .hamburger {
                margin-left: 46px;
            }
        }

        .nav-hamburger-feature {
            margin-top: 15px;
        }

            .nav-hamburger-feature a {
                color: white;
            }

        .menu-icon {
            display: none;
            cursor: pointer;
        }

        .close-btn {
            cursor: pointer;
            font-size: 24px;
            text-align: right;
        }

            .close-btn i {
                color: white;
            }

        .navbar-nav > li > a {
            color: white !important;
        }

        .navbar-nav li {
            transition: box-shadow 0.3s ease-in-out;
        }

            .navbar-nav li:hover {
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
            }


        .dropdown-menu {
            background-color: #9A031E;
            max-height: 360px;
            overflow-y: scroll;
        }

            .dropdown-menu > li > a {
                color: white;
            }

        .navbar-nav > .open > a {
            background-color: #9A031E !important;
        }

        @@media (max-width: 768px) {
            .menu-icon {
                display: inline-block;
            }
        }

        @@media (max-width: 767px) {
            .navbar-nav > .dropdown > .dropdown-menu {
                display: none;
            }

            .navbar-nav > .dropdown > a.dropdown-toggle {
                display: none;
            }

            .navbar-nav > .visible-xs {
                display: flex !important;
                flex-wrap: wrap;
                justify-content: space-around;
            }

                .navbar-nav > .visible-xs > li {
                    display: inline-block;
                    float: none;
                    color: white !important;
                }
        }

        @@media (min-width: 768px) {
            .navbar-nav > .visible-xs {
                display: none !important;
            }
        }

        .navbar-toggle .fa-bars,
        .navbar-toggle .fa-times {
            display: none;
        }

        .navbar-toggle.collapsed .fa-bars {
            display: inline-block;
        }

        .navbar-toggle:not(.collapsed) .fa-times {
            display: inline-block;
        }

        .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
            background-color: transparent;
        }

        .custom-toggle {
            height: 40px;
            width: 40px;
        }

        .nav-link:hover {
            text-decoration: underline;
            text-decoration-color: #61ce70;
            text-decoration-thickness: 2px;
            text-underline-offset: 5px;
        }

        .nav-links:hover {
            text-decoration: underline !important;
            text-decoration-color: #61ce70 !important;
            text-decoration-thickness: 2px !important;
            text-underline-offset: 5px !important;
        }

        .navbar-default {
            background-color: #9a031e;
            color: white;
            border: none;
            border-radius: 0px;
        }

        @@media (max-width: 768px) {
            .navbar-default {
                margin-top: 15px;
            }
        }

        .nav-feature {
            width: 100%;
        }

            .nav-feature > a {
                color: white;
            }

                .nav-feature > a:hover {
                    cursor: pointer;
                    color: white;
                    background-color: red;
                }

        .navbar-right-link {
            color: #333333;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 400;
        }

        .navbar-right {
            display: none;
        }

        @@media (min-width: 768px) {
            .navbar-right {
                display: flex;
                float: right !important;
                margin-right: -15px;
                flex: 1;
            }
        }

        @@media (min-width: 992px) {
            .navbar-right {
                display: flex;
                margin-top: 25px;
                float: right !important;
                margin-right: -15px;
                flex: 1;
            }
        }


        .feature-section .nav {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        .feature-section .nav-item {
            margin-right: 20px;
        }

            .feature-section .nav-item:last-child {
                margin-right: 0;
            }

        .body-section {
            min-height: 450px;
        }

        .company-details-section {
            display: flex;
            justify-content: space-between;
            background-color: #ecf0f3;
            padding: 20px 50px;
        }

            .company-details-section h5 {
                color: #545454;
                line-height: 25px;
            }

            .company-details-section h4 {
                color: #545454;
                line-height: 30px;
            }

        @@media (max-width: 886px) {
            .company-details-section {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                justify-content: space-around;
                padding: 5px;
            }
        }

        .menuItemFooter {
            color: #545454;
            font-size: 13px;
            padding: 6px;
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 5px;
            display: block;
        }

            .menuItemFooter:hover {
                text-decoration: underline;
                text-decoration-color: #61ce70;
                text-decoration-thickness: 2px;
                text-underline-offset: 5px;
            }

        .active {
            text-decoration: underline;
            text-decoration-color: #61ce70;
            text-decoration-thickness: 2px;
            text-underline-offset: 5px;
        }

        .active_feature {
            text-decoration: underline !important;
            text-decoration-color: #61ce70 !important;
            text-decoration-thickness: 2px !important;
            text-underline-offset: 5px !important;
        }

        .about-link {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

            .about-link a {
                cursor: pointer;
                color: #545454 !important;
            }

        .app-download-section {
            display: flex;
            align-items: center;
            justify-content: right;
            gap: 10px;
        }

            .app-download-section h4 {
                font: 700;
            }

            .app-download-section a {
                color: #d5dbdb;
            }

                .app-download-section a:hover {
                    color: #d5dbdb;
                    text-decoration: none;
                }

        .app-download-button {
            height: 65px;
            width: 200px;
            border-radius: 10px;
            background-color: #1C1B1E;
            display: flex;
            align-items: center;
            gap: 10px;
            text-decoration: none;
            padding-left: 15px;
            color: white;
        }

        .app-logo {
            width: 32px;
        }

        .app-download-text {
            line-height: 1.2;
        }

        .app-get-it {
            margin: 0;
            font-size: 14px;
        }

        .app-store-name {
            margin: 0;
            font-size: 17px;
            font-weight: 700;
        }

        @@media (max-width: 768px) {
            .app-download-button {
                height: 55px;
                width: 160px;
                gap: 8px;
                padding-left: 10px;
            }

            .app-logo {
                width: 28px;
            }

            .app-get-it {
                font-size: 12px;
            }

            .app-store-name {
                font-size: 15px;
            }
        }


        .footer-links {
            display: flex;
            gap: 20px;
        }

        .footer-left-section {
            display: flex;
            justify-content: center;
        }

        .main-body {
            height: 400px;
        }

        .copyright-section {
            width: 100%;
            background-color: #bdbfc1;
            padding: 15px;
            padding-top: 20px;
        }

        .company-highlight {
            font-weight: 700;
            color: #0170b9;
        }

        .title {
            color: #545454;
            font-weight: 700;
        }

        .footer-section {
            width: 100%;
        }

        .contact-section {
            text-align: right;
        }

        .contact-number {
            display: flex;
            align-items: center;
            justify-content: right;
            gap: 7px;
            margin: 0;
        }

        @@media (max-width: 882px) {
            .contact-number {
                justify-content: center;
            }

            .contact-section {
                text-align: center;
            }
        }

        .custom-navbar {
            max-height: 400px;
            overflow-y: scroll;
        }
    </style>

    @RenderSection("scripts", required: false)
    @*<meta name="google-site-verification" content="hcUHXigkvItjrtwx8XIj_7jwJke4wp5fUyHVF_Wq4SU" />
        <meta name="google-site-verification" content="UBFm0SJBuBobvNYmYRJIbcQXn7RmjuDmau-2W5DbYEc" />*@
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Google Tag Manager -->
    @*<script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm .js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-KDPL9DB');
        </script>*@
    <!-- End Google Tag Manager -->
</head>
<body style="margin-left: auto; margin-right: auto; max-width: 100%; padding: 0px;">
    <!-- Google Tag Manager (noscript) -->
    @*<noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KDPL9DB" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>*@
    <!-- End Google Tag Manager (noscript) -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#toggle-icon').click(function () {
                $('#myCollapsible').toggleClass('show');
            });
            window_onload();
            shoppingCartSummary_onclick();
        });
        function window_onload() {
            //$(".se-pre-con").fadeOut("slow");
            alert("Implement window on load in your page");
        }
    </script>
    <script src="~/Include/orderItemCode0.js" type="text/javascript"></script>
    <div class="body-container">
        <header class="header-section sticky">
            <div class=" top-bar">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="logo-section">
                            <img src="~/images/logo.jpeg" alt="" height="96" width="90">
                            <p class="company-name font-bold">
                                <span style="color: #9401d9; font-size: 22px;">Divine Bija</span><br><span style="color: red;">India Pvt Ltd</span><br>Vedic Way
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="search-container">
                            <input type="text" class="search-input" placeholder="Search">
                            <button class="search-button">
                                <img src="https://static.vecteezy.com/system/resources/thumbnails/014/440/989/small/search-black-shadow-icon-socialicon-set-png.png" alt="Search">
                            </button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="nav navbar-nav navbar-right">
                            <div class="nav-right-feature" style="padding-right: 0px; text-align: center;">
                                <a href="#" class="navbar-right-link">
                                    <i class="fas fa-home"></i>
                                    <br />
                                    Home
                                </a>
                            </div>
                            <div class="nav-right-feature" style="min-width:100px; padding-right: 0px; text-align: center;">
                                <a href="javascript: void(0);" onclick="javascript: return document.getElementById('divShoppingCartBackToTop').scrollIntoView(); document.getElementById('divShoppingCartBackToTop').focus();" style="color: #333333; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 400;" title="View Cart - Divine Bija India Pvt Ltd (Vedic Way) | A story of motivation, passion and unconditional commitment">
                                    <i class="fas fa-shopping-cart" style="color: #000; font-size: 15px"></i>
                                    <span id="shoppingCartItemsCount" style="display: none;">0</span>
                                    <span class="badge badge-warning shoppingCartItemsCount" id="shoppingCartTotalAmount" style="background-color: #9a031e;">₹0.00</span>
                                    <br />
                                    <p class="text-overflow-ellipsis">View Cart</p>
                                </a>
                            </div>
                            <div class="nav-right-feature" style="padding-right: 0px; text-align: center;">
                                <a href="#" class="navbar-right-link" title="Checkout - Divine Bija India Pvt Ltd (Vedic Way) | A story of motivation, passion and unconditional commitment">
                                    <img alt="Checkout - Divine Bija India Pvt Ltd (Vedic Way) | A story of motivation, passion and unconditional commitment" src="https://divinebija.in/Images/Checkout2.png" style="height: 20px; width: 20px;" title="Checkout - Divine Bija India Pvt Ltd (Vedic Way) | A story of motivation, passion and unconditional commitment">
                                    <br />
                                    Checkout
                                </a>
                            </div>
                            <div class="nav-right-feature" style="padding-right: 0px; text-align: center;">
                                <a href="#" class="navbar-right-link" title="Register - Divine Bija India Pvt Ltd (Vedic Way) | A story of motivation, passion and unconditional commitment">
                                    <i class="fas fa-user-plus"></i>
                                    <br />
                                    Register
                                </a>
                            </div>
                            <div class="nav-right-feature" style="padding-right: 0px; text-align: center;">
                                <a href="#" class="navbar-right-link" title="Sign In - Divine Bija India Pvt Ltd (Vedic Way) | A story of motivation, passion and unconditional commitment">
                                    <i class="fas fa-user"></i>
                                    <br />
                                    Sign In
                                </a>
                            </div>
                            <div class="nav-right-feature" style="padding-right: 0px; text-align: center;">
                                <a href="@Url.Action("Logout", "Account")" class="navbar-right-link @(User.Identity.IsAuthenticated ? "" : "disabled-link")" title="Logout - Divine Bija India Pvt Ltd (Vedic Way) | A story of motivation, passion and unconditional commitment">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <br />
                                    Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">

                        <div class="nav navbar-nav navbar-right-hamburger">
                            <div class="nav-hamburger-feature" style="padding-right: 0px; text-align: center; color: white;">
                                <a href="#">
                                    <i class="fas fa-home"></i>
                                </a>
                            </div>
                            <div class="nav-hamburger-feature" style=" padding-right: 0px; text-align: center;">
                                <a href="javascript: void(0);" onclick="javascript: return document.getElementById('divShoppingCartBackToTop').scrollIntoView(); document.getElementById('divShoppingCartBackToTop').focus();" style="color: #333333; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 400;" title="View Cart - Divine Bija India Pvt Ltd (Vedic Way) | A story of motivation, passion and unconditional commitment">
                                    <i class="fas fa-shopping-cart" style="color: #fff; font-size: 15px"></i>
                                    <span id="shoppingCartItemsCount" style="display: none;">0</span><br />
                                    <span class="badge badge-warning shoppingCartItemsCount" id="shoppingCartTotalAmount" style="background-color: white; color: #9a031e;">₹0.00</span>
                                </a>
                            </div>
                            <div class="nav-hamburger-feature" style="padding-right: 0px; text-align: center;">
                                <a href="#" class="navbar-right-link" title="Checkout - Divine Bija India Pvt Ltd (Vedic Way) | A story of motivation, passion and unconditional commitment">
                                    <img alt="Checkout - Divine Bija India Pvt Ltd (Vedic Way) | A story of motivation, passion and unconditional commitment" src="https://static-00.iconduck.com/assets.00/checkout-icon-2048x2048-8k7j8q1t.png" style="height: 20px; width: 20px;" title="Checkout - Divine Bija India Pvt Ltd (Vedic Way) | A story of motivation, passion and unconditional commitment">
                                </a>
                            </div>
                            <div class="nav-hamburger-feature" style="padding-right: 0px; text-align: center;">
                                <a href="#" class="navbar-right-link" title="Register - Divine Bija India Pvt Ltd (Vedic Way) | A story of motivation, passion and unconditional commitment">
                                    <i class="fas fa-user-plus"></i>
                                </a>
                            </div>
                            <div class="nav-hamburger-feature" style="padding-right: 0px; text-align: center;">
                                <a href="#" class="navbar-right-link" title="Sign In - Divine Bija India Pvt Ltd (Vedic Way) | A story of motivation, passion and unconditional commitment">
                                    <i class="fas fa-user"></i>
                                </a>
                            </div>
                            <div class="nav-hamburger-feature" style="padding-right: 0px; text-align: center;">
                                <a href="@Url.Action("Logout", "Account")" class="navbar-right-link @(User.Identity.IsAuthenticated ? "" : "disabled-link")" title="Logout - Divine Bija India Pvt Ltd (Vedic Way) | A story of motivation, passion and unconditional commitment">
                                    <i class="fas fa-sign-out-alt"></i>
                                </a>
                            </div>
                        </div>
                        <div class="hamburger">
                            <button type="button" class="navbar-toggle collapsed custom-toggle" data-toggle="collapse" data-target="#feature-section-navbar" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <i class="fas fa-bars"></i>
                                <i class="fas fa-times toggle-icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse custom-navbar" id="feature-section-navbar">
                        <ul class="nav navbar-nav">
                            <li><a class="nav-links" href="#">Featured...</a></li>
                            <li><a class="nav-links" href="#">Build Your Kit</a></li>
                            <li><a class="nav-links" href="#">Bundle...</a></li>
                            <li><a class="nav-links" href="#">All Items...</a></li>
                            <li><a class="nav-links" href="#">Pooja Items</a></li>
                            <li><a class="nav-links" href="#">Homa Items</a></li>
                            <li class="dropdown">
                                <a class="navigation-link dropdown-toggle hidden-xs" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More... <span class="caret"></span></a>
                                <ul class="dropdown-menu hidden-xs" style="margin-top: -1px;">
                                    <li><a class="nav-links" href="#">Homa Items</a></li>
                                    <li><a class="nav-links" href="#">Pooja &amp; Homa...</a></li>
                                    <li><a class="nav-links" href="#">Abhishekam</a></li>
                                    <li><a class="nav-links" href="#">Deepam</a></li>
                                    <li><a class="nav-links" href="#">Food</a></li>
                                    <li><a class="nav-links" href="#">Gift Items</a></li>
                                    <li><a class="nav-links" href="#">Handicrafts</a></li>
                                    <li><a class="nav-links" href="#">Mala Items</a></li>
                                    <li><a class="nav-links" href="#">Pooja Metals</a></li>
                                    <li><a class="nav-links" href="#">Rituals</a></li>
                                    <li><a class="nav-links" href="#">Religious Books</a></li>
                                    <li><a class="nav-links" href="#">Kids Books</a></li>
                                    <li><a class="nav-links" href="#">Textile - Cloth</a></li>
                                    <li><a class="nav-links" href="#">Thamboolam</a></li>
                                    <li><a class="nav-links" href="#">Vehicle Ornaments</a></li>
                                    <li><a class="nav-links" href="#">Bulk Orders</a></li>
                                </ul>
                            </li>
                            <li class="hidden-xs" id="current-active-feature-item">
                                <a class="active_feature nav-links" id="current-active-feature" href="#"></a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav visible-xs">
                            <li><a class="nav-links" href="#">Pooja &amp; Homa...</a></li>
                            <li><a class="nav-links" href="#">Abhishekam</a></li>
                            <li><a class="nav-links" href="#">Deepam</a></li>
                            <li><a class="nav-links" href="#">Food</a></li>
                            <li><a class="nav-links" href="#">Gift Items</a></li>
                            <li><a class="nav-links" href="#">Handicrafts</a></li>
                            <li><a class="nav-links" href="#">Mala Items</a></li>
                            <li><a class="nav-links" href="#">Pooja Metals</a></li>
                            <li><a class="nav-links" href="#">Rituals</a></li>
                            <li><a class="nav-links" href="#">Religious Books</a></li>
                            <li><a class="nav-links" href="#">Kids Books</a></li>
                            <li><a class="nav-links" href="#">Textile - Cloth</a></li>
                            <li><a class="nav-links" href="#">Thamboolam</a></li>
                            <li><a class="nav-links" href="#">Vehicle Ornaments</a></li>
                            <li><a class="nav-links" href="#">Bulk Orders</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="main-body">
            <main class="center pb-3" role="main" id="divContainer">
                @RenderBody()
            </main>
        </div>
        <footer class="footer-section">
            <div class="footer-feature-section">
                <h5>Get connected with us on social networks:</h5>
                <div class="social-media">
                    <i class="fab fa-facebook-f" style="color: #4267b2; font-size: 20px"></i>
                    <i class="fab fa-youtube" style="color: red; font-size: 20px"></i>
                    <i class="fa-brands fa-threads fab" style="color: black; font-size: 20px"></i>
                    <i class="fab fa-linkedin" style="color: #0077B5; font-size: 20px"></i>
                    <i class="fab fa-whatsapp" style="color: #2EE863; font-size: 20px"></i>
                    <i class="fa-brands fa-x-twitter fab" style="color: black; font-size: 20px"></i>
                    <i class="fab fa-pinterest-p" style="color: #B7081B; font-size: 20px"></i>
                    <i class="fab fa-instagram" style="color: #C21995; font-size: 20px"></i>
                </div>
            </div>
            <div class="company-details-section">
                <div class="footer-middle-section">
                    <div class="footer-links">
                        <div class="about-link">
                            <a class="nav-link active">Home</a>
                            <a class="nav-link">About Us</a>
                            <a class="nav-link">Contact Us</a>
                            <a class="nav-link">FAQ(s)</a>
                            <a class="nav-link">Testimonials</a>
                        </div>
                        <div class="about-link">
                            <a class="nav-link">Register</a>
                            <a class="nav-link">Login</a>
                            <a class="nav-link">Reset Password</a>
                            <a class="nav-link">All Items</a>
                            <a class="nav-link">Orders & Returns</a>
                        </div>
                        <div class="about-link">
                            <a class="nav-link">Privacy Policy</a>
                            <a class="nav-link">Return & Refund Policy</a>
                            <a class="nav-link">Shipping Policy</a>
                            <a class="nav-link">Terms of Service</a>
                            <a class="nav-link">Cookie Policy</a>
                        </div>
                    </div>
                </div>
                <div class="contact-section">
                    <h5>
                        #178/4, Selvanbigai Nagar Attipattu<br>
                        Land Mark: Railway Station<br>
                        Chennai TN 600120 India<br>
                        <span class="contact-number"><i class="fas fa-phone-alt" style="color: #0898DA; font-size: 17px"></i>+91 98405 70834<br /></span>
                        <span class="contact-number"><i class="fas fa-sms" style="color: #009184; font-size: 20px"></i>+91 95610 79199<br /></span>
                        <span class="contact-number"><i class="fab fa-whatsapp" style="color: #2EE863; font-size: 20px;"></i>+91 95610 79199</span>
                    </h5>
                    <div class="app-download-section text-left">
                        <a href="https://play.google.com/store/apps/details?id=your.app.package" target="_blank" class="app-download-button">
                            <img src="https://freelogopng.com/images/all_img/1664285914google-play-logo-png.png" alt="Download on Google Play" class="app-logo">
                            <div class="app-download-text">
                                <p class="app-get-it">Get it on</p>
                                <p class="app-store-name">Google Play</p>
                            </div>
                        </a>
                        <a href="https://apps.apple.com/app/idyourapp" target="_blank" class="app-download-button">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Mac_App_Store_logo.png/800px-Mac_App_Store_logo.png" alt="Get it on the App Store" class="app-logo">
                            <div class="app-download-text">
                                <p class="app-get-it">Download on the</p>
                                <p class="app-store-name">App Store</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="copyright-section text-center">
                <p>Powered by <span class="company-highlight">Gajashwa Inc.</span> © Copyright 2024</p>
            </div>
        </footer>
    </div>
    <div id="divScrollIntoView"></div>
    @Html.Partial("_ShoppingCartModal")
    @Html.Partial("_LoadingModal")
</body>
</html>
