@using ArchitectureLibraryCacheData
@using RetailSlnCacheData
@using RetailSlnModels
@model PaymentInfoModel
@{
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    var baseUrl = ArchLibCache.GetApplicationDefault(clientId, "BaseUrl", "");
    var imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
    //Model.DeliveryInfoModel.OrderSummaryModel.UserFullName = (Model.DeliveryInfoModel.OrderSummaryModel.FirstName + " " + Model.DeliveryInfoModel.OrderSummaryModel.LastName).Trim();
}
<table style="border-collapse: collapse; margin-left: auto; margin-right: auto; width: 99%;">
    <colgroup>
        <col style="width: 102px;" />
        <col style="width: 45%;" />
        <col style="width: 45%;" />
    </colgroup>
    <tr>
        <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; text-align: left; vertical-align: top;">
            <img src="@baseUrl/ClientSpecific/@(clientId)_@(clientName)/Documents/Images/Image_000.webp" alt="@imageTitle" style="height: 97px; width: 97px;" title="@imageTitle" />
        </th>
        <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; text-align: left; vertical-align: top;">
            <span style="color: #000000; font-size: 18px; font-weight: bold; letter-spacing: 5px; text-transform: uppercase;">@Model.DeliveryInfoModel.OrderSummaryModel.InvoiceType</span>
            <br style="clear: both;" />
            <span style="color: #000000; font-size: 18px; font-weight: bold;">@ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "Business", "NameOnInvoice")</span>
            <br style="clear: both;" />
            @ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "AddressLine1", "")
            <br style="clear: both;" />
            @ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "AddressCityName", "")&nbsp;@ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "AddressStateAbbrev", "")&nbsp;@ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "AddressZipCode", "")&nbsp;@ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "AddressZipPlus4", "") @ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "AddressCountryName", "")
            @if (!string.IsNullOrWhiteSpace(ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "Business", "TaxIdentNumber")))
            {
                <br style="clear: both;" />
                @(ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "Business", "TaxIdentCaption") + " " + ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "Business", "TaxIdentNumber"))
            }
        </th>
        <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; text-align: left; vertical-align: top;">
            Invoice# @Model.DeliveryInfoModel.OrderSummaryModel.OrderHeaderId
            <br style="clear: both;" />
            Date @DateTime.Parse(Model.DeliveryInfoModel.OrderSummaryModel.OrderDateTime).ToString("MMM-dd-yyyy")
            <br style="clear: both;" />
            <a href="mailto: @Model.DeliveryInfoModel.OrderSummaryModel.EmailAddress" style="text-decoration: underline;">@Model.DeliveryInfoModel.OrderSummaryModel.EmailAddress</a>
            <br style="clear: both;" />
            Ph. <a href="tel: @("+" + Model.DeliveryInfoModel.DeliveryDataModel.PrimaryTelephoneTelephoneCode + " " + Model.DeliveryInfoModel.DeliveryDataModel.PrimaryTelephoneNum)" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">@Model.DeliveryInfoModel.DeliveryDataModel.PrimaryTelephoneFormatted</a>
            @if (!string.IsNullOrWhiteSpace(Model.DeliveryInfoModel.DeliveryDataModel.AlternateTelephoneNum))
            {
                <br style="clear: both;" />
                <span style="color: #000000;">Ph.</span>
                <a href="tel: @("+" + Model.DeliveryInfoModel.DeliveryDataModel.AlternateTelephoneTelephoneCode + " " + Model.DeliveryInfoModel.DeliveryDataModel.AlternateTelephoneNum)" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">@("+" + Model.DeliveryInfoModel.DeliveryDataModel.AlternateTelephoneTelephoneCode + " " + Model.DeliveryInfoModel.DeliveryDataModel.AlternateTelephoneNum)</a>
            }
        </th>
    </tr>
    <tr style="background-color: #ffffff;">
        <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px;"></th>
        <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; text-align: left; vertical-align: top; ">
            <a href="tel: @ArchLibCache.GetApplicationDefault(clientId, "ContactPhoneHref", "")" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">@ArchLibCache.GetApplicationDefault(clientId, "ContactPhoneFormatted", "")</a>&nbsp;<img src="@baseUrl/Images/Phone1_Small.png" />
            <br style="clear: both;" />
            <a style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank" href="https://api.whatsapp.com/send?phone=@(ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "ContactWhatsAppPhone", ""))">@ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "ContactWhatsAppPhoneFormatted", "")</a>&nbsp;<img src="@baseUrl/Images/WhatsApp1_Small.png" />
            <br style="clear: both;" />
            <br style="clear: both;" />
            @Model.DeliveryInfoModel.DeliveryMethodModel.DeliveryMethodDesc
            @{
                if (Model.DeliveryInfoModel.DeliveryMethodModel.PickupLocationId != null && Model.DeliveryInfoModel.DeliveryMethodModel.PickupLocationId > 0)
                {
                    var pickupLocationModel = RetailSlnCache.PickupLocationModels.First(x => x.PickupLocationId == Model.DeliveryInfoModel.DeliveryMethodModel.PickupLocationId);
                    var demogInfoAddressModel = Model.DeliveryInfoModel.DeliveryMethodModel.PickupLocationDemogInfoAddressModels.First(x => x.DemogInfoAddressId == pickupLocationModel.LocationDemogInfoAddressId);
                    <br style="clear: both;" />
                    @demogInfoAddressModel.AddressLine1
                    if (!string.IsNullOrWhiteSpace(demogInfoAddressModel.AddressLine2))
                    {
                        <br style="clear: both;" />
                        @demogInfoAddressModel.AddressLine2
                    }
                    <br style="clear: both;" />
                    @(demogInfoAddressModel.CityName + " " + demogInfoAddressModel.StateAbbrev + " " + demogInfoAddressModel.ZipCode)
                }
            }
        </th>
        <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; text-align: left; vertical-align: top;">
            <span style="color: #000000; font-weight: normal;">Customer Address</span>
            <br style="clear: both;" />
            <span style="color: #000000; font-size: 17px; font-weight: bold;">@(Model.DeliveryInfoModel.OrderSummaryModel.FirstName + " " + Model.DeliveryInfoModel.OrderSummaryModel.LastName).Trim()</span>
            <br style="clear: both;" />
            @*if (!string.IsNullOrWhiteSpace(Model.DeliveryInfoModel.DeliveryAddressModel.AddressName))
            {
                @Html.DisplayFor(m => m.DeliveryInfoModel.DeliveryAddressModel.AddressName)
                <br />
            }*@
            @(Model.DeliveryInfoModel.DeliveryDataModel.DeliveryAddressModel.AddressLine1 + " " + (Model.DeliveryInfoModel.DeliveryDataModel.DeliveryAddressModel.BuildingTypeId == ArchitectureLibraryEnumerations.BuildingTypeEnum._ ? "" : Model.DeliveryInfoModel.DeliveryDataModel.DeliveryAddressModel.BuildingTypeId) + " " + Model.DeliveryInfoModel.DeliveryDataModel.DeliveryAddressModel.HouseNumber)
            @if (!string.IsNullOrWhiteSpace(Model.DeliveryInfoModel.DeliveryDataModel.DeliveryAddressModel.AddressLine2))
            {
                <br style="clear: both;" />
                @Model.DeliveryInfoModel.DeliveryDataModel.DeliveryAddressModel.AddressLine2
            }
            <br style="clear: both;" />
            @(Model.DeliveryInfoModel.DeliveryDataModel.DeliveryAddressModel.CityName + " " + Model.DeliveryInfoModel.DeliveryDataModel.DeliveryAddressModel.StateAbbrev + " " + Model.DeliveryInfoModel.DeliveryDataModel.DeliveryAddressModel.ZipCode)
            <br style="clear: both;" />
            @(Model.DeliveryInfoModel.DeliveryDataModel.DeliveryAddressModel.CountryDesc + " - " + Model.DeliveryInfoModel.DeliveryDataModel.DeliveryAddressModel.CountryAbbrev)
            @if (!string.IsNullOrWhiteSpace(Model.DeliveryInfoModel.OrderSummaryModel.CorpAcctModel.TaxIdentNum))
            {
                <br style="clear: both;" />
                @(ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "Business", "TaxIdentCaption") + " " + Model.DeliveryInfoModel.OrderSummaryModel.CorpAcctModel.TaxIdentNum)
            }
        </th>
    </tr>
</table>
