@model ArchitectureLibraryModels.RegisterUserLoginUserModel
@using ArchitectureLibraryMenuCacheData
@using ArchitectureLibraryCacheData
@{
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
}
<div class="center">
    <div class="col-md-6" id="divRegisterUserProfScrollIntoView" style="float: left; text-align: left;">
        @Html.Partial("_RegisterUserProf", Model.RegisterUserProfModel)
    </div>
    <div class="col-md-6" id="divLoginUserProfScrollIntoView" style="float: right; text-align: left;">
        @Html.Partial("_LoginUserProf1", Model.LoginUserProfModel)
    </div>
</div>
<br style="clear: both;" />
@{
    string scrollIntoViewDocumentElementId = "", focusDocumentElementId = ""; ;
    switch (Model.QueryString)
    {
        case "REGISTER":
            scrollIntoViewDocumentElementId = "divRegisterUserProfScrollIntoView";
            focusDocumentElementId = "RegisterEmailAddress";
            break;
        case "LOGIN":
            scrollIntoViewDocumentElementId = "divLoginUserProfScrollIntoView";
            focusDocumentElementId = "LoginEmailAddress";
            break;
        case "":
            break;
        default:
            try
            {
                var htmlContent = ArchLibMenuCache.MenuKVPModels.First(x => x.MenuKVPId == int.Parse(Model.RegisterUserProfModel.QueryString1)).MenuKVPValueData;
                htmlContent = Server.MapPath("~/ClientSpecific/" + clientId + "_" + clientName + "/Documents/HtmlFiles/" + htmlContent);
                var streamReader = new StreamReader(htmlContent);
                htmlContent = streamReader.ReadToEnd();
                streamReader.Close();
                if (htmlContent != "")
                {
                    @Html.Raw(htmlContent)
                }
            }
            catch
            {
            }
            break;
    }
}
<br style="clear: both;" />
<script type="text/javascript">
    if ("@focusDocumentElementId" != "") {
        document.getElementById("@focusDocumentElementId").focus();
    }
    if ("@scrollIntoViewDocumentElementId" != "") {
        document.getElementById("@scrollIntoViewDocumentElementId").scrollIntoView();
    }
</script>
@*https://www.geeksforgeeks.org/how-to-place-two-div-side-by-side-of-the-same-height-using-css/*@