@using ArchitectureLibraryCacheData
@{
    var clientId = ArchLibCache.ClientId;
}
<h2 class="text-primary" style="font-weight: bold;">Feel free to contact us by...</h2>
<table class="table-responsive" style="border-style: none; border-width: 0px;">
    <tr>
        <td style="padding: 5px; vertical-align: top;">
            <span class="glyphicon glyphicon-phone" style="font-size: 36px;"></span>
        </td>
        <td style="padding: 5px; vertical-align: top;">
            <span style="padding: 5px; font-size: 27px; font-weight: bold; text-align: left;">
                @ArchLibCache.GetApplicationDefault(clientId, "ContactPhoneFormatted", "") - Phone
            </span>
        </td>
    </tr>
    <tr>
        <td style="padding: 5px; vertical-align: top;">
            <span class="glyphicon glyphicon-envelope" style="font-size: 36px;"></span>
        </td>
        <td style="padding: 5px; vertical-align: top;">
            <span style="padding: 5px; font-size: 24px; font-weight: bold; text-align: left;">
                @ArchLibCache.GetApplicationDefault(clientId, "BusinessName", "")<br />
                @ArchLibCache.GetApplicationDefault(clientId, "AddressLine1", "")<br />
                @ArchLibCache.GetApplicationDefault(clientId, "AddressCityName", ""), @ArchLibCache.GetApplicationDefault(clientId, "AddressStateAbbrev", "") @ArchLibCache.GetApplicationDefault(clientId, "AddressZipCode", "")
            </span>
        </td>
    </tr>
</table>
