@model SchoolPrdModels.EnrollmentModel
@using ArchitectureLibraryCacheData
@{
    long clientId = ArchLibCache.ClientId;
}
Hello,<br /><br />
We appreciate you submitting your information. Our staff will get back to you at the earliest. Below is the information you provided<br /><br />
<table style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; text-align: left; vertical-align: top;">
            First Name
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; text-align: left; vertical-align: top;">
            @Model.FirstName
        </td>
    </tr>
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; text-align: left; vertical-align: top;">
            Last Name
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; text-align: left; vertical-align: top;">
            @Model.LastName
        </td>
    </tr>
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; text-align: left; vertical-align: top;">
            Middle Name
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; text-align: left; vertical-align: top;">
            @Model.MiddleName
        </td>
    </tr>
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; text-align: left; vertical-align: top;">
            Email Address
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; text-align: left; vertical-align: top;">
            @Model.EmailAddress
        </td>
    </tr>
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; text-align: left; vertical-align: top;">
            Telephone#
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; text-align: left; vertical-align: top;">
            @Model.TelephoneNumber
        </td>
    </tr>
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; text-align: left; vertical-align: top;">
            Can you pass a drug screen?
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; text-align: left; vertical-align: top;">
            @Model.DrugScreenId
        </td>
    </tr>
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; text-align: left; vertical-align: top;">
            Driving License Issuing State
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; text-align: left; vertical-align: top;">
            @Model.DrivingLicenseDemogInfoSubDivisionId
        </td>
    </tr>
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; text-align: left; vertical-align: top;">
            Message
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; text-align: left; vertical-align: top;">
            @Model.ContactMessage
        </td>
    </tr>
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; text-align: left; vertical-align: top;">
            Classes requested
        </td>
        <td style="padding: 5px; text-align: left; vertical-align: top;">
            @Html.Raw(Model.EnrollmentTypeDescs.Replace(Environment.NewLine, "<br />"))
        </td>
    </tr>
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; text-align: left; vertical-align: top;">
            Address
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; text-align: left; vertical-align: top;">
            @Model.AddressLine1<br />
            @Model.AddressLine2
            @if (!string.IsNullOrWhiteSpace(Model.AddressLine2))
            {
                <br />
            }
            @Model.CityName<br />
            @Model.DemogInfoSubDivisionId @Model.ZipCode
        </td>
    </tr>
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; text-align: left; vertical-align: top;">
            Id
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; text-align: left; vertical-align: top;">
            @Model.EnrollmentId
        </td>
    </tr>
    <tr>
        <td colspan="2" style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; text-align: left; vertical-align: top;">
            @if (Model.UserProfRegistered)
            {
                <span>Your email address is already <b>registered</b>. Please login and enjoy the features</span>
            }
            else
            {
                <span>We have registered your email address. Please login and enjoy the features</span>
            }
        </td>
    </tr>
    @if (!Model.UserProfRegistered)
    {
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; text-align: left; vertical-align: top;">
            Password
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; font-weight: bold; text-align: left; vertical-align: top;">
            @Model.LoginPassword
        </td>
    </tr>
    }
</table>
<br />
<span style="background-color: #deecf9;">
    Please do not hesitate to call us at @ArchLibCache.GetApplicationDefault(clientId, "ContactPhoneFormatted", "") if you have any questions.
    <br /><br />
    Alternatively <a href="@ArchLibCache.GetApplicationDefault(clientId, "BaseUrl", "" )/@Url.Action(ArchLibCache.GetApplicationDefault(0, "ContactUsAction", "" ), ArchLibCache.GetApplicationDefault(0, "ContactUsController", "" ))" target="_blank">Contact Us Here</a> to let us know.
</span>
<br />
