@using ArchitectureLibraryCacheData
@{
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    var imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
}
<span style="color: #0000ff; font-size: 15px; font-weight: bold; padding-left: 9px; vertical-align: top;">
    <span class="text-info">
        DO YOU WANT TO LEARN DRIVING?
    </span>
    &nbsp;
    <a href="@Url.Action("Enrollment", "Home")" style="color: #ff0000; text-decoration: underline;">
        !!!ENROLL NOW!!!
    </a>
    &nbsp;
    <span class="text-danger">
        Ask for <span style="color: #0000ff;">Spanish</span> speaking instructor
    </span>
    <br style="clear: both;" />
    <span style="color: #337ab7; font-weight: bold;">
        Tenga en cuenta que hemos contratado a un instructor <span style="color: #ff0000;">de habla hispana</span>
    </span>
    <br style="clear: both;" />
    <span style="color: #0000ff; font-weight: bold; padding-right: 9px; vertical-align: top;">
        ONLY SCHOOL OFFERING AUTOMATIC CLASS A TRAINING AND MANUAL TRANSMISSION
    </span>
</span>
<br style="clear: both;" />
@Html.Partial("_Carousel")
<div class="center">
    <div style="float: left;">
        <a href="https://www.bppe.ca.gov/" target="_blank">
            <img alt="CA Bureau for Private Postsecondary Education" src="~/Images/CA_BPPE.webp" title="CA BPPE - Bureau for Private Postsecondary Education">
        </a>
    </div>
    <div>
        <p style="color: #000000; font-family: Roboto, Arial, Tahoma, sans-serif; font-size: 14px; font-style: normal; font-weight: 400; text-align: center; width: 100%;">
            <a href="@Url.Action("Index", "Home")" alt="@imageTitle" title="@imageTitle" style="font-weight: bold; text-decoration: underline;">
                @ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "")
            </a>
            &nbsp;has a several grant programs exist that you may qualify for, many state and local agencies such as the Workforce Investment Act (WIA), Department of Rehabilitation (DOR), Employment Development Department (EDD), NUMMI, TAA and One Career Stop Centers. @ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "") does not offer Federal financial aid at this time.
        </p>
    </div>
</div>
<br style="clear: both;" />
