@model ArchitectureLibraryModels.ResetPasswordModel
<style>
    #ResetPasswordEmailAddress-error, #ConfirmResetPasswordEmailAddress-error, #CaptchaAnswerResetPassword-error {
        color: #ff0000;
        display: block;
        font-size: 14px;
        font-weight: bold;
    }
</style>
@if (Model != null && Model.ResponseObjectModel != null && !string.IsNullOrWhiteSpace(Model.ResponseObjectModel.ValidationSummaryMessage))
{
    <div class="row validationSummaryMessage" id="divResetPasswordValidationSummaryMessage">
        @Model.ResponseObjectModel.ValidationSummaryMessage
    </div>
}
@if (!ViewData.ModelState.IsValid)
{
    <div class="row" id="divResetPasswordValidationSummary">
        @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(false, "", new { @class = "validationSummaryErrors" }).ToHtmlString()))
    </div>
}
@if (Model != null && Model.ResponseObjectModel != null)
{
    <div class="row" id="divResetPasswordResponseObject">
        @Html.Partial("_ResponseObject", Model.ResponseObjectModel)
    </div>
}
<div class="row" style="padding-left: 18px; padding-right: 18px;">
    @Html.LabelFor(m => m.ResetPasswordEmailAddress, new { @class = "col-form-label" })&nbsp;<span style="color: #0000ff; font-weight: bold;">(Required)</span>
    @Html.TextBoxFor(m => m.ResetPasswordEmailAddress, new { @class = "form-control validate", placeholder = "Enter " + @Html.DisplayNameFor(m => m.ResetPasswordEmailAddress), style = "width: 90%;" })
    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.ResetPasswordEmailAddress, "", new { id = "ResetPasswordEmailAddress-error" }).ToHtmlString()))
</div>

<div class="row" style="padding-left: 18px; padding-right: 18px;">
    @Html.LabelFor(m => m.ConfirmResetPasswordEmailAddress, new { @class = "col-form-label" })&nbsp;<span style="color: #0000ff; font-weight: bold;">(Required)</span>
    @Html.TextBoxFor(m => m.ConfirmResetPasswordEmailAddress, new { @class = "form-control validate", placeholder = "Enter " + @Html.DisplayNameFor(m => m.ConfirmResetPasswordEmailAddress), style = "width: 90%;" })
    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.ConfirmResetPasswordEmailAddress, "", new { id = "ConfirmResetPasswordEmailAddress-error" }).ToHtmlString()))
</div>

<div class="row" style="padding-left: 18px; padding-right: 18px;">
    @Html.LabelFor(m => m.CaptchaAnswerResetPassword, new { @class = "col-form-label" })&nbsp;- Sum of <span style="color: #ff0000;">@Model.CaptchaNumberResetPassword0</span> & <span style="color: #ff0000;">@Model.CaptchaNumberResetPassword1</span><span style="color: #0000ff; font-weight: bold;">? (Required)</span>
    @Html.TextBoxFor(m => m.CaptchaAnswerResetPassword, null, new { @class = "form-control", placeholder = @Model.CaptchaNumberResetPassword0 + " + " + @Model.CaptchaNumberResetPassword1 + " =?", style = "width: 90%;" })
    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.CaptchaAnswerResetPassword, "", new { id = "CaptchaAnswerResetPassword-error" }).ToHtmlString()))
</div>
