@model ArchitectureLibraryModels.AboutUsModel
@using ArchitectureLibraryCacheData
@{
    var clientId = ArchLibCache.ClientId;
}
<div style="background-color: #f7f7f7; padding-left: 72px; padding-top: 9px; text-align: center;">
    <label style="color: #ff0000; font-size: 18px;">Read this in : </label>
    <select class="form-control" id="language" onchange="javascript: return language_onchange();" style="color: #000000; display: inline-block; font-size: 15px; font-weight: bold; width: 261px;">
        <option value="divEnglishUSA" selected="selected" style="font-weight: bold;">English (USA)</option>
        <option value="divSpanish" style="font-weight: bold;">Spanish</option>
        <option value="divHindi" style="font-weight: bold;">Hindi - हिंदी</option>
        <option value="divGujarati" style="font-weight: bold;">Gujarati - ગુજરાતી</option>
        <option value="divPunjabi" style="font-weight: bold;">Punjabi - ਪੰਜਾਬੀ</option>
        <option value="divTamil" style="font-weight: bold;">Tamil - தமிழ்</option>
        <option value="divTelugu" style="font-weight: bold;">Telugu - తెలుగు</option>
        <option value="divKannada" style="font-weight: bold;">Kannada - ಕನ್ನಡ</option>
        <option value="divMalayalam" style="font-weight: bold;">Malayalam - മലയാളം</option>
    </select>
</div>
<div id="divEnglishUSA" style="display: none;">
    <div style="color: #0000ff; font-family: 'Lucida Calligraphy', Arial, Helvetica, sans-serif, Verdana; font-size: 36px; font-weight: bold; padding-left: 72px; padding-right: 40px; text-align: center;">
        About Us@*@&nbsp;<a href="javascript: void(0);" onclick="javascript: return document.getElementById('language').scrollIntoView();"><i class="fa fa-arrow-circle-up" style="color: #000000; font-size: 36px; padding-left: 0px;"></i></a>*@
    </div>
    <div style="font-family: 'Lucida Calligraphy', Arial, Helvetica, sans-serif, Verdana; font-size: 14px; padding-left: 72px; padding-right: 40px; text-align: justify;">
        Our story is a tale of motivation, passion, and unconditional commitment. We care about our products and its positive impact on our customer’s well being.
        <br /><br />
        The quality of the products offered defines us and sets us apart from others. We believe a satisfied customer is a great referral source.
        <br /><br />
        For spiritual practices, <span style="color: #000000; font-weight: bold;">@ArchLibCache.GetApplicationDefault(clientId, "BusinessName", "")</span> offers tools and kits to help modern families all over the world continue their traditions. This includes flowers, vasthrams and other pooja items. We offer kits for various occasions like house warming (Gruhapravesh), etc to help you focus on the larger event instead of the details.
        <br /><br />
        For special events and occasions, we offer sweets and savories that brings the taste of India right to your doorstep where ever you are. This includes Andhra and Chennai delights.
        <br /><br />
        For weddings and other ceremonies, we offer various products to help families make those occasions truly special.
        <br /><br />
        For families around the world, we bring them the best quality spices for their daily consumption at reasonable prices.
        <br /><br />
        That is our promise and guarantee to you!
        <br /><br />
        <span style="color: #000000; text-decoration: underline;"><span style="color: #000000; font-weight: bold;">@ArchLibCache.GetApplicationDefault(clientId, "BusinessName", "")</span> – Our Mission:</span>
        <br />
        To deliver premium products of superior quality to support and nurture the health and well being of our customers who put their trust in us.
    </div>
    <hr style="border-color: #000000; border-style: solid; border-width: 1px;" />
</div>
<div id="divSpanish" style="display: none;">
    <div style="color: #0000ff; font-family: 'Lucida Calligraphy', Arial, Helvetica, sans-serif, Verdana; font-size: 36px; font-weight: bold; padding-left: 72px; padding-right: 40px; text-align: center;">
        About Us - Sobre nosotras@*@&nbsp;<a href="javascript: void(0);" onclick="javascript: return document.getElementById('language').scrollIntoView();"><i class="fa fa-arrow-circle-up" style="color: #000000; font-size: 36px; padding-left: 0px;"></i></a>*@
    </div>
    <div style="font-family: 'Lucida Calligraphy', Arial, Helvetica, sans-serif, Verdana; font-size: 14px; padding-left: 72px; padding-right: 40px; text-align: justify;">
        Nuestra historia es una historia de motivación, pasión y compromiso incondicional. Nos preocupamos por nuestros productos y su impacto positivo en el bienestar de nuestros clientes.
        <br /><br />
        La calidad de los productos ofrecidos nos define y nos diferencia de los demás. Creemos que un cliente satisfecho es una gran fuente de referencia.
        <br /><br />
        Para prácticas espirituales, <span style="color: #000000; font-weight: bold;">@ArchLibCache.GetApplicationDefault(clientId, "BusinessName", "")</span> ofrece herramientas y kits para ayudar a las familias modernas de todo el mundo a continuar con sus tradiciones. Esto incluye flores, vasthrams y otros artículos de pooja. Ofrecemos kits para diversas ocasiones, como la inauguración de una casa (Gruhapravesh), etc., para ayudarlo a concentrarse en el evento más grande en lugar de en los detalles.
        <br /><br />
        Para eventos y ocasiones especiales, ofrecemos dulces y sabores que llevan el sabor de la India directamente a su puerta dondequiera que esté. Esto incluye las delicias de Andhra y Chennai.
        <br /><br />
        Para bodas y otras ceremonias, ofrecemos varios productos para ayudar a las familias a hacer que esas ocasiones sean realmente especiales.
        <br /><br />
        Para familias de todo el mundo, les traemos especias de la mejor calidad para su consumo diario a precios razonables.
        <br /><br />
        ¡Esa es nuestra promesa y garantía para usted!
        <br /><br />
        <span style="color: #000000; text-decoration: underline;">Divina Bija - Nuestra Misión:</span>
        <br />
        Entregar productos premium de calidad superior para apoyar y nutrir la salud y el bienestar de nuestros clientes que depositan su confianza en nosotros.
    </div>
    <hr style="border-color: #000000; border-style: solid; border-width: 1px;" />
</div>
<div id="divHindi" style="display: none;">
    <div style="color: #0000ff; font-family: 'Lucida Calligraphy', Arial, Helvetica, sans-serif, Verdana; font-size: 36px; font-weight: bold; padding-left: 72px; padding-right: 40px; text-align: center;">
        About Us - हमारे बारे में - hamaare baare mein@*@&nbsp;<a href="javascript: void(0);" onclick="javascript: return document.getElementById('language').scrollIntoView();"><i class="fa fa-arrow-circle-up" style="color: #000000; font-size: 36px; padding-left: 0px;"></i></a>*@
    </div>
    <div style="font-family: 'Lucida Calligraphy', Arial, Helvetica, sans-serif, Verdana; font-size: 14px; padding-left: 72px; padding-right: 40px; text-align: justify;">
        हमारी कहानी प्रेरणा, जुनून और बिना शर्त प्रतिबद्धता की कहानी है। यह न केवल हमारे उत्पादों के बारे में है बल्कि हमारे ग्राहकों की भलाई पर हमारे सकारात्मक प्रभाव के बारे में भी है।
        <br /><br />
        पेश किए गए उत्पादों की शुद्धता के प्रति हमारा अटूट पालन ही हमें परिभाषित करता है और हमें दूसरों से अलग करता है। यह ग्राहकों की संतुष्टि के लिए हमारा समर्पण है जो ग्राहक को रेफ़रल स्रोत में बदल देगा।
        <br /><br />
        आध्यात्मिक साधनाओं के लिए, डिवाइन बीज दुनिया भर में आधुनिक परिवारों को अपनी परंपराओं को जारी रखने में मदद करने के लिए उपकरण और किट प्रदान करता है। इसमें फूल, वस्त्रम और अन्य पूजा सामग्री शामिल हैं।
        <br /><br />
        विशेष आयोजनों और अवसरों के लिए, हम मिठाई और नमकीन पेश करते हैं जो भारत के स्वाद को आपके दरवाजे तक ले आता है, चाहे आप कहीं भी हों। इसमें आंध्र और चेन्नई प्रसन्न शामिल हैं।
        <br /><br />
        विवाह और अन्य समारोहों के लिए, हम विभिन्न वस्तुओं की पेशकश करते हैं ताकि परिवार उन अवसरों को वास्तव में विशेष बना सकें।
        <br /><br />
        दुनिया भर के परिवारों के लिए, हम उचित मूल्य बनाए रखते हुए उनके दैनिक उपभोग के लिए सर्वोत्तम गुणवत्ता वाले मसाले लाते हैं।
        <br /><br />
        यह हमारा आपसे वादा और गारंटी है!
        <br /><br />
        दिव्य बीज - हमारा मिशन:
        <br /><br />
        हमारे ग्राहकों के स्वास्थ्य और कल्याण का समर्थन और पोषण करने के लिए बेहतर गुणवत्ता वाले प्रीमियम उत्पादों को वितरित करने के लिए जो हर बार खरीदते समय हम पर भरोसा करते हैं।
        <br /><br />
        hamaaree kahaanee prerana, junoon aur bina shart pratibaddhata kee kahaanee hai. yah na keval hamaare utpaadon ke baare mein hai balki hamaare graahakon kee bhalaee par hamaare sakaaraatmak prabhaav ke baare mein bhee hai.
        <br /><br />
        pesh kie gae utpaadon kee shuddhata ke prati hamaara atoot paalan hee hamen paribhaashit karata hai aur hamen doosaron se alag karata hai. yah graahakon kee santushti ke lie hamaara samarpan hai jo graahak ko refaral srot mein badal dega.
        <br /><br />
        aadhyaatmik saadhanaon ke lie, divain beej duniya bhar mein aadhunik parivaaron ko apanee paramparaon ko jaaree rakhane mein madad karane ke lie upakaran aur kit pradaan karata hai. isamen phool, vastram aur any pooja saamagree shaamil hain.
        <br /><br />
        vishesh aayojanon aur avasaron ke lie, ham mithaee aur namakeen pesh karate hain jo bhaarat ke svaad ko aapake daravaaje tak le aata hai, chaahe aap kaheen bhee hon. isamen aandhr aur chennee prasann shaamil hain.
        <br /><br />
        vivaah aur any samaarohon ke lie, ham vibhinn vastuon kee peshakash karate hain taaki parivaar un avasaron ko vaastav mein vishesh bana saken.
        <br /><br />
        duniya bhar ke parivaaron ke lie, ham uchit mooly banae rakhate hue unake dainik upabhog ke lie sarvottam gunavatta vaale masaale laate hain.
        <br /><br />
        yah hamaara aapase vaada aur gaarantee hai!
        <br /><br />
        divy beej - hamaara mishan:
        <br /><br />
        hamaare graahakon ke svaasthy aur kalyaan ka samarthan aur poshan karane ke lie behatar gunavatta vaale preemiyam utpaadon ko vitarit karane ke lie jo har baar khareedate samay ham par bharosa karate hain.
    </div>
    <hr style="border-color: #000000; border-style: solid; border-width: 1px;" />
</div>
<div id="divGujarati" style="display: none;">
    <div style="color: #0000ff; font-family: 'Lucida Calligraphy', Arial, Helvetica, sans-serif, Verdana; font-size: 36px; font-weight: bold; padding-left: 72px; padding-right: 40px; text-align: center;">
        About Us - અમારા વિશે - Amārā viśē@*@&nbsp;<a href="javascript: void(0);" onclick="javascript: return document.getElementById('language').scrollIntoView();"><i class="fa fa-arrow-circle-up" style="color: #000000; font-size: 36px; padding-left: 0px;"></i></a>*@
    </div>
    <div style="font-family: 'Lucida Calligraphy', Arial, Helvetica, sans-serif, Verdana; font-size: 14px; padding-left: 72px; padding-right: 40px; text-align: justify;">
        અમારી વાર્તા પ્રેરણા, જુસ્સો અને બિનશરતી પ્રતિબદ્ધતાની વાર્તા છે. તે માત્ર અમારા ઉત્પાદનો વિશે જ નહીં પરંતુ અમારા ગ્રાહકની સુખાકારી પરની અમારી સકારાત્મક અસર વિશે પણ છે.
        <br /><br />
        તે ઓફર કરેલા ઉત્પાદનોની શુદ્ધતા પ્રત્યેનું અચૂક પાલન છે જે આપણને વ્યાખ્યાયિત કરે છે અને અમને અન્ય લોકોથી અલગ પાડે છે. ગ્રાહક સંતોષ માટે અમારું સમર્પણ છે જે ગ્રાહકને રેફરલ સ્ત્રોતમાં ફેરવશે.
        <br /><br />
        આધ્યાત્મિક પ્રથાઓ માટે, ડિવાઇન બિજા વિશ્વભરના આધુનિક પરિવારોને તેમની પરંપરાઓ ચાલુ રાખવા માટે મદદ કરવા માટે સાધનો અને કિટ્સ પ્રદાન કરે છે. જેમાં ફૂલો, વસ્ત્રાશ્રમ અને અન્ય પૂજા સામગ્રીનો સમાવેશ થાય છે.
        <br /><br />
        ખાસ પ્રસંગો અને પ્રસંગો માટે, અમે મીઠાઈઓ અને સેવરીઝ ઑફર કરીએ છીએ જે તમે જ્યાં પણ હોવ ત્યાં તમારા ઘરના ઘર સુધી ભારતનો સ્વાદ લાવે છે. જેમાં આંધ્ર અને ચેન્નાઈના આનંદનો સમાવેશ થાય છે.
        <br /><br />
        લગ્ન અને અન્ય સમારંભો માટે, અમે વિવિધ વસ્તુઓ ઓફર કરીએ છીએ જેથી પરિવારો તે પ્રસંગોને ખરેખર ખાસ બનાવી શકે.
        <br /><br />
        વિશ્વભરના પરિવારો માટે, અમે વાજબી કિંમતો જાળવી રાખીને તેમના દૈનિક વપરાશ માટે શ્રેષ્ઠ ગુણવત્તાના મસાલા લાવીએ છીએ.
        <br /><br />
        તે તમને અમારું વચન અને ગેરંટી છે!
        <br /><br />
        દૈવી બીજ - અમારું મિશન:
        <br /><br />
        અમારા ગ્રાહકોના આરોગ્ય અને સુખાકારીને ટેકો આપવા અને પોષવા માટે શ્રેષ્ઠ ગુણવત્તાના પ્રીમિયમ ઉત્પાદનો પહોંચાડવા કે જેઓ જ્યારે પણ તેઓ ખરીદે ત્યારે અમારા પર વિશ્વાસ મૂકે છે.
        <br /><br />
        Amārī vārtā prēraṇā, jus'sō anē binaśaratī pratibad'dhatānī vārtā chē. Tē mātra amārā utpādanō viśē ja nahīṁ parantu amārā grāhakanī sukhākārī paranī amārī sakārātmaka asara viśē paṇa chē.
        <br /><br />
        Tē ōphara karēlā utpādanōnī śud'dhatā pratyēnuṁ acūka pālana chē jē āpaṇanē vyākhyāyita karē chē anē amanē an'ya lōkōthī alaga pāḍē chē. Grāhaka santōṣa māṭē amāruṁ samarpaṇa chē jē grāhakanē rēpharala strōtamāṁ phēravaśē.
        <br /><br />
        Ādhyātmika prathā'ō māṭē, ḍivā'ina bijā viśvabharanā ādhunika parivārōnē tēmanī paramparā'ō cālu rākhavā māṭē madada karavā māṭē sādhanō anē kiṭsa pradāna karē chē. Jēmāṁ phūlō, vastrāśrama anē an'ya pūjā sāmagrīnō samāvēśa thāya chē.
        <br /><br />
        Khāsa prasaṅgō anē prasaṅgō māṭē, amē mīṭhā'ī'ō anē sēvarījha ŏphara karī'ē chī'ē jē tamē jyāṁ paṇa hōva tyāṁ tamārā gharanā ghara sudhī bhāratanō svāda lāvē chē. Jēmāṁ āndhra anē cēnnā'īnā ānandanō samāvēśa thāya chē.
        <br /><br />
        Lagna anē an'ya samārambhō māṭē, amē vividha vastu'ō ōphara karī'ē chī'ē jēthī parivārō tē prasaṅgōnē kharēkhara khāsa banāvī śakē.
        <br /><br />
        Viśvabharanā parivārō māṭē, amē vājabī kimmatō jāḷavī rākhīnē tēmanā dainika vaparāśa māṭē śrēṣṭha guṇavattānā masālā lāvī'ē chī'ē.
        <br /><br />
        Tē tamanē amāruṁ vacana anē gēraṇṭī chē!
        <br /><br />
        Daivī bīja - amāruṁ miśana:
        <br /><br />
        Amārā grāhakōnā ārōgya anē sukhākārīnē ṭēkō āpavā anē pōṣavā māṭē śrēṣṭha guṇavattānā prīmiyama utpādanō pahōn̄cāḍavā kē jē'ō jyārē paṇa tē'ō kharīdē tyārē amārā para viśvāsa mūkē chē.
    </div>
    <hr style="border-color: #000000; border-style: solid; border-width: 1px;" />
</div>
<div id="divPunjabi" style="display: none;">
    <div style="color: #0000ff; font-family: 'Lucida Calligraphy', Arial, Helvetica, sans-serif, Verdana; font-size: 36px; font-weight: bold; padding-left: 72px; padding-right: 40px; text-align: center;">
        About Us - ਸਾਡੇ ਬਾਰੇ - Sāḍē bārē@*@&nbsp;<a href="javascript: void(0);" onclick="javascript: return document.getElementById('language').scrollIntoView();"><i class="fa fa-arrow-circle-up" style="color: #000000; font-size: 36px; padding-left: 0px;"></i></a>*@
    </div>
    <div style="font-family: 'Lucida Calligraphy', Arial, Helvetica, sans-serif, Verdana; font-size: 14px; padding-left: 72px; padding-right: 40px; text-align: justify;">
        ਸਾਡੀ ਕਹਾਣੀ ਪ੍ਰੇਰਣਾ, ਜਨੂੰਨ ਅਤੇ ਬਿਨਾਂ ਸ਼ਰਤ ਪ੍ਰਤੀਬੱਧਤਾ ਦੀ ਕਹਾਣੀ ਹੈ। ਇਹ ਸਿਰਫ਼ ਸਾਡੇ ਉਤਪਾਦਾਂ ਬਾਰੇ ਹੀ ਨਹੀਂ ਹੈ, ਸਗੋਂ ਸਾਡੇ ਗਾਹਕ ਦੀ ਭਲਾਈ 'ਤੇ ਸਾਡੇ ਸਕਾਰਾਤਮਕ ਪ੍ਰਭਾਵ ਬਾਰੇ ਵੀ ਹੈ।
        <br /><br />
        ਇਹ ਪੇਸ਼ਕਸ਼ ਕੀਤੇ ਗਏ ਉਤਪਾਦਾਂ ਦੀ ਸ਼ੁੱਧਤਾ ਪ੍ਰਤੀ ਸਾਡੀ ਅਟੁੱਟ ਪਾਲਣਾ ਹੈ ਜੋ ਸਾਨੂੰ ਪਰਿਭਾਸ਼ਿਤ ਕਰਦੀ ਹੈ ਅਤੇ ਸਾਨੂੰ ਦੂਜਿਆਂ ਤੋਂ ਵੱਖ ਕਰਦੀ ਹੈ। ਇਹ ਗਾਹਕ ਦੀ ਸੰਤੁਸ਼ਟੀ ਲਈ ਸਾਡਾ ਸਮਰਪਣ ਹੈ ਜੋ ਇੱਕ ਗਾਹਕ ਨੂੰ ਇੱਕ ਰੈਫਰਲ ਸਰੋਤ ਵਿੱਚ ਬਦਲ ਦੇਵੇਗਾ।
        <br /><br />
        ਅਧਿਆਤਮਿਕ ਅਭਿਆਸਾਂ ਲਈ, ਬ੍ਰਹਮ ਬੀਜਾ ਦੁਨੀਆ ਭਰ ਦੇ ਆਧੁਨਿਕ ਪਰਿਵਾਰਾਂ ਨੂੰ ਆਪਣੀਆਂ ਪਰੰਪਰਾਵਾਂ ਨੂੰ ਜਾਰੀ ਰੱਖਣ ਵਿੱਚ ਮਦਦ ਕਰਨ ਲਈ ਟੂਲ ਅਤੇ ਕਿੱਟਾਂ ਦੀ ਪੇਸ਼ਕਸ਼ ਕਰਦਾ ਹੈ। ਇਸ ਵਿੱਚ ਫੁੱਲ, ਵਸਤਰ ਅਤੇ ਹੋਰ ਪੂਜਾ ਦੀਆਂ ਵਸਤੂਆਂ ਸ਼ਾਮਲ ਹਨ।
        <br /><br />
        ਵਿਸ਼ੇਸ਼ ਸਮਾਗਮਾਂ ਅਤੇ ਮੌਕਿਆਂ ਲਈ, ਅਸੀਂ ਮਿਠਾਈਆਂ ਅਤੇ ਮਿਠਾਈਆਂ ਦੀ ਪੇਸ਼ਕਸ਼ ਕਰਦੇ ਹਾਂ ਜੋ ਭਾਰਤ ਦੇ ਸਵਾਦ ਨੂੰ ਤੁਹਾਡੇ ਘਰ ਦੇ ਦਰਵਾਜ਼ੇ 'ਤੇ ਲਿਆਉਂਦੀ ਹੈ ਜਿੱਥੇ ਤੁਸੀਂ ਕਦੇ ਵੀ ਹੋ। ਇਸ ਵਿੱਚ ਆਂਧਰਾ ਅਤੇ ਚੇਨਈ ਦੀਆਂ ਖੁਸ਼ੀਆਂ ਸ਼ਾਮਲ ਹਨ।
        <br /><br />
        ਵਿਆਹਾਂ ਅਤੇ ਹੋਰ ਰਸਮਾਂ ਲਈ, ਅਸੀਂ ਵੱਖ-ਵੱਖ ਚੀਜ਼ਾਂ ਦੀ ਪੇਸ਼ਕਸ਼ ਕਰਦੇ ਹਾਂ ਤਾਂ ਜੋ ਪਰਿਵਾਰ ਉਨ੍ਹਾਂ ਮੌਕਿਆਂ ਨੂੰ ਸੱਚਮੁੱਚ ਖਾਸ ਬਣਾ ਸਕਣ।
        <br /><br />
        ਦੁਨੀਆ ਭਰ ਦੇ ਪਰਿਵਾਰਾਂ ਲਈ, ਅਸੀਂ ਵਾਜਬ ਕੀਮਤਾਂ ਨੂੰ ਬਰਕਰਾਰ ਰੱਖਦੇ ਹੋਏ ਉਹਨਾਂ ਦੇ ਰੋਜ਼ਾਨਾ ਖਪਤ ਲਈ ਵਧੀਆ ਗੁਣਵੱਤਾ ਵਾਲੇ ਮਸਾਲੇ ਲਿਆਉਂਦੇ ਹਾਂ।
        <br /><br />
        ਇਹ ਤੁਹਾਡੇ ਲਈ ਸਾਡਾ ਵਾਅਦਾ ਅਤੇ ਗਾਰੰਟੀ ਹੈ!
        <br /><br />
        ਬ੍ਰਹਮ ਬੀਜ - ਸਾਡਾ ਮਿਸ਼ਨ:
        <br /><br />
        ਸਾਡੇ ਗ੍ਰਾਹਕਾਂ ਦੀ ਸਿਹਤ ਅਤੇ ਤੰਦਰੁਸਤੀ ਦਾ ਸਮਰਥਨ ਕਰਨ ਅਤੇ ਉਹਨਾਂ ਦਾ ਪਾਲਣ ਪੋਸ਼ਣ ਕਰਨ ਲਈ ਉੱਚ ਗੁਣਵੱਤਾ ਵਾਲੇ ਪ੍ਰੀਮੀਅਮ ਉਤਪਾਦ ਪ੍ਰਦਾਨ ਕਰਨ ਲਈ ਜੋ ਹਰ ਵਾਰ ਖਰੀਦਦੇ ਸਮੇਂ ਸਾਡੇ 'ਤੇ ਭਰੋਸਾ ਕਰਦੇ ਹਨ।
        <br /><br />
        Sāḍī kahāṇī prēraṇā, janūna atē bināṁ śarata pratībadhatā dī kahāṇī hai. Iha sirafa sāḍē utapādāṁ bārē hī nahīṁ hai, sagōṁ sāḍē gāhaka dī bhalā'ī'tē sāḍē sakārātamaka prabhāva bārē vī hai.
        <br /><br />
        Iha pēśakaśa kītē ga'ē utapādāṁ dī śudhatā pratī sāḍī aṭuṭa pālaṇā hai jō sānū paribhāśita karadī hai atē sānū dūji'āṁ tōṁ vakha karadī hai. Iha gāhaka dī satuśaṭī la'ī sāḍā samarapaṇa hai jō ika gāhaka nū ika raipharala sarōta vica badala dēvēgā.
        <br /><br />
        Adhi'ātamika abhi'āsāṁ la'ī, brahama bījā dunī'ā bhara dē ādhunika parivārāṁ nū āpaṇī'āṁ paraparāvāṁ nū jārī rakhaṇa vica madada karana la'ī ṭūla atē kiṭāṁ dī pēśakaśa karadā hai. Isa vica phula, vasatara atē hōra pūjā dī'āṁ vasatū'āṁ śāmala hana.
        <br /><br />
        Viśēśa samāgamāṁ atē mauki'āṁ la'ī, asīṁ miṭhā'ī'āṁ atē miṭhā'ī'āṁ dī pēśakaśa karadē hāṁ jō bhārata dē savāda nū tuhāḍē ghara dē daravāzē'tē li'ā'undī hai jithē tusīṁ kadē vī hō. Isa vica āndharā atē cēna'ī dī'āṁ khuśī'āṁ śāmala hana.
        <br /><br />
        Vi'āhāṁ atē hōra rasamāṁ la'ī, asīṁ vakha-vakha cīzāṁ dī pēśakaśa karadē hāṁ tāṁ jō parivāra unhāṁ mauki'āṁ nū sacamuca khāsa baṇā sakaṇa.
        <br /><br />
        Dunī'ā bhara dē parivārāṁ la'ī, asīṁ vājaba kīmatāṁ nū barakarāra rakhadē hō'ē uhanāṁ dē rōzānā khapata la'ī vadhī'ā guṇavatā vālē masālē li'ā'undē hāṁ.
        <br /><br />
        Iha tuhāḍē la'ī sāḍā vā'adā atē gāraṭī hai!
        <br /><br />
        Brahama bīja - sāḍā miśana:
        <br /><br />
        Sāḍē grāhakāṁ dī sihata atē tadarusatī dā samarathana karana atē uhanāṁ dā pālaṇa pōśaṇa karana la'ī uca guṇavatā vālē prīmī'ama utapāda pradāna karana la'ī jō hara vāra kharīdadē samēṁ sāḍē'tē bharōsā karadē hana.
    </div>
    <hr style="border-color: #000000; border-style: solid; border-width: 1px;" />
</div>
<div id="divTamil" style="display: none;">
    <div style="color: #0000ff; font-family: 'Lucida Calligraphy', Arial, Helvetica, sans-serif, Verdana; font-size: 36px; font-weight: bold; padding-left: 72px; padding-right: 40px; text-align: center;">
        About Us - எங்களை பற்றி - Eṅkaḷai paṟṟi@*@&nbsp;<a href="javascript: void(0);" onclick="javascript: return document.getElementById('language').scrollIntoView();"><i class="fa fa-arrow-circle-up" style="color: #000000; font-size: 36px; padding-left: 0px;"></i></a>*@
    </div>
    <div style="font-family: 'Lucida Calligraphy', Arial, Helvetica, sans-serif, Verdana; font-size: 14px; padding-left: 72px; padding-right: 40px; text-align: justify;">
        எங்கள் கதை உந்துதல், ஆர்வம் மற்றும் நிபந்தனையற்ற அர்ப்பணிப்பு ஆகியவற்றின் கதை. இது எங்கள் தயாரிப்புகளைப் பற்றி மட்டுமல்ல, எங்கள் வாடிக்கையாளரின் நல்வாழ்வில் எங்களின் நேர்மறையான தாக்கத்தையும் பற்றியது.
        <br /><br />
        வழங்கப்படும் தயாரிப்புகளின் தூய்மையை நாம் அசைக்காமல் கடைப்பிடிப்பதே நம்மை வரையறுக்கிறது மற்றும் மற்றவர்களிடமிருந்து நம்மை வேறுபடுத்துகிறது. வாடிக்கையாளர் திருப்திக்கான எங்கள் அர்ப்பணிப்புதான் வாடிக்கையாளரை ஒரு பரிந்துரை ஆதாரமாக மாற்றும்.
        <br /><br />
        ஆன்மீக நடைமுறைகளுக்காக, உலகெங்கிலும் உள்ள நவீன குடும்பங்கள் தங்கள் பாரம்பரியத்தைத் தொடர உதவும் கருவிகள் மற்றும் கருவிகளை தெய்வீக பீஜா வழங்குகிறது. இதில் பூக்கள், வஸ்திரங்கள் மற்றும் பிற பூஜை பொருட்கள் அடங்கும்.
        <br /><br />
        சிறப்பு நிகழ்வுகள் மற்றும் சந்தர்ப்பங்களுக்கு, நீங்கள் எங்கிருந்தாலும், இந்தியாவின் சுவையை உங்கள் வீட்டு வாசலுக்குக் கொண்டு வரும் இனிப்புகள் மற்றும் காரங்களை நாங்கள் வழங்குகிறோம். இதில் ஆந்திரா மற்றும் சென்னை டிலைட்ஸ் அடங்கும்.
        <br /><br />
        திருமணங்கள் மற்றும் பிற விழாக்களுக்கு, நாங்கள் பல்வேறு பொருட்களை வழங்குகிறோம், அதனால் குடும்பங்கள் அந்த நிகழ்வுகளை உண்மையிலேயே சிறப்பானதாக மாற்ற முடியும்.
        <br /><br />
        உலகெங்கிலும் உள்ள குடும்பங்களுக்கு, நியாயமான விலையைப் பராமரிக்கும் அதே வேளையில், அவர்களின் தினசரி நுகர்வுக்கு சிறந்த தரமான மசாலாப் பொருட்களைக் கொண்டு வருகிறோம்.
        <br /><br />
        அதுவே உங்களுக்கு எங்களின் வாக்குறுதியும் உத்தரவாதமும்!
        <br /><br />
        தெய்வீக பீஜா - எங்கள் பணி:
        <br /><br />
        எங்கள் வாடிக்கையாளர்களின் ஆரோக்கியம் மற்றும் நல்வாழ்வை ஆதரிப்பதற்கும், அவர்கள் வாங்கும் ஒவ்வொரு முறையும் எங்கள் மீது நம்பிக்கை வைத்து வளர்ப்பதற்கும் சிறந்த தரத்தில் பிரீமியம் தயாரிப்புகளை வழங்குதல்.
        <br /><br />
        Eṅkaḷ katai untutal, ārvam maṟṟum nipantaṉaiyaṟṟa arppaṇippu ākiyavaṟṟiṉ katai. Itu eṅkaḷ tayārippukaḷaip paṟṟi maṭṭumalla, eṅkaḷ vāṭikkaiyāḷariṉ nalvāḻvil eṅkaḷiṉ nērmaṟaiyāṉa tākkattaiyum paṟṟiyatu.
        <br /><br />
        Vaḻaṅkappaṭum tayārippukaḷiṉ tūymaiyai nām acaikkāmal kaṭaippiṭippatē nam'mai varaiyaṟukkiṟatu maṟṟum maṟṟavarkaḷiṭamiruntu nam'mai vēṟupaṭuttukiṟatu. Vāṭikkaiyāḷar tiruptikkāṉa eṅkaḷ arppaṇipputāṉ vāṭikkaiyāḷarai oru parinturai ātāramāka māṟṟum.
        <br /><br />
        Āṉmīka naṭaimuṟaikaḷukkāka, ulakeṅkilum uḷḷa navīṉa kuṭumpaṅkaḷ taṅkaḷ pārampariyattait toṭara utavum karuvikaḷ maṟṟum karuvikaḷai teyvīka pījā vaḻaṅkukiṟatu. Itil pūkkaḷ, vastiraṅkaḷ maṟṟum piṟa pūjai poruṭkaḷ aṭaṅkum.
        <br /><br />
        Ciṟappu nikaḻvukaḷ maṟṟum cantarppaṅkaḷukku, nīṅkaḷ eṅkiruntālum, intiyāviṉ cuvaiyai uṅkaḷ vīṭṭu vācalukkuk koṇṭu varum iṉippukaḷ maṟṟum kāraṅkaḷai nāṅkaḷ vaḻaṅkukiṟōm. Itil āntirā maṟṟum ceṉṉai ṭilaiṭs aṭaṅkum.
        <br /><br />
        Tirumaṇaṅkaḷ maṟṟum piṟa viḻākkaḷukku, nāṅkaḷ palvēṟu poruṭkaḷai vaḻaṅkukiṟōm, ataṉāl kuṭumpaṅkaḷ anta nikaḻvukaḷai uṇmaiyilēyē ciṟappāṉatāka māṟṟa muṭiyum.
        <br /><br />
        Ulakeṅkilum uḷḷa kuṭumpaṅkaḷukku, niyāyamāṉa vilaiyaip parāmarikkum atē vēḷaiyil, avarkaḷiṉ tiṉacari nukarvukku ciṟanta taramāṉa macālāp poruṭkaḷaik koṇṭu varukiṟōm.
        <br /><br />
        Atuvē uṅkaḷukku eṅkaḷiṉ vākkuṟutiyum uttaravātamum!
        <br /><br />
        Teyvīka pījā - eṅkaḷ paṇi:
        <br /><br />
        Eṅkaḷ vāṭikkaiyāḷarkaḷiṉ ārōkkiyam maṟṟum nalvāḻvai ātarippataṟkum, avarkaḷ vāṅkum ovvoru muṟaiyum eṅkaḷ mītu nampikkai vaittu vaḷarppataṟkum ciṟanta tarattil pirīmiyam tayārippukaḷai vaḻaṅkutal.
    </div>
    <hr style="border-color: #000000; border-style: solid; border-width: 1px;" />
</div>
<div id="divTelugu" style="display: none;">
    <div style="font-family: 'Lucida Calligraphy', Arial, Helvetica, sans-serif, Verdana; font-size: 36px; font-weight: bold; padding-left: 72px; padding-right: 40px; text-align: center;">
        About Us - మా గురించి - Mā gurin̄ci@*&nbsp;<a href="javascript: void(0);" onclick="javascript: return document.getElementById('language').scrollIntoView();"><i class="fa fa-arrow-circle-up" style="color: #000000; font-size: 36px; padding-left: 0px;"></i></a>*@
    </div>
    <div style="font-family: 'Lucida Calligraphy', Arial, Helvetica, sans-serif, Verdana; font-size: 14px; padding-left: 72px; padding-right: 40px; text-align: justify;">
        మా కథ ప్రేరణ, అభిరుచి మరియు షరతులు లేని నిబద్ధత యొక్క కథ. ఇది మా ఉత్పత్తుల గురించి మాత్రమే కాకుండా మా కస్టమర్ యొక్క శ్రేయస్సుపై మా సానుకూల ప్రభావం గురించి కూడా.
        <br /><br />
        అందించే ఉత్పత్తుల స్వచ్ఛతకు మనం అచంచలమైన కట్టుబడి ఉండటం వల్ల మనల్ని నిర్వచిస్తుంది మరియు ఇతరుల నుండి వేరు చేస్తుంది. కస్టమర్ సంతృప్తి కోసం మా అంకితభావం కస్టమర్‌ను రిఫరల్ సోర్స్‌గా మారుస్తుంది.
        <br /><br />
        ఆధ్యాత్మిక అభ్యాసాల కోసం, ప్రపంచవ్యాప్తంగా ఉన్న ఆధునిక కుటుంబాలు తమ సంప్రదాయాలను కొనసాగించడంలో సహాయపడటానికి డివైన్ బీజా సాధనాలు మరియు కిట్‌లను అందిస్తుంది. ఇందులో పూలు, వస్త్రాలు మరియు ఇతర పూజా సామాగ్రి ఉన్నాయి.
        <br /><br />
        ప్రత్యేక ఈవెంట్‌లు మరియు సందర్భాల కోసం, మీరు ఎక్కడ ఉన్నా మీ ఇంటి వద్దకే భారతదేశపు రుచిని అందించే స్వీట్లు మరియు సావరీలను మేము అందిస్తాము. ఇందులో ఆంధ్ర మరియు చెన్నై డిలైట్స్ ఉన్నాయి.
        <br /><br />
        వివాహాలు మరియు ఇతర వేడుకల కోసం, మేము వివిధ వస్తువులను అందిస్తాము, తద్వారా కుటుంబాలు ఆ సందర్భాలను నిజంగా ప్రత్యేకంగా చేస్తాయి.
        <br /><br />
        ప్రపంచవ్యాప్తంగా ఉన్న కుటుంబాల కోసం, సహేతుకమైన ధరలను కొనసాగిస్తూ వారి రోజువారీ వినియోగం కోసం మేము వారికి అత్యుత్తమ నాణ్యత గల సుగంధ ద్రవ్యాలను అందిస్తాము.
        <br /><br />
        అది మీకు మా వాగ్దానం మరియు హామీ!
        <br /><br />
        దైవ బీజా - మా లక్ష్యం:
        <br /><br />
        మా కస్టమర్‌లు కొనుగోలు చేసిన ప్రతిసారీ మాపై నమ్మకం ఉంచే వారి ఆరోగ్యం మరియు శ్రేయస్సుకు మద్దతు ఇవ్వడానికి మరియు పెంపొందించడానికి అత్యుత్తమ నాణ్యతతో కూడిన ప్రీమియం ఉత్పత్తులను అందించడం.
        <br /><br />
        Mā katha prēraṇa, abhiruci mariyu ṣaratulu lēni nibad'dhata yokka katha. Idi mā utpattula gurin̄ci mātramē kākuṇḍā mā kasṭamar yokka śrēyas'supai mā sānukūla prabhāvaṁ gurin̄ci kūḍā.
        <br /><br />
        Andin̄cē utpattula svacchataku manaṁ acan̄calamaina kaṭṭubaḍi uṇḍaṭaṁ valla manalni nirvacistundi mariyu itarula nuṇḍi vēru cēstundi. Kasṭamar santr̥pti kōsaṁ mā aṅkitabhāvaṁ kasṭamar‌nu ripharal sōrs‌gā mārustundi.
        <br /><br />
        Ādhyātmika abhyāsāla kōsaṁ, prapan̄cavyāptaṅgā unna ādhunika kuṭumbālu tama sampradāyālanu konasāgin̄caḍanlō sahāyapaḍaṭāniki ḍivain bījā sādhanālu mariyu kiṭ‌lanu andistundi. Indulō pūlu, vastrālu mariyu itara pūjā sāmāgri unnāyi.
        <br /><br />
        Pratyēka īveṇṭ‌lu mariyu sandarbhāla kōsaṁ, mīru ekkaḍa unnā mī iṇṭi vaddakē bhāratadēśapu rucini andin̄cē svīṭlu mariyu sāvarīlanu mēmu andistāmu. Indulō āndhra mariyu cennai ḍilaiṭs unnāyi.
        <br /><br />
        Vivāhālu mariyu itara vēḍukala kōsaṁ, mēmu vividha vastuvulanu andistāmu, tadvārā kuṭumbālu ā sandarbhālanu nijaṅgā pratyēkaṅgā cēstāyi.
        <br /><br />
        Prapan̄cavyāptaṅgā unna kuṭumbāla kōsaṁ, sahētukamaina dharalanu konasāgistū vāri rōjuvārī viniyōgaṁ kōsaṁ mēmu vāriki atyuttama nāṇyata gala sugandha dravyālanu andistāmu.
        <br /><br />
        Adi mīku mā vāgdānaṁ mariyu hāmī!
        <br /><br />
        Daiva bījā - mā lakṣyaṁ:
        <br /><br />
        Mā kasṭamar‌lu konugōlu cēsina pratisārī māpai nam'makaṁ un̄cē vāri ārōgyaṁ mariyu śrēyas'suku maddatu ivvaḍāniki mariyu pempondin̄caḍāniki atyuttama nāṇyatatō kūḍina prīmiyaṁ utpattulanu andin̄caḍaṁ.
    </div>
    <hr style="border-color: #000000; border-style: solid; border-width: 1px;" />
</div>
<div id="divKannada" style="display: none;">
    <div style="color: #0000ff; font-family: 'Lucida Calligraphy', Arial, Helvetica, sans-serif, Verdana; font-size: 36px; font-weight: bold; padding-left: 72px; padding-right: 40px; text-align: center;">
        About Us - ನಮ್ಮ ಬಗ್ಗೆ - Nam'ma bagge@*&nbsp;<a href="javascript: void(0);" onclick="javascript: return document.getElementById('language').scrollIntoView();"><i class="fa fa-arrow-circle-up" style="color: #000000; font-size: 36px; padding-left: 0px;"></i></a>*@
    </div>
    <div style="font-family: 'Lucida Calligraphy', Arial, Helvetica, sans-serif, Verdana; font-size: 14px; padding-left: 72px; padding-right: 40px; text-align: justify;">
        ನಮ್ಮ ಕಥೆಯು ಪ್ರೇರಣೆ, ಉತ್ಸಾಹ ಮತ್ತು ಬೇಷರತ್ತಾದ ಬದ್ಧತೆಯ ಕಥೆಯಾಗಿದೆ. ಇದು ನಮ್ಮ ಉತ್ಪನ್ನಗಳ ಬಗ್ಗೆ ಮಾತ್ರವಲ್ಲದೆ ನಮ್ಮ ಗ್ರಾಹಕರ ಯೋಗಕ್ಷೇಮದ ಮೇಲೆ ನಮ್ಮ ಧನಾತ್ಮಕ ಪ್ರಭಾವದ ಬಗ್ಗೆಯೂ ಇದೆ.
        <br /><br />
        ನೀಡಲಾದ ಉತ್ಪನ್ನಗಳ ಶುದ್ಧತೆಗೆ ನಮ್ಮ ಅಚಲವಾದ ಅನುಸರಣೆಯು ನಮ್ಮನ್ನು ವ್ಯಾಖ್ಯಾನಿಸುತ್ತದೆ ಮತ್ತು ಇತರರಿಂದ ನಮ್ಮನ್ನು ಪ್ರತ್ಯೇಕಿಸುತ್ತದೆ. ಗ್ರಾಹಕರ ತೃಪ್ತಿಗಾಗಿ ನಮ್ಮ ಸಮರ್ಪಣೆಯೇ ಗ್ರಾಹಕರನ್ನು ಉಲ್ಲೇಖಿತ ಮೂಲವಾಗಿ ಪರಿವರ್ತಿಸುತ್ತದೆ.
        <br /><br />
        ಆಧ್ಯಾತ್ಮಿಕ ಅಭ್ಯಾಸಗಳಿಗಾಗಿ, ಪ್ರಪಂಚದಾದ್ಯಂತ ಆಧುನಿಕ ಕುಟುಂಬಗಳು ತಮ್ಮ ಸಂಪ್ರದಾಯಗಳನ್ನು ಮುಂದುವರಿಸಲು ಸಹಾಯ ಮಾಡಲು ಡಿವೈನ್ ಬಿಜಾ ಉಪಕರಣಗಳು ಮತ್ತು ಕಿಟ್‌ಗಳನ್ನು ನೀಡುತ್ತದೆ. ಇದು ಹೂವುಗಳು, ವಸ್ತ್ರಗಳು ಮತ್ತು ಇತರ ಪೂಜಾ ಸಾಮಗ್ರಿಗಳನ್ನು ಒಳಗೊಂಡಿರುತ್ತದೆ.
        <br /><br />
        ವಿಶೇಷ ಕಾರ್ಯಕ್ರಮಗಳು ಮತ್ತು ಸಂದರ್ಭಗಳಿಗಾಗಿ, ನೀವು ಎಲ್ಲಿದ್ದರೂ ಭಾರತದ ರುಚಿಯನ್ನು ನಿಮ್ಮ ಮನೆ ಬಾಗಿಲಿಗೆ ತರುವಂತಹ ಸಿಹಿತಿಂಡಿಗಳು ಮತ್ತು ಖಾರಗಳನ್ನು ನಾವು ನೀಡುತ್ತೇವೆ. ಇದರಲ್ಲಿ ಆಂಧ್ರ ಮತ್ತು ಚೆನ್ನೈ ಸಂತೋಷಗಳು ಸೇರಿವೆ.
        <br /><br />
        ಮದುವೆಗಳು ಮತ್ತು ಇತರ ಸಮಾರಂಭಗಳಿಗೆ, ನಾವು ವಿವಿಧ ವಸ್ತುಗಳನ್ನು ನೀಡುತ್ತೇವೆ ಆದ್ದರಿಂದ ಕುಟುಂಬಗಳು ಆ ಸಂದರ್ಭಗಳನ್ನು ನಿಜವಾಗಿಯೂ ವಿಶೇಷವಾಗಿಸಬಹುದು.
        <br /><br />
        ಪ್ರಪಂಚದಾದ್ಯಂತದ ಕುಟುಂಬಗಳಿಗೆ, ಸಮಂಜಸವಾದ ಬೆಲೆಗಳನ್ನು ನಿರ್ವಹಿಸುವಾಗ ನಾವು ಅವರ ದೈನಂದಿನ ಬಳಕೆಗಾಗಿ ಉತ್ತಮ ಗುಣಮಟ್ಟದ ಮಸಾಲೆಗಳನ್ನು ತರುತ್ತೇವೆ.
        <br /><br />
        ಅದು ನಿಮಗೆ ನಮ್ಮ ಭರವಸೆ ಮತ್ತು ಭರವಸೆ!
        <br /><br />
        ದೈವಿಕ ಬಿಜಾ - ನಮ್ಮ ಮಿಷನ್:
        <br /><br />
        ನಮ್ಮ ಗ್ರಾಹಕರ ಆರೋಗ್ಯ ಮತ್ತು ಯೋಗಕ್ಷೇಮವನ್ನು ಬೆಂಬಲಿಸಲು ಮತ್ತು ಪೋಷಿಸಲು ಉತ್ತಮ ಗುಣಮಟ್ಟದ ಪ್ರೀಮಿಯಂ ಉತ್ಪನ್ನಗಳನ್ನು ಅವರು ಖರೀದಿಸಿದಾಗ ಪ್ರತಿ ಬಾರಿಯೂ ನಮ್ಮ ಮೇಲೆ ನಂಬಿಕೆ ಇಡುತ್ತಾರೆ.
        <br /><br />
        Nam'ma katheyu prēraṇe, utsāha mattu bēṣarattāda bad'dhateya katheyāgide. Idu nam'ma utpannagaḷa bagge mātravallade nam'ma grāhakara yōgakṣēmada mēle nam'ma dhanātmaka prabhāvada baggeyū ide.
        <br /><br />
        Nīḍalāda utpannagaḷa śud'dhatege nam'ma acalavāda anusaraṇeyu nam'mannu vyākhyānisuttade mattu itararinda nam'mannu pratyēkisuttade. Grāhakara tr̥ptigāgi nam'ma samarpaṇeyē grāhakarannu ullēkhita mūlavāgi parivartisuttade.
        <br /><br />
        Ādhyātmika abhyāsagaḷigāgi, prapan̄cadādyanta ādhunika kuṭumbagaḷu tam'ma sampradāyagaḷannu munduvarisalu sahāya māḍalu ḍivain bijā upakaraṇagaḷu mattu kiṭ‌gaḷannu nīḍuttade. Idu hūvugaḷu, vastragaḷu mattu itara pūjā sāmagrigaḷannu oḷagoṇḍiruttade.
        <br /><br />
        Viśēṣa kāryakramagaḷu mattu sandarbhagaḷigāgi, nīvu elliddarū bhāratada ruciyannu nim'ma mane bāgilige taruvantaha sihitiṇḍigaḷu mattu khāragaḷannu nāvu nīḍuttēve. Idaralli āndhra mattu cennai santōṣagaḷu sērive.
        <br /><br />
        Maduvegaḷu mattu itara samārambhagaḷige, nāvu vividha vastugaḷannu nīḍuttēve āddarinda kuṭumbagaḷu ā sandarbhagaḷannu nijavāgiyū viśēṣavāgisabahudu.
        <br /><br />
        Prapan̄cadādyantada kuṭumbagaḷige, saman̄jasavāda belegaḷannu nirvahisuvāga nāvu avara dainandina baḷakegāgi uttama guṇamaṭṭada masālegaḷannu taruttēve.
        <br /><br />
        Adu nimage nam'ma bharavase mattu bharavase!
        <br /><br />
        Daivika bijā - nam'ma miṣan:
        <br /><br />
        Nam'ma grāhakara ārōgya mattu yōgakṣēmavannu bembalisalu mattu pōṣisalu uttama guṇamaṭṭada prīmiyaṁ utpannagaḷannu avaru kharīdisidāga prati bāriyū nam'ma mēle nambike iḍuttāre.
    </div>
    <hr style="border-color: #000000; border-style: solid; border-width: 1px;" />
</div>
<div id="divMalayalam" style="display: none;">
    <div style="color: #0000ff; font-family: 'Lucida Calligraphy', Arial, Helvetica, sans-serif, Verdana; font-size: 36px; font-weight: bold; padding-left: 72px; padding-right: 40px; text-align: center;">
        About Us - ഞങ്ങളേക്കുറിച്ച് - ñaṅṅaḷēkkuṟicc@*@&nbsp;<a href="javascript: void(0);" onclick="javascript: return document.getElementById('language').scrollIntoView();"><i class="fa fa-arrow-circle-up" style="color: #000000; font-size: 36px; padding-left: 0px;"></i></a>*@
    </div>
    <div style="font-family: 'Lucida Calligraphy', Arial, Helvetica, sans-serif, Verdana; font-size: 14px; padding-left: 72px; padding-right: 40px; text-align: justify;">
        ഞങ്ങളുടെ കഥ പ്രചോദനത്തിന്റെയും അഭിനിവേശത്തിന്റെയും നിരുപാധികമായ പ്രതിബദ്ധതയുടെയും ഒരു കഥയാണ്. ഞങ്ങളുടെ ഉൽപ്പന്നങ്ങളെക്കുറിച്ചും ഉപഭോക്താവിന്റെ ക്ഷേമത്തിൽ അതിന്റെ നല്ല സ്വാധീനത്തെക്കുറിച്ചും ഞങ്ങൾ ശ്രദ്ധിക്കുന്നു.
        <br /><br />
        വാഗ്ദാനം ചെയ്യുന്ന ഉൽപ്പന്നങ്ങളുടെ ഗുണനിലവാരം നമ്മെ നിർവചിക്കുകയും മറ്റുള്ളവരിൽ നിന്ന് വ്യത്യസ്തരാക്കുകയും ചെയ്യുന്നു. സംതൃപ്തനായ ഒരു ഉപഭോക്താവ് ഒരു മികച്ച റഫറൽ ഉറവിടമാണെന്ന് ഞങ്ങൾ വിശ്വസിക്കുന്നു.
        <br /><br />
        ആത്മീയ ആചാരങ്ങൾക്കായി, ലോകമെമ്പാടുമുള്ള ആധുനിക കുടുംബങ്ങളെ അവരുടെ പാരമ്പര്യങ്ങൾ തുടരാൻ സഹായിക്കുന്നതിന് ഡിവൈൻ ബീജ ഉപകരണങ്ങളും കിറ്റുകളും വാഗ്ദാനം ചെയ്യുന്നു. പൂക്കളും വസ്ത്രങ്ങളും മറ്റ് പൂജാ സാധനങ്ങളും ഇതിൽ ഉൾപ്പെടുന്നു. വിശദാംശങ്ങൾക്ക് പകരം വലിയ ഇവന്റിൽ ശ്രദ്ധ കേന്ദ്രീകരിക്കാൻ നിങ്ങളെ സഹായിക്കുന്നതിന് ഹൗസ് വാമിംഗ് (ഗൃഹപ്രവേശം) പോലുള്ള വിവിധ അവസരങ്ങൾക്കായി ഞങ്ങൾ കിറ്റുകൾ വാഗ്ദാനം ചെയ്യുന്നു.
        <br /><br />
        പ്രത്യേക ഇവന്റുകൾക്കും അവസരങ്ങൾക്കും, നിങ്ങൾ എവിടെയായിരുന്നാലും ഇന്ത്യയുടെ രുചി നിങ്ങളുടെ വീട്ടുവാതിൽക്കൽ എത്തിക്കുന്ന മധുരപലഹാരങ്ങളും പലഹാരങ്ങളും ഞങ്ങൾ വാഗ്ദാനം ചെയ്യുന്നു. ഇതിൽ ആന്ധ്രയും ചെന്നൈയും ഉൾപ്പെടുന്നു.
        <br /><br />
        വിവാഹങ്ങൾക്കും മറ്റ് ചടങ്ങുകൾക്കുമായി, ആ അവസരങ്ങൾ ശരിക്കും സവിശേഷമാക്കാൻ കുടുംബങ്ങളെ സഹായിക്കുന്നതിന് ഞങ്ങൾ വിവിധ ഉൽപ്പന്നങ്ങൾ വാഗ്ദാനം ചെയ്യുന്നു.
        <br /><br />
        ലോകമെമ്പാടുമുള്ള കുടുംബങ്ങൾക്കായി, ന്യായമായ വിലയിൽ അവരുടെ ദൈനംദിന ഉപയോഗത്തിന് ഏറ്റവും മികച്ച ഗുണനിലവാരമുള്ള സുഗന്ധവ്യഞ്ജനങ്ങൾ ഞങ്ങൾ കൊണ്ടുവരുന്നു.
        <br /><br />
        അതാണ് നിങ്ങൾക്കുള്ള ഞങ്ങളുടെ വാഗ്ദാനവും ഉറപ്പും!
        <br /><br />
        <span style="color: #000000; text-decoration: underline;">ദിവ്യ ബീജ - ഞങ്ങളുടെ ദൗത്യം:</span>
        <br />
        ഞങ്ങളിൽ വിശ്വാസമർപ്പിക്കുന്ന ഞങ്ങളുടെ ഉപഭോക്താക്കളുടെ ആരോഗ്യവും ക്ഷേമവും പിന്തുണയ്ക്കുന്നതിനും പരിപോഷിപ്പിക്കുന്നതിനുമായി ഉയർന്ന നിലവാരമുള്ള പ്രീമിയം ഉൽപ്പന്നങ്ങൾ വിതരണം ചെയ്യുക.
        <br /><br />
        ñaṅṅaḷuṭe katha pracēādanattinṟeyuṁ abhinivēśattinṟeyuṁ nirupādhikamāya pratibad'dhatayuṭeyuṁ oru kathayāṇ. ñaṅṅaḷuṭe ulppannaṅṅaḷekkuṟiccuṁ upabhēāktāvinṟe kṣēmattil atinṟe nalla svādhīnattekkuṟiccuṁ ñaṅṅaḷ śrad'dhikkunnu.
        <br /><br />
        vāgdānaṁ ceyyunna ulppannaṅṅaḷuṭe guṇanilavāraṁ nam'me nirvacikkukayuṁ maṟṟuḷḷavaril ninn vyatyastarākkukayuṁ ceyyunnu. santr̥ptanāya oru upabhēāktāv oru mikacca ṟaphaṟal uṟaviṭamāṇenn ñaṅṅaḷ viśvasikkunnu.
        <br /><br />
        ātmīya ācāraṅṅaḷkkāyi, lēākamempāṭumuḷḷa ādhunika kuṭumbaṅṅaḷe avaruṭe pāramparyaṅṅaḷ tuṭarān sahāyikkunnatin ḍivain bīja upakaraṇaṅṅaḷuṁ kiṟṟukaḷuṁ vāgdānaṁ ceyyunnu. pūkkaḷuṁ vastraṅṅaḷuṁ maṟṟ pūjā sādhanaṅṅaḷuṁ itil uḷppeṭunnu. viśadānśaṅṅaḷkk pakaraṁ valiya ivanṟil śrad'dha kēndrīkarikkān niṅṅaḷe sahāyikkunnatin has vāmiṅg (gr̥hapravēśaṁ) pēāluḷḷa vividha avasaraṅṅaḷkkāyi ñaṅṅaḷ kiṟṟukaḷ vāgdānaṁ ceyyunnu.
        <br /><br />
        pratyēka ivanṟukaḷkkuṁ avasaraṅṅaḷkkuṁ, niṅṅaḷ eviṭeyāyirunnāluṁ intyayuṭe ruci niṅṅaḷuṭe vīṭṭuvātilkkal ettikkunna madhurapalahāraṅṅaḷuṁ palahāraṅṅaḷuṁ ñaṅṅaḷ vāgdānaṁ ceyyunnu. itil āndhrayuṁ cennaiyuṁ uḷppeṭunnu.
        <br /><br />
        vivāhaṅṅaḷkkuṁ maṟṟ caṭaṅṅukaḷkkumāyi, ā avasaraṅṅaḷ śarikkuṁ saviśēṣamākkān kuṭumbaṅṅaḷe sahāyikkunnatin ñaṅṅaḷ vividha ulppannaṅṅaḷ vāgdānaṁ ceyyunnu.
        <br /><br />
        lēākamempāṭumuḷḷa kuṭumbaṅṅaḷkkāyi, n'yāyamāya vilayil avaruṭe dainandina upayēāgattin ēṟṟavuṁ mikacca guṇanilavāramuḷḷa sugandhavyañjanaṅṅaḷ ñaṅṅaḷ keāṇṭuvarunnu.
        <br /><br />
        atāṇ niṅṅaḷkkuḷḷa ñaṅṅaḷuṭe vāgdānavuṁ uṟappuṁ!
        <br /><br />
        <span style="color: #000000; text-decoration: underline;">divya bīja - ñaṅṅaḷuṭe datyaṁ:</span>
        <br />
        ñaṅṅaḷil viśvāsamarppikkunna ñaṅṅaḷuṭe upabhēāktākkaḷuṭe ārēāgyavuṁ kṣēmavuṁ pintuṇaykkunnatinuṁ paripēāṣippikkunnatinumāyi uyarnna nilavāramuḷḷa prīmiyaṁ ulppannaṅṅaḷ vitaraṇaṁ ceyyuka.
    </div>
    <hr style="border-color: #000000; border-style: solid; border-width: 1px;" />
</div>
<div style="font-family: 'Lucida Calligraphy', Arial, Helvetica, sans-serif, Verdana; font-size: 14px; padding-left: 72px; padding-right: 40px; text-align: justify;">
    <div style="float: left;">
        <span style="color: #000000; font-size: 14px; font-weight: bold;">@ArchLibCache.GetApplicationDefault(clientId, "BusinessName", "")</span>
        <br />
        <span style="color: #000000; font-size: 14px; font-weight: bold;">@ArchLibCache.GetApplicationDefault(clientId, "AddressLine1", "")</span>
        <br />
        <span style="color: #000000; font-size: 14px; font-weight: bold;">@ArchLibCache.GetApplicationDefault(clientId, "AddressLine2", "")</span>
        <br />
        <span style="color: #000000; font-size: 14px; font-weight: bold;">@ArchLibCache.GetApplicationDefault(clientId, "AddressCityName", "") - @ArchLibCache.GetApplicationDefault(clientId, "AddressZipCode", "")</span>
        <br />
        <span style="color: #000000; font-size: 14px; font-weight: bold;">@ArchLibCache.GetApplicationDefault(clientId, "AddressStateName", "") - @ArchLibCache.GetApplicationDefault(clientId, "AddressCountryName", "")</span>
    </div>
    <div style="float: left; padding-left: 63px;">
        <a href="@Url.Action("ContactUs", "Home")" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click here to Contact Us</a>
        <br />
        <a href="mailto: @ArchLibCache.GetApplicationDefault(clientId, "FromEmailAddress", "")" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click here to Email Us</a>
        <br /><br />
        <a href="tel: @ArchLibCache.GetApplicationDefault(clientId, "ContactPhoneHref", "")" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">@ArchLibCache.GetApplicationDefault(clientId, "ContactPhoneFormatted", "")</a> - Phone
        <br />
        <a href="sms: @ArchLibCache.GetApplicationDefault(clientId, "ContactTextPhoneHref", "")" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">@ArchLibCache.GetApplicationDefault(clientId, "ContactTextPhoneFormatted", "")</a> - SMS / Message / Text
    </div>
    <br style="clear: both;" />
</div>
<script type="text/javascript">
    language_onchange();
    function language_onchange() {
        for (var i = 0; i < document.getElementById("language").options.length; i++) {
            document.getElementById(document.getElementById("language").options[i].value).style.display = "none";
        }
        document.getElementById(document.getElementById("language").value).style.display = "block";
    }
</script>
