@using ArchitectureLibraryCacheData
@{
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    var imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
}
<table style="margin-left: auto; margin-right: auto;">
    <tr>
        <td style="padding-right: 27px; vertical-align: top;">
            <div style="background-color: #4054b2; color: #ffffff; padding: 27px; width: 369px;">
                <span style="color: #ffffff; font-family: sans-serif; font-size: 18px; font-weight: 900;">Pooja</span>,
                <span style="color: #ffffff; font-family: sans-serif; font-size: 18px; font-weight: 900;">Savories</span>,
                <span style="color: #ffffff; font-family: sans-serif; font-size: 18px; font-weight: 900;">Spices</span>
            </div>
            <br />
            <div id="divCarouselText0" style="border-color: #000000; border-style: solid; color: #ffffff; display: block; height: 270px; overflow-y: scroll; padding: 27px; width: 369px;">
                <span style="color: #000000; font-family: sans-serif; font-size: 18px; font-weight: 900;">Pooja - Our Pooja items are sourced from the most reliable suppliers</span><br /><br />
                <p style="color: #000000; font-family: sans-serif; font-size: 15px;">You are performing a homa (havan) at your home. Order your homa supplies from us for a worry free spiritual experience. We are trusted by temples all over the world for their supplies</p>
                <p style="color: #000000; font-family: sans-serif; font-size: 15px;">May be you are performing a Gruhapravesh (house warming) Ceremony. Order your Gruhapravesh kit from us for a smooth spiritual celebration. Hundreds of modern families all over the world have put their trust in us</p>
            </div>
            <div id="divCarouselText1" style="border-color: #000000; border-style: solid; color: #ffffff; display: block; height: 270px; overflow-y: scroll; padding: 27px; width: 369px;">
                <span style="color: #000000; font-family: sans-serif; font-size: 18px; font-weight: 900;">Savories - Your favorite savories brought to you across the world</span><br /><br />
                <p style="color: #000000; font-family: sans-serif; font-size: 15px;">Treat your guests for your special events and occasions with sweets and savories that brings the taste of India right to your doorstep where ever you are. This includes Andhra and Chennai delights</p>
            </div>
            <div id="divCarouselText2" style="border-color: #000000; border-style: solid; color: #ffffff; display: block; height: 270px; overflow-y: scroll; padding: 27px; width: 369px;">
                <span style="color: #000000; font-family: sans-serif; font-size: 18px; font-weight: 900;">Spices: To make your dishes taste “spice as good”</span><br /><br />
                <p style="color: #000000; font-family: sans-serif; font-size: 15px;">Families around the world trust us to bring them the best spices from our most trusted partners</p>
            </div>
        </td>
        <td style="vertical-align: top;">
            <div id="divCarouselImage0" style="display: block;">
                <img class="img-responsive" alt="@imageTitle" src="~/ClientSpecific/@(clientId)_@(clientName)/Documents/Images/Image_001.webp" title="@imageTitle" style="height: auto; max-height: 459px; max-width: 549px; width: 100%;" />
            </div>
            <div id="divCarouselImage1" style="display: none;">
                <img class="img-responsive" alt="@imageTitle" src="~/ClientSpecific/@(clientId)_@(clientName)/Documents/Images/Image_002.webp" title="@imageTitle" style="height: auto; max-height: 459px; max-width: 549px; width: 100%;" />
            </div>
            <div id="divCarouselImage2" style="display: none;">
                <img class="img-responsive" alt="@imageTitle" src="~/ClientSpecific/@(clientId)_@(clientName)/Documents/Images/Image_003.webp" title="@imageTitle" style="height: auto; max-height: 459px; max-width: 549px; width: 100%;" />
            </div>
        </td>
    </tr>
</table>
<script type="text/javascript">
    var carouselIndex = 0;
    displayCarousel();
    setInterval(displayCarousel, 4599);
    function displayCarousel() {
        for (var i = 0; i < 3; i++) {
            document.getElementById("divCarouselImage" + i).style.display = "none";
            document.getElementById("divCarouselText" + i).style.display = "none";
        }
        document.getElementById("divCarouselImage" + carouselIndex).style.display = "block";
        document.getElementById("divCarouselText" + carouselIndex).style.display = "block";
        carouselIndex++;
        if (carouselIndex == 3) {
            carouselIndex = 0;
        }
    }
</script>
