@model RetailSlnModels.CheckoutModel
<div class="container" id="divOrderProcess">
    <h2 class="text-center mb-4" style="color: #a54000; font-weight: bold; letter-spacing: 4px; text-transform: uppercase;">
        Checkout
    </h2>
    <div class="col-md-6" style="float: left; text-align: left;">
        <div>
            @Html.Partial("_ShoppingCart", Model.ShoppingCartModel)
        </div>
        <hr style="background-color: #000000; display: block; font-size: 18px; font-weight: bold; height: 1px;" />
        <h3 style="font-weight: bold;">L O G I N <span style="color: #ff0000;">(Returning users)</span></h3>
        @if (!ViewData.ModelState.IsValid)
        {
            <div id="divLoginUserProfScrollIntoView" style="font-weight: bold;"></div>
            @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(false, "", new { @class = "validationSummaryErrors" }).ToHtmlString()))
        }
        else
        {
            <ul style="font-weight: bold;">
                <li>
                    Please enter email address, login password, captcha answer
                </li>
                <li>
                    Click <span style="color: #0000ff; font-size: 18px;">L O G I N</span> to continue
                </li>
                <li style="color: #ff0000;">
                    Did you forget your password - feel free to reset
                </li>
                <li>
                    Passwords have expiry date. Feel free to reset
                </li>
            </ul>
            <form id="formLoginUserProfData">
                @Html.Partial("_LoginUserProfData", Model.LoginUserProfModel)
            </form>
            <button class="loginRegisterbtn" id="checkoutLoginUser" onclick="javascript: return checkoutLoginUser_onclick();" style="width: 90%;" type="button">L O G I N</button>
            <br style="clear: both;" />
            <br style="clear: both;" />
            <ul style="font-size: 14px; font-weight: bold;">
                <li>
                    <a href="@Url.Action("ResetPasswordContactUs", "Home")" style="color: #ff0000; font-size: 14px; text-decoration: underline;" target="_blank">Click here to reset your password</a>
                </li>
                <li>
                    <a href="@Url.Action("ContactUs", "Home")" style="color: #0000ff; font-size: 14px; text-decoration: underline;" target="_blank">Click here to Contact Us...</a>
                </li>
            </ul>
            <ul style="font-size: 14px; font-weight: bold;">
                <li>
                    Login and enjoy the rich features of the product
                </li>
            </ul>
        }
    </div>
    <div class="col-md-6" style="float: left; text-align: left;">
        @Html.Partial("_LoginUserProfGuest", Model.CheckoutGuestModel)
        @Html.Partial("_RegisterUserProf", Model.RegisterUserProfModel)
    </div>
</div>
<script type="text/javascript">
    function giftCertBalance_onclick() {
        console.log("00000000", "giftCertBalance_onclick", "ENTER!!!");
        $("#loadingModal").modal({ backdrop: 'static', keyboard: false });
        var url = "/Home/GiftCertBalance?";
        var queryString = "giftCertNumber=" + document.getElementById("GiftCertNumber").value + "&giftCertKey=" + document.getElementById("GiftCertKey").value;
        $.ajax({
            url: url + queryString,
            type: "GET",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",//"application/x-www-form-urlencoded; charset=UTF-8",//"text/plain; charset=UTF-8", //false, //"application/json; charset=utf-8",
            //dataType: "html",
            //data: postData,
            //async: false,
            success: function (responseData, textStatus, request) {
                $("#loadingModal").modal('hide');
                if (responseData.success) {
                    document.getElementById("giftCertBalanceAmount").innerHTML = responseData.giftCertBalanceAmount;
                }
                else {
                    document.getElementById("giftCertBalanceAmount").innerHTML = responseData.errorMessage;
                }
                console.log("00090000", "giftCertBalance_onclick", "SUCCESS!!!");
            },
            error: function (xhr, exception) {
                $("#loadingModal").modal('hide');
                document.getElementById("giftCertBalanceAmount").innerHTML = xhr.responseText.errorMessage;
                console.log("00099000", "giftCertBalance_onclick", "ERROR???", exception, xhr);
            }
        });
        return false;
    }
    function checkoutLoginUser_onclick() {
        console.log("00000000", "checkoutLoginUser_onclick", "ENTER!!!");
        $("#loadingModal").modal({ backdrop: 'static', keyboard: false });
        var url = "/Home/Checkout";
        var postData = $("#formLoginUserProfData").serialize();
        $.ajax({
            url: url,
            type: "POST",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",//"application/x-www-form-urlencoded; charset=UTF-8",//"text/plain; charset=UTF-8", //false, //"application/json; charset=utf-8",
            //dataType: "html",
            data: postData,
            //async: false,
            success: function (responseData, textStatus, request) {
                $("#loadingModal").modal('hide');
                console.log(responseData);
                if (responseData.success) {
                    document.getElementById("divOrderProcess").innerHTML = responseData.htmlString;
                }
                else {
                    document.getElementById("formLoginUserProfData").innerHTML = responseData.htmlString;
                }
                console.log("00001000", "checkoutLoginUser_onclick success", responseData.processMessage);
            },
            error: function (xhr, exception) {
                $("#loadingModal").modal('hide');
                document.getElementById("formLoginUserProfData").innerHTML = xhr.responseText;
                console.log("00099000", "checkoutLoginUser_onclick", "ERROR???", exception, xhr);
            }
        });
    }
    function deliveryInfoSave_onclick() {
        console.log("00000000", "deliveryInfoSave_onclick");
        $("#loadingModal").modal({ backdrop: 'static', keyboard: false });
        var url = "/Home/DeliveryInfo";
        var postData = $("#formDeliveryInfoData").serialize();
        $.ajax({
            url: url,
            type: "POST",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",//"application/x-www-form-urlencoded; charset=UTF-8",//"text/plain; charset=UTF-8", //false, //"application/json; charset=utf-8",
            //dataType: "html",
            data: postData,
            //async: false,
            success: function (responseData, textStatus, request) {
                $("#loadingModal").modal('hide');
                if (responseData.success) {
                    document.getElementById("divOrderProcess").innerHTML = responseData.htmlString;
                }
                else {
                    document.getElementById("formDeliveryInfoData").innerHTML = responseData.htmlString;
                }
                console.log("00001000", "deliveryInfoSave_onclick success", responseData.processMessage);
            },
            error: function (xhr, exception) {
                $("#loadingModal").modal('hide');
                document.getElementById("formDeliveryInfoData").innerHTML = xhr.responseText;
                console.log("00099000", "deliveryInfoSave_onclick error", exception, xhr);
            }
        });
    }
    function paymentSave_onclick() {
        console.log("00000000", "paymentSave_onclick");
        $("#loadingModal").modal({ backdrop: 'static', keyboard: false });
        var url = "/Home/Payment";
        var postData = $("#formPaymentData").serialize();
        $.ajax({
            url: url,
            type: "POST",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",//"application/x-www-form-urlencoded; charset=UTF-8",//"text/plain; charset=UTF-8", //false, //"application/json; charset=utf-8",
            //dataType: "html",
            data: postData,
            //async: false,
            success: function (responseData, textStatus, request) {
                $("#loadingModal").modal('hide');
                console.log(responseData);
                if (responseData.success) {
                    if (responseData.success) {
                        document.getElementById("divOrderProcess").innerHTML = responseData.htmlString;
                        document.getElementById("shoppingCartItemsCount").innerHTML = "Empty";
                        document.getElementById("shoppingCartTotalAmount").innerHTML = "Cart";
                        if (document.getElementById("shoppingCartItemsCount2") != null) {
                            document.getElementById("shoppingCartItemsCount2").innerHTML = "Empty";
                            document.getElementById("shoppingCartTotalAmount2").innerHTML = "Cart";
                        }
                        document.getElementById("divOrderProcess").scrollIntoView();
                    }
                    else {
                        document.getElementById("formPaymentData").innerHTML = responseData.htmlString;
                    }
                }
                else {
                    document.getElementById("formPaymentData").innerHTML = responseData.htmlString;
                }
                console.log("00001000", "deliveryInfoSave_onclick success", responseData.processMessage);
                $("#loadingModal").modal('hide');
            },
            error: function (xhr, exception) {
                $("#loadingModal").modal('hide');
                document.getElementById("formPaymentData").innerHTML = xhr.responseText;
                console.log("00099000", "paymentSave_onclick error", exception, xhr);
                $("#loadingModal").modal('hide');
            }
        });
    }
</script>
