@using ArchitectureLibraryCacheData
@{
    var clientId = ArchLibCache.ClientId;
}
<div style="display: table;">
    <div class="row" id="contactUsInfoTitle" style="text-align: left;">
        <h2 style="font-weight: bold;">&nbsp;</h2>
    </div>
    <div style="display: table-row;">
        <div class="text-center" style="display: table-cell; vertical-align: top;">
            <i style="color: #000000; font-size: 18px; font-weight: bold;" class="fa fa-phone"></i>
        </div>
        <div class="text-left" style="display: table-cell; padding-left: 12px; vertical-align: top;">
            <a href="tel: @ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "ContactPhoneHref", "")" style="color: #0000ff; font-family: Roboto Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; text-decoration: underline;">
                @ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "ContactPhoneFormatted", "")
            </a>
        </div>
    </div>
    <div style="display: table-row;">
        <div class="text-center" style="display: table-cell; vertical-align: top;">
            <img src="~/Images/SMSIcon1.png" style="height: 23px; width: 27px;">
        </div>
        <div class="text-left" style="display: table-cell; padding-left: 12px; vertical-align: middle;">
            <a href="sms: @ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "ContactTextPhoneHref", "")" style="color: #0000ff; font-family: Roboto Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; text-decoration: underline;">
                @ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "ContactTextPhoneFormatted", "")
            </a>
        </div>
    </div>
    <div style="display: table-row;">
        <div class="text-center" style="display: table-cell; vertical-align: top; vertical-align: top; ">
            <img src="~/Images/WhatsApp1.png" style="height: 27px; width: 27px;">
        </div>
        <div class="text-left" style="display: table-cell; padding-left: 12px; vertical-align: middle;">
            <a target="_blank" href="https://api.whatsapp.com/send?phone=@(ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "ContactWhatsAppPhone", ""))" style="color: #0000ff; font-family: Roboto Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; text-decoration: underline;">
                @ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "ContactWhatsAppPhoneFormatted", "")
            </a>
        </div>
    </div>
    <div style="display: table-row;">
        <div class="text-center" style="display: table-cell; vertical-align: top;">
            <span class="glyphicon glyphicon-envelope" style="color: #000000; font-size: 18px;"></span>
        </div>
        <div class="text-left" style="display: table-cell; padding-left: 12px; vertical-align: top;">
            <a href="@Url.Action("ContactUs", "Home")" style="color: #0000ff; font-family: Robot, sans-serif; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">
                @ArchLibCache.GetApplicationDefault(clientId, "BusinessEmail", "")
            </a>
        </div>
    </div>
    <div style="display: table-row;">
        <div class="text-center" style="display: table-cell; vertical-align: top;">
            <br />
        </div>
        <div class="text-left" style="display: table-cell; padding-left: 12px; vertical-align: top;">
        </div>
    </div>
    <div style="display: table-row;">
        <div class="text-center" style="display: table-cell; vertical-align: top;">
        </div>
        <div class="text-left" style="display: table-cell; padding-left: 12px; vertical-align: top;">
            <span style="color: #000000; font-family: 'Times New Roman', Roboto, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 600; text-align: left;">
                @ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "")
            </span>
        </div>
    </div>
    <div style="display: table-row;">
        <div class="text-center" style="display: table-cell; vertical-align: top;">
        </div>
        <div class="text-left" style="display: table-cell; padding-left: 12px; vertical-align: top;">
            <span style="color: #000000; font-family: 'Times New Roman', Roboto, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 600; text-align: left;">
                @ArchLibCache.GetApplicationDefault(clientId, "AddressLine1", "")
            </span>
        </div>
    </div>
    <div style="display: table-row;">
        <div class="text-center" style="display: table-cell; vertical-align: top;">
        </div>
        <div class="text-left" style="display: table-cell; padding-left: 12px; vertical-align: top;">
            <span style="color: #000000; font-family: 'Times New Roman', Roboto, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 600; text-align: left;">
                @ArchLibCache.GetApplicationDefault(clientId, "AddressLine1A", "")
            </span>
        </div>
    </div>
    <div style="display: table-row;">
        <div class="text-center" style="display: table-cell; vertical-align: top;">
        </div>
        <div class="text-left" style="display: table-cell; padding-left: 12px; vertical-align: top;">
            <span style="color: #000000; font-family: 'Times New Roman', Roboto, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 600; text-align: left;">
                @ArchLibCache.GetApplicationDefault(clientId, "AddressLine2", "")
            </span>
        </div>
    </div>
    <div style="display: table-row;">
        <div class="text-center" style="display: table-cell; vertical-align: top;">
        </div>
        <div class="text-left" style="display: table-cell; padding-left: 12px; vertical-align: top;">
            <span style="color: #000000; font-family: 'Times New Roman', Roboto, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 600; text-align: left;">
                @ArchLibCache.GetApplicationDefault(clientId, "AddressCityName", ""), @ArchLibCache.GetApplicationDefault(clientId, "AddressStateAbbrev", "") @ArchLibCache.GetApplicationDefault(clientId, "AddressZipCode", "")
            </span>
        </div>
    </div>
</div>
