@using ArchitectureLibraryCacheData
@model ArchitectureLibraryModels.ContactUsModel
<style>
    #FirstName-error, #LastName-error, #EmailAddress-error, #ContactUsTelephoneCountryId-error, #ContactUsTelephoneNumber-error, #CommentsRequests-error, #CaptchaAnswerContactUs-error, #ContactUsTypeId-error {
        color: #ff0000;
        display: block;
        font-size: 12px;
        font-weight: bold;
    }
</style>
<div class="row" style="text-align: left;">
    <div style="display: table; width: 100%;">
        <div style="display: table-row; width: 100%;">
            <div style="display: table-cell; vertical-align: top; width: 50%;">
                @Html.LabelFor(m => m.ContactUsTypeId, new { @class = "col-form-label" })&nbsp;<span style="color: #0000ff; font-weight: bold;">*</span>
                @Html.DropDownListFor(m => m.ContactUsTypeId, new SelectList(LookupCache.CodeTypeSelectListItems["ContactType"]["CodeDataNameId"], "Value", "Text", Model.ContactUsTypeId), "--- Select ---", new { @class = "form-control", style = "width: 90%;" })
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.ContactUsTypeId, "", new { id = "ContactUsTypeId-error", style = "width: 90%;" }).ToHtmlString()))
            </div>
            <div style="display: table-cell; vertical-align: top; width: 50%;">
                @Html.LabelFor(m => m.EmailAddress, new { @class = "col-form-label" })&nbsp;<span style="color: #0000ff; font-weight: bold;">*</span>
                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control validate", placeholder = "Enter " + @Html.DisplayNameFor(m => m.EmailAddress), style = "width: 90%;" })
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.EmailAddress, "", new { id = "EmailAddress-error", style = "width: 90%;" }).ToHtmlString()))
            </div>
        </div>
        <div style="display: table-row; width: 100%;">
            <div style="display: table-cell; vertical-align: top; width: 50%;">
                @Html.LabelFor(m => m.ContactUsTelephoneCountryId, new { @class = "col-form-label" })&nbsp;<span style="color: #0000ff; font-weight: bold;">*</span>
                @Html.DropDownListFor(m => m.ContactUsTelephoneCountryId, new SelectList(ArchitectureLibraryCacheData.DemogInfoCache.DemogInfoCountrySelectListItemsName, "Value", "Text", Model.ContactUsTelephoneCountryId), "---", new { @class = "form-control", style = "float: left; font-size: 14px; width: 90%;" })
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.ContactUsTelephoneCountryId, "", new { id = "ContactUsTelephoneCountryId-error", style = "width: 90%;" }).ToHtmlString()))
            </div>
            <div style="display: table-cell; vertical-align: top; width: 50%;">
                @Html.LabelFor(m => m.ContactUsTelephoneNumber, new { @class = "col-form-label" })&nbsp;<span style="color: #0000ff; font-weight: bold;">*</span>
                @Html.TextBoxFor(m => m.ContactUsTelephoneNumber, new { @class = "form-control validate", placeholder = "Enter " + @Html.DisplayNameFor(m => m.ContactUsTelephoneNumber), style = "width: 90%;" })
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.ContactUsTelephoneNumber, "", new { id = "ContactUsTelephoneNumber-error", style = "width: 90%;" }).ToHtmlString()))
            </div>
        </div>
        <div style="display: table-row; width: 100%;">
            <div style="display: table-cell; vertical-align: top; width: 50%;">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-form-label" })&nbsp;<span style="color: #0000ff; font-weight: bold;">*</span>
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control validate", placeholder = "Enter " + @Html.DisplayNameFor(m => m.FirstName), style = "width: 90%;" })
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.FirstName, "", new { id = "FirstName-error" }).ToHtmlString()))
            </div>
            <div style="display: table-cell; vertical-align: top; width: 50%;">
                @Html.LabelFor(m => m.LastName, new { @class = "col-form-label" })&nbsp;<span style="color: #0000ff; font-weight: bold;">*</span>
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control validate", placeholder = "Enter " + @Html.DisplayNameFor(m => m.LastName), style = "width: 90%;" })
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.LastName, "", new { id = "LastName-error" }).ToHtmlString()))
            </div>
        </div>
    </div>
    <div style="display: table; width: 100%;">
        <div style="display: table-row; width: 100%;">
            <div style="display: table-cell; vertical-align: top; width: 50%;">
                @Html.LabelFor(m => m.CaptchaAnswerContactUs, new { @class = "col-form-label" })&nbsp;- Sum of <span style="color: #ff0000; font-weight: bold;">@Model.CaptchaNumberContactUs0</span> & <span style="color: #ff0000; font-weight: bold;">@Model.CaptchaNumberContactUs1</span><span style="color: #000000;">?</span><span style="color: #0000ff; font-weight: bold;"> *</span>
                @Html.TextBoxFor(m => m.CaptchaAnswerContactUs, null, new { @class = "form-control", placeholder = @Model.CaptchaNumberContactUs0 + " + " + @Model.CaptchaNumberContactUs1 + " =?", style = "width: 45%;" })
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.CaptchaAnswerContactUs, "", new { id = "CaptchaAnswerContactUs-error" }).ToHtmlString()))
            </div>
        </div>
    </div>
    <div style="display: table; width: 100%;">
        <div style="display: table-row; width: 100%;">
            <div style="display: table-cell; vertical-align: top; width: 100%;">
                @Html.LabelFor(m => m.CommentsRequests, new { @class = "col-form-label" })&nbsp;<span style="color: #0000ff; font-weight: bold;">*</span>
                @Html.TextAreaFor(model => model.CommentsRequests, new { @class = "form-control", placeholder = "Write a comment......", style = "height: 135px; width: 95%;" })
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.CommentsRequests, "", new { id = "CommentsRequests-error" }).ToHtmlString()))
            </div>
        </div>
    </div>
</div>
