@model ArchitectureLibraryModels.ContactUsModel
<style>
    #FirstName-error, #LastName-error, #EmailAddress-error, #PhoneNumber-error, #CommentsRequests-error, #CaptchaAnswerContactUs-error {
        color: #ff0000;
        display: block;
        font-size: 14px;
        font-weight: bold;
    }
</style>
@Html.HiddenFor(m => m.ContactUsTypeId)
@if (Model != null && Model.ResponseObjectModel != null && !string.IsNullOrWhiteSpace(Model.ResponseObjectModel.ValidationSummaryMessage))
{
    <div class="row validationSummaryMessage" id="divContactUsValidationSummaryMessage">
        @Model.ResponseObjectModel.ValidationSummaryMessage
    </div>
}
@if (!ViewData.ModelState.IsValid)
{
    <div class="row" id="divContactUsValidationSummary">
        @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(false, "", new { @class = "validationSummaryErrors", style = "text-align: left;" }).ToHtmlString()))
    </div>
}
@if (Model != null && Model.ResponseObjectModel != null)
{
    <div class="row" id="divContactUsResponseObject">
        @Html.Partial("_ResponseObject", Model.ResponseObjectModel)
    </div>
}
<div style="padding-bottom: 5px; padding-left: 18px;">
    @Html.LabelFor(m => m.FirstName, new { style = "font-size: 14px; font-weight: bold;" })&nbsp;<span style="color: #0000ff; font-size: 14px; font-weight: bold;">(Required)</span>
</div>
<div style="padding-left: 18px;">
    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control validate", placeholder = "Enter " + @Html.DisplayNameFor(m => m.FirstName), style = "font-size: 14px; width: 90%;" })
    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.FirstName, "", new { id = "FirstName-error" }).ToHtmlString()))
</div>
<div style="padding-bottom: 5px; padding-left: 18px;">
    @Html.LabelFor(m => m.LastName, new { style = "font-size: 14px; font-weight: bold;" })&nbsp;<span style="color: #0000ff; font-size: 14px; font-weight: bold;">(Required)</span>
</div>
<div style="padding-left: 18px;">
    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control validate", placeholder = "Enter " + @Html.DisplayNameFor(m => m.LastName), style = "font-size: 14px; width: 90%;" })
    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.LastName, "", new { id = "LastName-error" }).ToHtmlString()))
</div>
<div style="padding-bottom: 5px; padding-left: 18px;">
    @Html.LabelFor(m => m.EmailAddress, new { style = "font-size: 14px; font-weight: bold;" })&nbsp;<span style="color: #0000ff; font-size: 14px; font-weight: bold;">(Required)</span>
</div>
<div style="padding-left: 18px;">
    @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control validate", placeholder = "Enter " + @Html.DisplayNameFor(m => m.EmailAddress), style = "font-size: 14px; width: 90%;" })
    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.EmailAddress, "", new { id = "EmailAddress-error" }).ToHtmlString()))
</div>
<div style="padding-bottom: 5px; padding-left: 18px;">
    @Html.LabelFor(m => m.ContactUsTelephoneNumber, new { style = "font-size: 14px; font-weight: bold;" })&nbsp;<span style="color: #0000ff; font-size: 14px; font-weight: bold;">(Required)</span>
</div>
<div style="padding-left: 18px;">
    @Html.TextBoxFor(m => m.ContactUsTelephoneNumber, new { @class = "form-control validate", onkeypress = "javascript: return isInputNumber(event);", placeholder = "Enter " + @Html.DisplayNameFor(m => m.ContactUsTelephoneNumber), style = "font-size: 14px; width: 90%;" })
    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.ContactUsTelephoneNumber, "", new { id = "ContactUsTelephoneNumber-error" }).ToHtmlString()))
</div>
<div style="padding-bottom: 5px; padding-left: 18px;">
    @Html.LabelFor(m => m.CommentsRequests, new { style = "font-size: 14px; font-weight: bold;" })&nbsp;<span style="color: #0000ff; font-weight: bold;">(Required)</span>
</div>
<div style="padding-left: 18px;">
    @Html.TextAreaFor(model => model.CommentsRequests, new { @class = "form-control", placeholder = "Write a comment......", style = "font-size: 14px; height: 135px; width: 90%;" })
    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.CommentsRequests, "", new { id = "CommentsRequests-error" }).ToHtmlString()))
</div>
<div style="padding-bottom: 5px; padding-left: 18px;">
    @Html.LabelFor(m => m.CaptchaAnswerContactUs, new { style = "font-size: 14px; font-weight: bold;" })&nbsp;<span style="color: #000000; font-size: 14px;">- Sum of </span><span style="color: #ff0000; font-size: 14PX; font-weight: bold;">@Model.CaptchaNumberContactUs0</span> <span style="color: #000000; font-size: 14px;">&</span> <span style="color: #ff0000; font-size: 14PX; font-weight: bold;">@Model.CaptchaNumberContactUs1</span><span style="color: #000000; font-size: 14px;">?</span><span style="color: #0000ff; font-size: 14px; font-weight: bold;"> (Required)</span>
</div>
<div style="padding-left: 18px;">
    @Html.TextBoxFor(m => m.CaptchaAnswerContactUs, null, new { @class = "form-control", placeholder = @Model.CaptchaNumberContactUs0 + " + " + @Model.CaptchaNumberContactUs1 + " =?", style = "font-size: 14px; width: 90%;" })
    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.CaptchaAnswerContactUs, "", new { id = "CaptchaAnswerContactUs-error" }).ToHtmlString()))
</div>
