@using RetailSlnModels
@model PaymentInfoModel
<style>
    #OrderSummaryModel_FirstName-error, #OrderSummaryModel_LastName-error, #CouponPaymentModel_CouponNumber-error,
    #DeliveryAddressModel_AddressLine1-error, #DeliveryAddressModel_AddressLine2-error,
    #DeliveryAddressModel_BuildingTypeId-error, #DeliveryAddressModel_CityName-error, #DeliveryAddressModel_ZipCode-error,
    #DeliveryAddressModel_DemogInfoSubDivisionId-error, #DeliveryAddressModel_HouseNumber-error,
    #DeliveryDataModel_DeliveryInstructions-error, #PaymentModeModel_PaymentModeId-error,
    #DeliveryMethodModel_DeliveryMethodIdPickupLocationId-error, #DeliveryDataModel_PrimaryTelephoneNum-error,
    #DeliveryDataModel_AlternateTelephoneNum-error {
        color: #ff0000;
        display: block;
        font-size: 12px;
        font-weight: bold;
    }
</style>
<div class="col-md-12" style="text-align: left;">
    @{
        if (Model != null && Model.ResponseObjectModel != null && !string.IsNullOrWhiteSpace(Model.ResponseObjectModel.ValidationSummaryMessage))
        {
            <div class="row validationSummaryMessage" style="padding-left: 27px;">
                @Model.ResponseObjectModel.ValidationSummaryMessage
            </div>
        }
        if (!ViewData.ModelState.IsValid)
        {
            <div class="row" style="padding-left: 27px;">
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(false, "", new { @class = "validationSummaryErrors", style = "-webkit-column-count: 3; -moz-column-count: 3; column-count: 3;  font-size: 12px; text-align: left;" }).ToHtmlString()))
            </div>
        }
        if (Model != null && Model.ResponseObjectModel != null)
        {
            <div class="row" style="padding-left: 27px;">
                @Html.Partial("_ResponseObject", Model.ResponseObjectModel)
            </div>
        }
        bool mobileDevice = Request.Browser.IsMobileDevice;
        //mobileDevice = true;
        if (mobileDevice)
        {
            @Html.Partial("_DeliveryInfoData1", Model)
        }
        else
        {
            @Html.Partial("_DeliveryInfoData1", Model)
        }
    }
</div>
<div class="row" style="text-align: center;">
    <button class="loginRegisterbtn" id="deliveryInfoSave" onclick="javascript: return deliveryInfoSave_onclick();" style="letter-spacing: 5px; text-transform: uppercase; width: 54%;" type="button">Process</button>
</div>
