@model RetailSlnModels.PaymentInfo1Model
<form id="formPaymentInfo3" action="/Home/PaymentInfo3" method="post" asp-antiforgery="true">
    <input type="hidden" id="razorpay_payment_id" name="razorpay_payment_id" />
    <input type="hidden" id="razorpay_order_id" name="razorpay_order_id" />
    <input type="hidden" id="razorpay_signature" name="razorpay_signature" />
    <button type="submit" id="rzp-paymentresponse" class="btn btn-primary" style="display: none;"></button>
</form>
<div class="container center" id="divOrderProcess">
    <h2 class="text-center mb-4" style="color: #a54000; font-size: 24px; font-weight: bold; letter-spacing: 4px; text-transform: uppercase;">
        Delivery&nbsp;&nbsp;Info
    </h2>
    <form id="formDeliveryInfoData">
        <div class="col-md-6" style="float: left; text-align: left;">
            @Html.Partial("_GiftCertPayment", Model.GiftCertPaymentModel, new ViewDataDictionary { TemplateInfo = new System.Web.Mvc.TemplateInfo { HtmlFieldPrefix = "GiftCertPaymentModel" } })
            <hr />
            @Html.Partial("_CouponPayment", Model.CouponPaymentModel, new ViewDataDictionary { TemplateInfo = new System.Web.Mvc.TemplateInfo { HtmlFieldPrefix = "CouponPaymentModel" } })
            @Html.Partial("_ShoppingCart", Model.ShoppingCartModel)
        </div>
        <div class="col-md-6" style="float: left; text-align: left;">
            <table>
                <tr>
                    <td style="padding: 0px; width: 50%;">
                        <h3 style="font-weight: bold; letter-spacing: 5px; text-transform: uppercase;">Payment...</h3>
                        @Html.Partial("_PaymentModeData1", Model.PaymentModeModel, new ViewDataDictionary { TemplateInfo = new System.Web.Mvc.TemplateInfo { HtmlFieldPrefix = "PaymentModeModel" } })
                    </td>
                    <td style="padding: 0px; width: 50%;">
                        <h3 style="font-weight: bold; letter-spacing: 5px; text-transform: uppercase;">Delivery...</h3>
                        @Html.Partial("_DeliveryMethodData1", Model.DeliveryMethodModel, new ViewDataDictionary { TemplateInfo = new System.Web.Mvc.TemplateInfo { HtmlFieldPrefix = "DeliveryMethodModel" } })
                    </td>
                </tr>
            </table>
            @Html.Partial("_DeliveryAddressData1", Model.DeliveryAddressModel, new ViewDataDictionary { TemplateInfo = new System.Web.Mvc.TemplateInfo { HtmlFieldPrefix = "DeliveryAddressModel" } })
            @Html.Partial("_DeliveryDataData1", Model.DeliveryDataModel, new ViewDataDictionary { TemplateInfo = new System.Web.Mvc.TemplateInfo { HtmlFieldPrefix = "DeliveryDataModel" } })
            <button class="loginRegisterbtn" id="deliveryInfoSave" onclick="javascript: return deliveryInfoSave_onclick();" style="letter-spacing: 5px; text-transform: uppercase; width: 90%;" type="button">Process</button>
        </div>
    </form>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="~/Include/orderItemCode1.js" type="text/javascript"></script>
<script src="~/Include/searchDataCode.js" type="text/javascript"></script>
