@model RetailSlnModels.DeliveryInfoDataModel
@if (Model != null && Model.ResponseObjectModel != null && !string.IsNullOrWhiteSpace(Model.ResponseObjectModel.ValidationSummaryMessage))
{
    <div class="row validationSummaryMessage">
        @Model.ResponseObjectModel.ValidationSummaryMessage
    </div>
}
@if (!ViewData.ModelState.IsValid)
{
    <div class="row">
        @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(false, "", new { @class = "validationSummaryErrors", style = "-webkit-column-count: 2; -moz-column-count: 2; column-count: 2;  font-size: 12px;" }).ToHtmlString()))
    </div>
}
@if (Model != null && Model.ResponseObjectModel != null)
{
    <div class="row">
        @Html.Partial("_ResponseObject", Model.ResponseObjectModel)
    </div>
}
<table>
    <tr>
        <td style="padding: 0px; width: 50%;">
            <h3 style="font-weight: bold; letter-spacing: 5px; text-transform: uppercase;">Payment...</h3>
            @Html.Partial("_PaymentModeData", Model)
        </td>
        <td style="padding: 0px; width: 50%;">
            <h3 style="font-weight: bold; letter-spacing: 5px; text-transform: uppercase;">Delivery...</h3>
            @Html.Partial("_DeliveryMethodData", Model)
        </td>
    </tr>
</table>
<hr style="background-color: #000000; display: block; font-size: 18px; font-weight: bold; height: 1px;">
<h3 style="font-weight: bold; letter-spacing: 5px; text-transform: uppercase;">Delivery&nbsp;&nbsp;Address...</h3>
@Html.Partial("_DeliveryAddressData", Model)
