@using RetailSlnCacheData
@model RetailSlnModels.DeliveryMethodModel
@{
    var htmlFieldPrefix = ((System.Web.Mvc.ViewDataDictionary)(ViewData)).TemplateInfo.HtmlFieldPrefix;
    var htmlFieldPrefixName = htmlFieldPrefix == "" ? "" : htmlFieldPrefix + ".";
    htmlFieldPrefix += htmlFieldPrefix == "" ? "" : "_";
}
<style>
    #DeliveryMethodId-error #PickupLocationId-error {
        color: #ff0000;
        display: block;
        font-size: 14px;
        font-weight: bold;
    }
</style>
<table>
    <tr>
        <th colspan="3">
            @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.DeliveryMethodId, "", new { id = htmlFieldPrefix + "DeliveryMethodId-error" }).ToHtmlString()))
        </th>
    </tr>
    @{
        bool pickupFromStore = false;
        string buttonChecked, foreColor;
        List<ArchitectureLibraryModels.CodeDataModel> codeDataModels;
        buttonChecked = "";// "checked='checked'";
        foreColor = "#000000";
        codeDataModels = Model.DeliveryMethods;
        for (int i = 0; i < codeDataModels.Count; i++)
        {
            if (codeDataModels[i].CodeDataNameDesc == "PickupFromStore")
            {
                pickupFromStore = true;
            }
            if (Model != null && Model.DeliveryMethodId != null && (int)Model.DeliveryMethodId == codeDataModels[i].CodeDataNameId)
            {
                buttonChecked = "checked='checked'";
            }
            else
            {
                buttonChecked = "";
            }
            if (codeDataModels.Count == 1)
            {
                buttonChecked = "checked='checked'";
            }
            <tr>
                <td style="padding-right: 9px; vertical-align: top;">
                    <input @buttonChecked class="form-control" id="@(htmlFieldPrefix)DeliveryMethodId@(i)" name="@(htmlFieldPrefixName)DeliveryMethodId" style="color: #000000; font-weight: 900;" type="radio" value="@codeDataModels[i].CodeDataNameId" />
                </td>
                <td style="padding-right: 9px; vertical-align: middle;">
                    <img src="~/Images/@codeDataModels[i].CodeDataDesc1" style="height: 27px; width: 36px;" />
                </td>
                <th>
                    <span class="col-form-label" style="color: @foreColor; font-family: Arial;">@codeDataModels[i].CodeDataDesc0</span>
                </th>
            </tr>
            buttonChecked = "";
            if (foreColor == "#000000")
            {
                foreColor = "#a54000";
            }
            else
            {
                foreColor = "#000000";
            }
        }
        if (pickupFromStore)
        {
            <tr>
                <td colspan="3">
                    @Html.DropDownListFor(m => m.PickupLocationId, new SelectList(RetailSlnCache.PickupLocationModelSelectListItems, "Value", "Text", Model.PickupLocationId), "--- Select Location ---", new { @class = "form-control", style = "font-size: 13px; width: 216px;" })
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.PickupLocationId, "", new { id = htmlFieldPrefix + "PickupLocationId-error" }).ToHtmlString()))
                </td>
            </tr>
        }

    }
</table>
