@using RetailSlnEnumerations
@using RetailSlnModels
@model ItemMasterAttributesModel
<table class="table table-condensed table-responsive" style="border-style: none; border-width: 0px; padding: 0px; width: 99%;">
    <tr>
        <th class="text-left" style="border-style: none; border-width: 0px; padding-left: 18px; width: 65%;">
            <span style="color: #000000; font-size: 18px;">@Model.OrderItem1Model.ItemMasterModel.ItemMasterDesc</span>
            <span style="color: #0000ff; font-size: 14px; padding-left: 5px;">@(Model.OrderItem1Model.ItemMasterModel.ItemTypeId == ItemTypeEnum.ItemBundle ? "(Item Bundle)" :  "")</span>
            @if (!string.IsNullOrWhiteSpace(Model.OrderItem1Model.ItemMasterModel.ItemMasterDesc2 + " " + Model.OrderItem1Model.ItemMasterModel.ItemMasterDesc3))
            {
                <br style="clear: both;" />
                <span style="color: #1d1d1d; font-family: Arial; font-size: 14px; font-style: normal; font-weight: 600; line-height: 18px;">@(Model.OrderItem1Model.ItemMasterModel.ItemMasterDesc2 + " " + Model.OrderItem1Model.ItemMasterModel.ItemMasterDesc3)</span>
            }
        </th>
    </tr>
</table>
<div style="float: left; width: 9px;">
    &nbsp;
</div>
<div style="background: #e5e4e2; border-top-left-radius: 20px; border-top-right-radius: 20px; float: left; height: 45px; margin-bottom: 9px; margin-left: auto; margin-right: auto; padding: 18px; text-align: center; vertical-align: middle;">
    <a id="divTab0" href="javascript: void(0);" onclick="javascript: return divTab_onclick('0', '4')" style="color: #0000ff; font-family: Helvetica, Arial, Verdana, sans-serif; font-size: 15px; font-weight: bold; text-decoration: underline;">1. Order</a>
</div>
<div style="float: left; width: 27px;">
    &nbsp;
</div>
<div style="background: #e5e4e2; border-top-left-radius: 20px; border-top-right-radius: 20px; float: left; height: 45px; margin-bottom: 9px; margin-left: auto; margin-right: auto; padding: 18px; text-align: center; vertical-align: middle;">
    <a id="divTab1" href="javascript: void(0);" onclick="javascript: return divTab_onclick('1', '4')" style="color: #0000ff; font-family: Helvetica, Arial, Verdana, sans-serif; font-size: 15px; font-weight: bold; text-decoration: underline;">2. Specifications</a>
</div>
<div style="float: left; width: 27px;">
    &nbsp;
</div>
<div style="display: none; background: #e5e4e2; border-top-left-radius: 20px; border-top-right-radius: 20px; float: left; height: 45px; margin-bottom: 9px; margin-left: auto; margin-right: auto; padding: 18px; text-align: center; vertical-align: middle;">
    <a id="divTab2" href="javascript: void(0);" onclick="javascript: return divTab_onclick('2', '4')" style="color: #0000ff; font-family: Helvetica, Arial, Verdana, sans-serif; font-size: 15px; font-weight: bold; text-decoration: underline;">3. Prod Info</a>
</div>
<div style="float: left; width: 27px;">
    &nbsp;
</div>
<div style="display: none; background: #e5e4e2; border-top-left-radius: 20px; border-top-right-radius: 20px; float: left; height: 45px; margin-bottom: 9px; margin-left: auto; margin-right: auto; padding: 18px; text-align: center; vertical-align: middle;">
    <a id="divTab3" href="javascript: void(0);" onclick="javascript: return divTab_onclick('3', '4')" style="color: #0000ff; font-family: Helvetica, Arial, Verdana, sans-serif; font-size: 15px; font-weight: bold; text-decoration: underline;">3. Image(s)</a>
</div>
<div id="divTabData0" class="col-md-12" style="display: none; padding-left: 27px; text-align: left;">
    @Html.Partial("_OrderItem1", Model.OrderItem1Model)
</div>
<div id="divTabData1" class="col-md-12" style="display: none; padding-left: 27px; text-align: left;">
</div>
<div id="divTabData2" class="col-md-12" style="display: none; padding-left: 27px; text-align: left;">
</div>
<div id="divTabData3" class="col-md-12" style="display: none; padding-left: 27px; text-align: left;">
</div>
<script type="text/javascript">
    divTab_onclick(@Model.TabId, 0);
    function divTab_onclick(index, count) {
        count = 2;
        for (var i = 0; i < count; i++) {
            document.getElementById("divTabData" + i).style.display = "none";
            document.getElementById("divTab" + i).style.textDecoration = "underline";
            document.getElementById("divTab" + i).style.color = "#0000ff";
        }
        document.getElementById("divTabData" + index).style.display = "block";
        document.getElementById("divTab" + index).style.textDecoration = "none";
        document.getElementById("divTab" + index).style.color = "#000000";

        document.getElementById("divTabData" + index).scrollIntoView();
        document.getElementById("divTabData" + index).focus();
    }
    btnItemBundleLoad_onclick('@Model.OrderItem1Model.ItemMasterModel.ItemModels[0].ItemId');
    function btnItemBundleLoad_onclick(itemId) {
        console.log("00000000", "btnItemBundleLoad_onclick", "ENTER!!!");
        $("#loadingModal").modal({ backdrop: 'static', keyboard: false });
        var url = "/Home/ItemBundleData/" + itemId;
        try {
            $.ajax({
                url: url,
                type: "GET",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",//"application/x-www-form-urlencoded; charset=UTF-8",//"text/plain; charset=UTF-8", //false, //"application/json; charset=utf-8",
                //dataType: "html",
                //data: postData,
                //async: false,
                success: function (responseData, textStatus, request) {
                    $("#loadingModal").modal('hide');
                    document.getElementById("divItemBundle").innerHTML = responseData.htmlString;
                    if (responseData.success) {
                    }
                    else {
                        alert("Error occurred");
                    }
                    console.log("00001000", "btnItemBundleLoad_onclick success", responseData.processMessage);
                },
                error: function (xhr, exception) {
                    $("#loadingModal").modal('hide');
                    console.log("00099000", "btnItemBundleLoad_onclick", "ERROR???", exception, xhr);
                    alert("Please fix errors to continue???....");
                }
            });
        }
        catch (err) {
            $('#loadingModal').modal('hide');
            alert("Please fix errors to continue???");
            console.log("00099100", "btnItemBundleLoad_onclick", "ERROR???", err);
        }
        return false;
    }
    function btnItemBundleView_onclick(itemBundleElementId) {
        document.getElementById(itemBundleElementId).style.display = "block";
        return false;
    }
    function btnItemBundleHide_onclick(itemBundleElementId) {
        document.getElementById(itemBundleElementId).style.display = "none";
        return false;
    }
</script>
