@model ArchitectureLibraryModels.LoginUserProfModel
<div class="center" style="width: 45%;">
    <div class="row" style="text-align: left;">
        <span style="color: #000000; font-size: 23px; font-weight: bold;">L O G I N <span style="color: #0000ff;">(Returning users)</span></span>
    </div>
    <div class="row" style="text-align: left;">
        <span style="color: #000000; font-size: 14px; font-weight: bold;">
            Is this your first time, <a href="@Url.Action("RegisterUserProf", "Home")" style="color: #ff0000; text-decoration: underline;" target="_blank">Please click here to <span style="color: #0000ff; font-size: 18px;">R E G I S T E R</span></a>
        </span>
        <ul id="ulErrorMessagesLogin" style="display: none; font-size: 14px; font-weight: bold; margin-left: 7px; padding-left: 7px;">
            <li>
                Unable to login, please check your email / password
            </li>
            <li>
                Did you forget your password or you think its expired
                <a href="@Url.Action("ResetPassword", "Home")" style="color: #ff0000; font-size: 14px; text-decoration: underline;" target="_blank">
                    Click here to reset
                </a>
            </li>
            <li>
                Still facing issues?
                <a href="@Url.Action("ContactUs", "Home")" style="color: #0000ff; font-size: 14px; text-decoration: underline;" target="_blank">Click here to Contact Us...</a>
            </li>
        </ul>
    </div>
    <form id="formLoginUserProfData">
        @Html.Partial("_LoginUserProfData", Model)
    </form>
    <div class="row" style="text-align: left;">
        <button class="loginRegisterbtn" id="loginUserSave" onclick="javascript: return loginUserSave_onclick();" style="width: 90%;" type="button">L O G I N</button>
        <ul style="font-weight: bold; margin-left: 7px; padding-left: 7px; text-align: left; ">
            <li>
                Please enter email address, password, captcha answer
            </li>
            <li>
                Click <span style="color: #0000ff; font-size: 18px;">L O G I N</span> to continue
            </li>
            <li style="color: #000000;">
                Password(s) have an expiry. Did you forget your password or you think its expired?
                <a href="@Url.Action("ResetPassword", "Home")" style="color: #ff0000; font-size: 14px; text-decoration: underline;" target="_blank">
                    Click here to reset
                </a>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    function loginUserSave_onclick() {
        console.log("00000000", "loginUserSave_onclick");
        $("#loadingModal").modal({ backdrop: 'static', keyboard: false });
        var url = "/Home/LoginUserProf";
        var postData = $("#formLoginUserProfData").serialize();
        document.getElementById("ulErrorMessagesLogin").style.display = "none";
        $.ajax({
            url: url,
            type: "POST",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",//"application/x-www-form-urlencoded; charset=UTF-8",//"text/plain; charset=UTF-8", //false, //"application/json; charset=utf-8",
            //dataType: "html",
            data: postData,
            //async: false,
            success: function (responseData, textStatus, request) {
                $("#loadingModal").modal('hide');
                console.log("00001000", "loginUserSave_onclick success", responseData.processMessage);
                if (responseData.success) {
                    window.location = responseData.redirectUrl;
                }
                else {
                    document.getElementById("formLoginUserProfData").innerHTML = responseData.htmlString;
                    document.getElementById("ulErrorMessagesLogin").style.display = "block";
                }
                //document.getElementById("formLoginUserProfData").innerHTML = responseData;
                //alert("Login completed successfully!!!");
            },
            error: function (xhr, exception) {
                $("#loadingModal").modal('hide');
                console.log("00099000", "loginUserSave_onclick", "ERROR???", exception, xhr);
                document.getElementById("formLoginUserProfData").innerHTML = xhr.responseText;
                document.getElementById("ulErrorMessagesLogin").style.display = "block";
                alert("Login encountered errors. Please fix errors to continue???");
            }
        });
    }
</script>
