@model OrderCategoryItemModel
@using ArchitectureLibraryCacheData
@using ArchitectureLibraryModels
@using RetailSlnEnumerations
@using RetailSlnCacheData
@using RetailSlnModels
@{
    long clientId = ArchLibCache.ClientId;
    string clientName = ArchLibCache.ClientName;
    var imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
    SessionObjectModel sessionObjectModel = (SessionObjectModel)Session["SessionObject"];
    string aspNetRoleName;
    if (sessionObjectModel == null)
    {
        aspNetRoleName = "DEFAULTROLE";
    }
    else
    {
        aspNetRoleName = sessionObjectModel.AspNetRoleName;
    }
    var categoryOrItem = "Item";//categoryItemMasterHierModel.CategoryOrItem;
    var imageDivWidth = ArchLibCache.GetApplicationDefault(clientId, "OrderProcess", categoryOrItem + "ImageDivWidth");
    var imageHeight = ArchLibCache.GetApplicationDefault(clientId, "OrderProcess", categoryOrItem + "ImageHeight");
    var imageWidth = ArchLibCache.GetApplicationDefault(clientId, "OrderProcess", categoryOrItem + "ImageWidth");
    var imageCountPerRow = int.Parse(ArchLibCache.GetApplicationDefault(clientId, "OrderProcess", categoryOrItem + "ImageCountPerRow"));
    int itemSeqNum = 0, imageIndex = 0, imageCountIndex = 0;
    ItemMasterModel itemMasterModel;
    @BuildPaginationLinks(Model.PageCount)
    <br style="clear: both;" />
    <input id="selectedCategoryId" type="hidden" value="@Model.ParentCategoryId" />
    foreach (var categoryItemLayoutModel in Model.CategoryItemMasterHierModels)
    {
        itemMasterModel = categoryItemLayoutModel.ItemMasterModel;
        imageIndex++;
        imageCountIndex++;
        <div style="display: inline-block; padding: 18px; vertical-align: top; width: @imageDivWidth;">
            @BuildItem(sessionObjectModel, itemMasterModel, ++itemSeqNum, imageIndex, imageDivWidth, imageHeight, imageWidth, clientId, clientName, categoryOrItem)
        </div>
        if (imageCountIndex == imageCountPerRow)
        {
            <br style="clear: both;" />
            imageCountIndex = 0;
        }//if (imageCountIndex == imageCountPerRow)
    }
    <br style="clear: both;" />
    @BuildPaginationLinks(Model.PageCount)
}
@helper BuildPaginationLinks(int pageCount)
{
    if (pageCount > 1)
    {
        <ul class="pagination">
            @if (Model.PageNum == 1)
            {
                <li class="page-item">
                    <span class="page-link">Prev</span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a alt="Page# @(Model.PageNum - 1)" class="page-link" href="javascript: void(0);" onclick="javascript: return categoryIdPagination_onclick(@(Model.PageNum - 1));" , title="Jump to page# @(Model.PageNum - 1)">
                        Prev
                    </a>
                </li>
            }
            @for (int i = 1; i <= pageCount; i++)
            {
                if (i == Model.PageNum)
                {
                    <li class="page-item active">
                        <a alt="Page# @i" class="page-link" href="javascript: void(0);" onclick="javascript: return categoryIdPagination_onclick(@i);" , title="Jump to page# @i">
                            @i
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a alt="Page# @i" class="page-link" href="javascript: void(0);" onclick="javascript: return categoryIdPagination_onclick(@i);" , title="Jump to page# @i">
                            @i
                        </a>
                    </li>
                }
            }
            @if (Model.PageNum == pageCount)
            {
                <li class="page-item">
                    <span class="page-link">Next</span>
                </li>
                @*<li class="page-item">
                        <span class="page-link">Last</span>
                    </li>*@
            }
            else
            {
                <li class="page-item">
                    <a alt="Page# @(Model.PageNum - 1)" class="page-link" href="javascript: void(0);" onclick="javascript: return categoryIdPagination_onclick(@(Model.PageNum + 1));" , title="Jump to page# @(Model.PageNum + 1)">
                        Next
                    </a>
                </li>
            }
        </ul>
    }
}
@helper BuildItem(SessionObjectModel sessionObjectModel, ItemMasterModel itemMasterModel, int itemSeqNum, int imageIndex, string imageDivWidth, string imageHeight, string imageWidth, long clientId, string clientName, string categoryOrItem)
{
    <a href="@Url.Action("ItemAttributes", "Home", new { id = itemMasterModel.ItemMasterId, tabId = 0 })" title="View specifications, images, bundle - @itemMasterModel.ItemMasterDesc">
        <img alt="@itemMasterModel.ImageTitle" class="img-responsive" src="~/ClientSpecific/@(clientId)_@(clientName)/Documents/Images/ItemMaster/@itemMasterModel.ImageName" style="border-radius: 25px; height: auto; max-height: @imageHeight; max-width: @imageWidth; width: 100%;" title="@(itemMasterModel.ImageTitle + " " + itemSeqNum)" />
    </a>
    if (itemMasterModel.ItemTypeId == ItemTypeEnum.ItemBundle)
    {
        <div style="position: relative;">
            <div style="bottom: 1px; right: 2px; position: absolute;">
                <a href="@Url.Action("ItemAttributes", "Home", new { id = itemMasterModel.ItemMasterId, tabId = 3 })" style="background-color: #000000; border-style: none; color: #ffffff; font-family: Arial; font-size: 12px; font-weight: 600; padding: 3px;" title="@itemMasterModel.ImageTitle">Item Bundle&nbsp;</a>
            </div>
        </div>
    }
    <br style="clear: both;" />
    <br style="clear: both;" />
    <div style="text-align: left;">
        <span style="color: #1d1d1d; font-family: Arial; font-size: 16px; font-style: normal; font-weight: 400; line-height: 21px;">
            @if (itemMasterModel.ItemModels.Count == 1)
            {
                @(itemMasterModel.ItemModels[0].ItemRateFormatted + " - ")
            }
            @(itemMasterModel.ItemMasterDesc0 + " " + itemMasterModel.ItemMasterDesc1)
        </span>
        @if (!string.IsNullOrWhiteSpace(itemMasterModel.ItemMasterDesc2 + " " + itemMasterModel.ItemMasterDesc3))
        {
            <br style="clear: both;" />
            <span style="color: #1d1d1d; font-family: Arial; font-size: 12px; font-style: normal; font-weight: 600; line-height: 18px;">@(itemMasterModel.ItemMasterDesc2 + " " + itemMasterModel.ItemMasterDesc3)</span>
        }
    </div>
    if (itemMasterModel.ItemTypeId == ItemTypeEnum.ItemBundle)
    {
        <a href="@Url.Action("ItemAttributes", "Home", new { id = itemMasterModel.ItemMasterId, tabId = 3 })" style="color: #000000; font-size: 12px; font-weight:bold; padding-right: 3px; text-decoration: underline;" title="View items in the bundle - @itemMasterModel.ItemMasterDesc">Bundle</a>
    }
    <a href="@Url.Action("ItemAttributes", "Home", new { id = itemMasterModel.ItemMasterId, tabId = 0 })" style="color: #ff0000; font-size: 12px; font-weight:bold; text-decoration: underline;" title="View specifications - @itemMasterModel.ItemMasterDesc">Spec(s)</a>
    <a href="@Url.Action("ItemAttributes", "Home", new { id = itemMasterModel.ItemMasterId, tabId = 2 })" style="color: #0000ff; font-size: 12px; font-weight:bold; padding-left: 3px; text-decoration: underline;" title="View more images - @itemMasterModel.ItemMasterDesc">Image(s)</a>
    if (itemMasterModel.ItemModels[0].ItemStatusId == ItemStatusEnum.OutOfStock)
    {
        <br style="clear: both;" />
        <br style="clear: both;" />
        <span style="color: #000000; font-size: 17px; font-weight: 900;">SOLD OUT</span>
    }//if (itemModel.ItemStatusId == ItemStatusEnum.OutOfStock)
    else
    {
        //bool brFlag = false;
        int index = 0;
        string prefixString = "", optionText, discountPercent;
        <br style="clear: both;" />
        if (itemMasterModel.ItemMasterItemSpecModels != null && itemMasterModel.ItemMasterItemSpecModels.Count > 0)
        {
            <span style="color: #000000; font-size: 11px; font-weight: 600;">
                @foreach (var itemMasterItemSpecModel in itemMasterModel.ItemMasterItemSpecModels)
                {
                    @(prefixString + ++index + ". " + itemMasterItemSpecModel.ItemSpecValueForDisplay)
                    prefixString = " | ";
                    //brFlag = true;
                }
            </span>
        }
        if (itemMasterModel.ItemModels.Count == 1)
        {
            if (itemMasterModel.ItemModels[0].ItemItemSpecModels.Count > 0)
            {
                <span style="color: #000000; font-size: 11px; font-weight: 600;">
                    @foreach (var itemItemSpecModel in itemMasterModel.ItemModels[0].ItemItemSpecModels)
                    {
                        @(prefixString + ++index + ". " + itemItemSpecModel.ItemSpecValueForDisplay)
                        prefixString = " | ";
                        //brFlag = true;
                    }
                </span>
            }
        }
        <div style="font-size: 12px; font-weight: bold; height: 40px; padding-right: 5px; padding-top: 8px; vertical-align: middle;">
            <input class="form-control" id="orderQty@(imageIndex)" inputmode="numeric" max="9999" maxlength="4" min="1" oninput="javascript: return orderQty_oninput(@(imageIndex));" style="background-color: #e1e1e1; border-color: #000000; border-style: none; border-width: 1px; border-radius: 30px; float: left; font-size: 12px; font-weight: 900; width: 72px;" title="Enter quantity and click add to cart @itemMasterModel.ImageTitle" type="number" value="" />
            @if (itemMasterModel.ItemModels.Count > 1)
            {
                <a href="javascript: void(0);" onclick="javascript: return addToCart1_onclick(null, @imageIndex);" title="Enter quantity and click add to cart @itemMasterModel.ItemMasterDesc"><img alt="Enter quantity and click add to cart" src="~/Images/Addtocart.png" style="height: 36px; padding-left: 4px; width: 45px;" title="Enter quantity and click add to cart @itemMasterModel.ImageTitle" /></a>
            }
            else
            {
                <a href="javascript: void(0);" onclick="javascript: return addToCart1_onclick(@itemMasterModel.ItemModels[0].ItemId, @imageIndex);" title="Enter quantity and click add to cart @itemMasterModel.ItemMasterDesc"><img alt="Enter quantity and click add to cart" src="~/Images/Addtocart.png" style="height: 36px; padding-left: 4px; width: 45px;" title="Enter quantity and click add to cart @itemMasterModel.ImageTitle" /></a>
            }
        </div>
        //shoppingCartItemModel = shoppingCartItems?.FirstOrDefault(x => x.ItemId == itemMasterModel.ItemModels[0].ItemId);
        <span id="spnMessageSuccess@(imageIndex)" style="display: none; font-family: Arial; font-size: 12px; font-weight: bold;">
            <br style="clear: both;" />
            <i class="fa fa-check" style="color: #00d000; padding-left: 7px; padding-right: 1px;"></i>
            <span style="color: #a54000;">Added...<span id="spnMessageSuccessText@(imageIndex)" style="color: #0000ff; font-size:12px;"></span></span>
        </span>
        <span id="spnMessageError@(imageIndex)" style="display: none; font-family: Arial; font-size: 12px; font-weight: bold;">
            <br style="clear: both;" />
            <i class="fa fa-remove" style="color: #ff0000; padding-left: 7px; padding-right: 1px;"></i>
            <span id="spnMessageErrorText@(imageIndex)" style="color: #ff0000;"></span>
        </span>
        if (itemMasterModel.ItemModels.Count > 1)
        {
            //if (itemMasterModel.ItemTypeId != ItemTypeEnum.ItemBundle)
            //{
            <br style="clear: both;" />
            <span id="spnMessageItem@(imageIndex)" style="color: #0000ff; font-family: Arial; font-size: 12px; font-weight: bold;">
                Select item from below
                <br style="clear: both;">
            </span>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton@(imageIndex)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #a50040; font-family: Arial; font-size: 12px; font-weight: bold;">
                    --- Item(s) ---<span class="caret" style="color: #000000; font-size: 20px;">&nbsp;&nbsp;&nbsp;</span>
                </button>
                <table class="dropdown-menu" aria-labelledby="dropdownMenuButton@(imageIndex)" style="font-size: 12px; width: 100%;">
                    <tr>
                        <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 3px;">Rate</th>
                        <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 3px; width: 100%;">Spec(s)</th>
                        @if (sessionObjectModel != null)
                        {
                            <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 3px; width: 100%;">Disc.</th>
                        }
                    </tr>
                    @foreach (var itemModel in itemMasterModel.ItemModels)
                    {
                        <tr>
                            @{
                                optionText = "";
                                discountPercent = "";
                                if (itemModel.ItemDiscountModels.Count > 0)
                                {
                                    discountPercent = (itemModel.ItemDiscountModels[0].DiscountPercent.ToString("0.00") + "%");
                                }
                                else
                                {
                                    discountPercent = "";
                                }
                                if (itemModel.ItemItemSpecModels != null && itemModel.ItemItemSpecModels.Count > 0)
                                {
                                    prefixString = "";
                                    foreach (var itemItemSpecModel in itemModel.ItemItemSpecModels)
                                    {
                                        optionText += prefixString + itemItemSpecModel.ItemSpecValueForDisplay;
                                        prefixString = " | ";
                                    }
                                }
                            }
                            <td class="text-right" style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 3px;"><a href="javascript: void(0);" onclick="javascript: return tempFunction('@itemModel.ItemId', '@itemModel.ItemRateFormatted', '@optionText', '@imageIndex', '@discountPercent');" style="font-weight: bold; text-decoration: underline;">@itemModel.ItemRateFormatted</a></td>
                            <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; font-size: 11px; font-weight: 600; padding: 3px;">
                                @optionText
                            </td>
                            @if (sessionObjectModel != null)
                            {
                                <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; font-size: 11px; font-weight: 600; padding: 3px; text-align: right;">
                                    @discountPercent
                                </td>
                            }
                        </tr>
                    }
                </table>
            </div>
            <span id="itemId@(imageIndex)" style="display: none;"></span>
            //}
        }
        else
        {
            <span id="itemId@(imageIndex)" style="display: none;">@itemMasterModel.ItemModels[0].ItemId</span>
        }
        if (itemMasterModel.ItemTypeId == ItemTypeEnum.ItemBundle)
        {
            <br style="clear: both;" />
            <p style="font-weight: bold;">-- OR --</p>
            <a href="@Url.Action("ItemAttributes", "Home", new { id = itemMasterModel.ItemMasterId, tabId = 3 })" style="color: #0000ff; font-size: 13px; font-weight:bold; text-decoration: underline;" title="View items in the bundle - @itemMasterModel.ItemMasterDesc">Order your items from bundle</a>
        }
    }//else (itemModel.ItemStatusId == ItemStatusEnum.OutOfStock)
}
