@using ArchitectureLibraryModels
@model OTPResponseModel
<style>
    #OTPCode-error {
        color: #ff0000;
        display: block;
        font-size: 12px;
        font-weight: bold;
    }
</style>
@{
    bool mobileDevice = Request.Browser.IsMobileDevice;
    string paddingLeft;
    if (mobileDevice)
    {
        paddingLeft = "9px;";
    }
    else
    {
        paddingLeft = "0px;";
    }
    if (Model != null && Model.ResponseObjectModel != null && !string.IsNullOrWhiteSpace(Model.ResponseObjectModel.ValidationSummaryMessage))
    {
        <div class="row validationSummaryMessage">
            @Model.ResponseObjectModel.ValidationSummaryMessage
        </div>
    }
    if (!ViewData.ModelState.IsValid)
    {
        <div class="row">
            @if (mobileDevice)
            {
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(false, "", new { @class = "validationSummaryErrors", style = "font-size: 12px;" }).ToHtmlString()))
            }
            else
            {
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(false, "", new { @class = "validationSummaryErrors", style = "-webkit-column-count: 2; -moz-column-count: 2; column-count: 2; font-size: 12px;" }).ToHtmlString()))
            }
        </div>
    }
}
<div class="row" style="padding-left: @paddingLeft; text-align: left;">
    @Html.LabelFor(m => m.OTPCode, new { @class = "col-form-label", id = "lblOTPCode" })&nbsp;<span id="spnOTPCode" style="color: #0000ff; font-weight: bold;">(Required)</span>
    @Html.TextBoxFor(m => m.OTPCode, new { @class = "form-control validate", placeholder = "Enter " + @Html.DisplayNameFor(m => m.OTPCode), style = "width: 86%;" })
    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.OTPCode, "", new { id = "OTPCode-error" }).ToHtmlString()))
</div>
