@using ArchitectureLibraryModels
@model OTPResponseModel
<style>
    .box {
        flex: 1;
    }

    .box2 {
        display: block;
    }

    .container {
        /*this is your main container that holds the two columns*/
        display: flex;
        flex-direction: row;
        text-align: left;
    }

    .container__col-1 {
        /*this is your first column set to 50% width of the parent container*/
        width: 45%;
    }

    .container__col-2 {
        /*this is your second column set to 50% width of the parent container*/
        padding-left: 27px;
        width: 55%;
    }

    @@media(max-width:600px) {

        .box {
        }

        .box2 {
            display: none;
        }

        .container {
            flex-direction: column;
        }
        /*now your first column will take the full width of the parent*/
        /*container which will push the second column below it*/
        .container__col-1 {
            width: 100%;
        }

        .container__col-2 {
            padding-left: 0px;
            width: 100%;
        }
    }
</style>
<div class="container">
    <div class="container__col-1">
        <div class="box">
            <h3 style="font-weight: bold;">@Model.RequestType - Confirm OTP</h3>
        </div>
        <form id="formOTPData">
            @Html.Partial("_OTPResponseData", Model)
        </form>
        <div class="box">
            <span style="color: #000000; font-weight: bold;">OTP expires in</span>
            <span id="oTPExpires" style="color: #ff0000; font-weight: bold; padding-left: 9px;">@(Model.OTPDuration * 60)</span>
            <span style="color: #000000; font-weight: bold; padding-left: 9px;">seconds</span>
            <br style="clear: both;" />
            <span style="color: #0000ff; font-weight: bold;">@(Model.OTPCreatedDate + " " + Model.OTPCreatedTime)</span>
            <span style="color: #000000; font-weight: bold; padding-left: 9px;">-</span>
            <span style="color: #0000ff; font-weight: bold; padding-left: 9px;">@(Model.OTPExpiryDate + " " + Model.OTPExpiryTime)</span>
        </div>
        <button class="loginRegisterbtn" id="oTPResponseSave" onclick="javascript: return oTPResponseSave_onclick();" style="letter-spacing: 5px; text-transform: uppercase; width: 81%;" type="button">confirm&nbsp;&nbsp;otp</button>
        <h4 style="color: #a54000; font-size: 16px; font-weight: bold;">Did not receive OTP or is it expired?....</h4>
        <button class="btn btn-primary" id="oTPGetNew" onclick="javascript: return oTPGetNew_onclick();" style="font-weight: bold; letter-spacing: 5px; text-transform: uppercase; width: 54%;" type="button">get&nbsp;new&nbsp;otp</button>
    </div>
    <div class="container__col-2">
        <div class="box2">
            <h3>&nbsp;</h3>
        </div>
        <div class="box">
            <ul style="color: #0000ff; font-family: Arial; font-size: 14px; font-weight: bold; padding-left: 18px;">
                <li>
                    Enter OTP code
                </li>
                <li>
                    If this is your first time enter your email address
                </li>
                <li>
                    Click confirm OTP
                </li>
            </ul>
        </div>
    </div>
</div>
