@model RetailSlnModels.PaymentDataModel
@using RetailSlnCacheData
<div class="row" style="padding-left: 18px; padding-right: 18px;">
    @Html.LabelFor(m => m.OrderAmount, new { @class = "col-form-label", style = "color: #000000;" })
    <span class="col-form-label" style="color: #0000ff; font-size: 15px; font-weight: bold; padding-left: 9px;">@Model.OrderAmount.Value.ToString(RetailSlnCache.CurrencyDecimalPlaces, RetailSlnCache.CurrencyCultureInfo).Replace(" ", "")</span>
</div>
<div class="row" style="padding-left: 18px; padding-right: 18px;">
    @Html.LabelFor(m => m.EmailAddress, new { @class = "col-form-label", style = "color: #000000;" })
    <span class="col-form-label" style="color: #0000ff; font-size: 15px; font-weight: bold; padding-left: 9px;">@Model.EmailAddress</span>
</div>
<div class="row" style="padding-left: 18px; padding-right: 18px;">
    @Html.LabelFor(m => m.UserFullName, new { @class = "col-form-label", style = "color: #000000;" })
    <span class="col-form-label" style="color: #0000ff; font-size: 15px; font-weight: bold; padding-left: 9px;">@Model.UserFullName</span>
</div>
