@using ArchitectureLibraryCreditCardModels
@model CreditCardDataModel
<style>
    #CreditCardNumber-error, #CreditCardSecCode-error, #CreditCardExpMM-error, #CreditCardExpYear-error {
        color: #ff0000;
        display: block;
        font-size: 13px;
        font-weight: bold;
    }
</style>
@{
    List<SelectListItem> years = new List<SelectListItem>();
    for (int i = DateTime.Now.Year; i <= DateTime.Now.Year + 14; i++)
    {
        years.Add(new SelectListItem { Text = i.ToString(), Value = i.ToString() });
    }
}
<form id="formPaymentInfo9Data">
    <table class="table table-bordered table-condensed table-responsive" style="margin-left: auto; margin-right: auto; padding: 5px; width: 63%;">
        @if (!ViewData.ModelState.IsValid)
        {
            <tr>
                <td colspan="2" style="padding: 9px;">
                    @{
                        if (Model != null && Model.ResponseObjectModel != null && !string.IsNullOrWhiteSpace(Model.ResponseObjectModel.ValidationSummaryMessage))
                        {
                            <span class="validationSummaryMessage">@Model.ResponseObjectModel.ValidationSummaryMessage</span>
                        }
                        if (!ViewData.ModelState.IsValid)
                        {
                            @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(false, "", new { @class = "validationSummaryErrors", style = "-webkit-column-count: 2; -moz-column-count: 2; column-count: 2; font-size: 12px; padding: 18px; text-align: left;" }).ToHtmlString()))
                        }
                    }
                </td>
            </tr>
        }
        <tr>
            <td class="text-center" colspan="2" style="color: #a54000; font-size: 24px; font-weight: bold; letter-spacing: 4px; padding: 5px; text-transform: uppercase; vertical-align: middle; ">
                CREDIT CARD TEST
            </td>
        </tr>
        <tr>
            <td class="text-right" style="color: #000000; font-weight: bold; padding: 5px;">
                Amount
            </td>
            <td class="text-left" style="color: #000000; font-weight: bold; padding: 5px; ">
                @Model.CreditCardAmountFormatted
                @Html.HiddenFor(m => m.CreditCardAmount)
                @Html.HiddenFor(m => m.CreditCardTranType)
                @Html.HiddenFor(m => m.CurrencyCode)
            </td>
        </tr>
        <tr>
            <td class="text-right" style="color: #000000; font-weight: bold; padding: 5px; vertical-align: middle;">
                Credit Card#&nbsp;<span style="color: #0000ff; font-weight: bold;">(Req)</span>
            </td>
            <td class="text-left" style="padding: 5px;">
                <div>
                    @Html.TextBoxFor(m => m.CreditCardNumber, new { @class = "form-control validate", placeholder = "Credit Card#", style = "float: left; width: 76%;", type = "password" })
                    <span style="width: 18px;">&nbsp;</span>
                    <button class="btn btn-primary" id="creditCardNumber" onmouseout="javascript: return showHideForHide('CreditCardNumber', 'password');" onmouseover="javascript: return showHideForShow('CreditCardNumber', 'text');" type="button" style="width: 50px;">
                        <span class="fa fa-eye-slash icon"></span>
                    </button>
                </div>
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.CreditCardNumber, "", new { id = "CreditCardNumber-error" }).ToHtmlString()))
            </td>
        </tr>
        <tr>
            <td class="text-right" style="color: #000000; font-weight: bold; padding: 5px; vertical-align: middle;">
                CVV (Sec Code)&nbsp;<span style="color: #0000ff; font-weight: bold;">(Req)</span>
            </td>
            <td class="text-left" style="color: #000000; padding: 5px; vertical-align: middle;">
                <div>
                    @Html.TextBoxFor(m => m.CreditCardSecCode, new { @class = "form-control validate", placeholder = "CVV (Sec Code)", style = "float: left; width: 76%;", type = "password" })
                    <span style="width: 18px;">&nbsp;</span>
                    <button class="btn btn-primary" id="creditCardSecCode" onmouseout="javascript: return showHideForHide('CreditCardSecCode', 'password');" onmouseover="javascript: return showHideForShow('CreditCardSecCode', 'text');" type="button" style="width: 50px;">
                        <span class="fa fa-eye-slash icon"></span>
                    </button>
                </div>
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.CreditCardSecCode, "", new { id = "CreditCardSecCode-error" }).ToHtmlString()))
            </td>
        </tr>
        <tr>
            <td class="text-right" style="color: #000000; font-weight: bold; padding: 5px; vertical-align: middle;">
                Credit Card Expiry&nbsp;<span style="color: #0000ff; font-weight: bold;">(Req)</span>
            </td>
            <td class="text-left" style="color: #000000; padding: 5px; vertical-align: middle;">
                @Html.DropDownListFor(m => m.CreditCardExpMM, new SelectList(ArchitectureLibraryCacheData.LookupCache.CodeTypeSelectListItems["GregorianMonths"]["Type1"], "Value", "Text", Model.CreditCardExpMM), "---", new { @class = "form-control", style = "float: left; font-size: 14px; width: 81px;" })
                <span style="float: left; width: 9px;">&nbsp;</span>
                @Html.DropDownListFor(m => m.CreditCardExpYear, years, "---", new { @class = "form-control", style = "font-size: 14px; width: 81px;" })
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.CreditCardExpMM, "", new { id = "CreditCardExpMM-error" }).ToHtmlString()))
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.CreditCardExpYear, "", new { id = "CreditCardExpYear-error" }).ToHtmlString()))
            </td>
        </tr>
        <tr>
            <td class="text-center" colspan="2" style="padding: 5px; vertical-align: middle; ">
                <button class="loginRegisterbtn" id="paymentInfo10Save" onclick="javascript: return paymentInfo10Save_onclick();" style="font-size: 20px; font-weight: bold; letter-spacing: 5px; text-transform: uppercase; width: 63%;" type="button">Process Credit Card</button>
            </td>
        </tr>
    </table>
</form>
