@model RetailSlnModels.ProcessCreditCardModel
@using RetailSlnCacheData
@using RetailSlnModels
@{
    ShoppingCartModel shoppingCartModel = (ShoppingCartModel)Session["ShoppingCartModel"];
    DeliveryInfoDataModel deliveryInfoDataModel = (DeliveryInfoDataModel)Session["DeliveryInfoDataModel"];
}
<div class="col-md-6">
    <form id="formCreditCardProcessData">
        @Html.Partial("_CreditCardProcess", Model.CreditCardProcessModel)
    </form>
    <center><button class="loginRegisterbtn" id="paymentInfo5Save" onclick="javascript: return paymentInfo5Save_onclick();" style="font-size: 21px; letter-spacing: 4px; text-transform: uppercase; width: 95%;" type="button">Process Credit Card</button></center>
</div>
<div class="col-md-6">
    <div class="row" style="padding-left: 15px; text-align: left;">
        @Html.LabelFor(m => m.PaymentSummaryDataModel.BalanceDue, new { @class = "col-form-label", style = "color: #000000;" })
        @Model.PaymentSummaryDataModel.BalanceDue.Value.ToString(RetailSlnCache.CurrencyDecimalPlaces, RetailSlnCache.CurrencyCultureInfo).Replace(" ", "")
    </div>
    <div class="row" style="padding-left: 15px; text-align: left;">
        @Html.LabelFor(m => m.PaymentSummaryDataModel.UserFullName, new { @class = "col-form-label", style = "color: #000000;" })
        @Model.PaymentSummaryDataModel.UserFullName
    </div>
    <div class="row" style="padding-left: 15px; text-align: left;">
        @Html.LabelFor(m => m.PaymentSummaryDataModel.EmailAddress, new { @class = "col-form-label", style = "color: #000000;" })
        @Model.PaymentSummaryDataModel.EmailAddress
    </div>
    @Html.Partial("_DeliveryInfoAddressData", deliveryInfoDataModel)
</div>
<div class="col-md-12">
    @Html.Partial("_ShoppingCart", shoppingCartModel)
</div>
