@model ArchitectureLibraryModels.RefundPolicyModel
@using ArchitectureLibraryCacheData
@{
    var clientId = ArchLibCache.ClientId;
}
<style>
    .textclass {
        color: #303030;
        font-family: Futura, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
</style>
<br style="clear: both;" />
<div class="center" style="padding-left: 12%; padding-right: 12%; text-align: left;">
    <h1 style="color: #000000; font-weight: bold;">Refund Policy</h1>
    <div class="textclass">
        We have a 7-day return policy, which means you have 7 days after receiving your item to request a return and refund.
        <br /><br />
        To be eligible for a return, your item must be in the same condition that you received it, unworn or unused, with tags, and in its original packaging. You’ll also need the receipt or proof of purchase.
        <br /><br />
        To start a return, you can reach us at
        <br />
        <a href="@Url.Action("ContactUs", "Home")" style="color: #0000ff; font-family: Arial; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click here to Contact Us</a>
        <br />
        <a href="mailto: @ArchLibCache.GetApplicationDefault(clientId, "FromEmailAddress", "")" style="color: #0000ff; font-family: Arial; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click here to Email Us</a>
        <br /><br />
        <span style="color: #0000ff; font-family: Arial; font-size: 14px; font-weight: bold;">Please note that returns will need to be sent to the following address:</span>
        <br />
        <span style="color: #000000; font-family: Arial; font-size: 14px; font-weight: bold;">@ArchLibCache.GetApplicationDefault(clientId, "BusinessName", "")</span>
        <br />
        <span style="color: #000000; font-family: Arial; font-size: 14px; font-weight: bold;">@ArchLibCache.GetApplicationDefault(clientId, "AddressLine1", "")</span>
        <br />
        <span style="color: #000000; font-family: Arial; font-size: 14px; font-weight: bold;">@ArchLibCache.GetApplicationDefault(clientId, "AddressLine2", "")</span>
        <br />
        <span style="color: #000000; font-family: Arial; font-size: 14px; font-weight: bold;">@ArchLibCache.GetApplicationDefault(clientId, "AddressCityName", "") - @ArchLibCache.GetApplicationDefault(clientId, "AddressZipCode", "")</span>
        <br />
        <span style="color: #000000; font-family: Arial; font-size: 14px; font-weight: bold;">@ArchLibCache.GetApplicationDefault(clientId, "AddressStateName", "") - @ArchLibCache.GetApplicationDefault(clientId, "AddressCountryName", "")</span>
        <br /><br />
        If your return is accepted, we’ll send you a return shipping label, as well as instructions on how and where to send your package. Items sent back to us without first requesting a return will not be accepted.
        <br /><br />
        You can always contact us for any return question at <a href="@ArchLibCache.GetApplicationDefault(clientId, "BaseUrl", "" )/@Url.Action(ArchLibCache.GetApplicationDefault(0, "ContactUsAction", "" ), ArchLibCache.GetApplicationDefault(0, "ContactUsController", "" ))" style="color: #0000ff; font-family: Arial; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Contact Us Here</a>.
        You can also email us at <a href="mailto: @ArchLibCache.GetApplicationDefault(clientId, "FromEmailAddress", "")" style="color: #0000ff; font-family: Arial; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">@ArchLibCache.GetApplicationDefault(clientId, "FromEmailAddress", "")</a>
        <br /><br />
        <span style="color: #000000; font-weight: bold;">Damages and Issues</span>
        <br />
        Please inspect your order upon receipt and contact us immediately if the item is defective, damaged or if you received the wrong item, so that we can evaluate and resolve the issue.
        <br /><br />
        <span style="color: #000000; font-weight: bold;">Exceptions / Non-Returnable Items</span>
        <br />
        Notwithstanding anything to the contract elsewhere in this policy, certain types of items cannot be returned, like perishable goods (such as food, flowers, or plants), custom products (such as special orders or personalized items), and personal care goods (such as beauty products). We also do not accept returns for hazardous materials, flammable liquids, or gases. Please get in touch if you have questions or concerns about your specific item.
        <br /><br />
        Unfortunately, we cannot accept returns of “on sale” items or gift cards.
        <br /><br />
        <span style="color: #000000; font-weight: bold;">Exchanges</span>
        <br />
        The fastest way to ensure you get what you want is to return the item you have, and once the return is accepted, make a separate purchase for the new item.
        <br /><br />
        <span style="color: #000000; font-weight: bold;">European Union 14 day cooling off period</span>
        <br />
        Notwithstanding the above, if the merchandise is being shipped into the European Union, you have the right to cancel or return your order within 14 days, for any reason and without a justification. As above, your item must be in the same condition that you received it, unworn or unused, with tags, and in its original packaging. You’ll also need the receipt or proof of purchase.
        <br /><br />
        <span style="color: #000000; font-weight: bold;">Refunds</span>
        <br />
        We will notify you once we’ve received and inspected your return, and let you know if the refund was approved or not. If approved, you’ll be automatically refunded on your original payment method within 20 business days. Please remember it can take some time for your bank or credit card company to process and post the refund too.
        <br /><br />
        If more than 25 business days have passed since we’ve approved your return, and you have not received the credit and/or check, please contact us at <a href="@ArchLibCache.GetApplicationDefault(clientId, "BaseUrl", "" )/@Url.Action(ArchLibCache.GetApplicationDefault(0, "ContactUsAction", "" ), ArchLibCache.GetApplicationDefault(0, "ContactUsController", "" ))" style="color: #0000ff; font-family: Arial; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Contact Us Here</a>.
        You can also email us at <a href="mailto: @ArchLibCache.GetApplicationDefault(clientId, "FromEmailAddress", "")" style="color: #0000ff; font-family: Arial; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">@ArchLibCache.GetApplicationDefault(clientId, "FromEmailAddress", "")</a>
    </div>
</div>
-