@using ArchitectureLibraryCacheData
@using RetailSlnModels
@model RegisterUserEmailModel
@{
    long clientId = ArchLibCache.ClientId;
    var baseUrl = ArchLibCache.GetApplicationDefault(clientId, "BaseUrl", "");
}
<table>
    <tr>
        <td style="font-family: Arial; font-size: 15px; text-align: left;">
            <span style="font-weight: bold;">Dear Valued Customer,</span>
            <br /><br />
            Thank you for your interest in registering - @Model.RegisterUserModel.RegisterEmailAddress
            <br /><br />
            Welcome to <span style="color: #000000; font-weight: bold;">@ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "")</span> family
            <br /><br />
            <div>
                You are assigned the role of <span style="color: #000000; font-size: 16px; font-weight: bold;">@Model.RegisterUserModel.UserTypeDesc</span>
                @if (!string.IsNullOrWhiteSpace(Model.CouponListModel?.CouponNum))
                {
                    <span style="color: #000000;">
                        <br />
                        Your master coupon number is <span style="color: #000000; font-weight: bold;">@Model.CouponListModel.CouponNum</span>
                        <br />
                        Please share the coupon number with your customer(s)
                        <br />
                        Your customer needs to appy the coupon at time of purchase
                        <br />
                        When the customer applies the coupon, the referral is  @(Model.ReferralListModel.CommissionPercent + "%") of the order amount.
                        <br />
                        The discount amount will be reflected in the invoice
                        <br />
                        This referral is as at time of registration and is subject to change
                        <br />
                        Referral amount will be paid periodically
                    </span>
                }
                <br /><br />
                You have successfully setup the password. Please <a href="@baseUrl/@Url.Action("LoginUserProf", "Home")">click here</a> to login
                <br /><br />
                Please <a href="@baseUrl/@Url.Action("ResetPassword", "Home")">click here</a> to reset password
                <br />
                If you are unable to access the above, copy and paste the below Url in your browser...
                @baseUrl/@Url.Action("ResetPassword", "Home")
            </div>
            <br /><br />
            <table>
                <tr>
                    <th style="text-align: right; vertical-align: top;">
                        Email Address
                    </th>
                    <td>
                        @Model.RegisterUserModel.RegisterEmailAddress
                    </td>
                </tr>
                <tr>
                    <th style="text-align: right; vertical-align: top;">
                        Telephone#
                    </th>
                    <td>
                        @("+" + Model.RegisterUserModel.TelephoneDemogInfoCountryModel?.TelephoneCode + " " + Model.RegisterUserModel.TelephoneNumber)
                    </td>
                </tr>
                <tr>
                    <th style="text-align: right; vertical-align: top;">
                        First Name
                    </th>
                    <td>
                        @Model.RegisterUserModel.FirstName
                    </td>
                </tr>
                <tr>
                    <th style="text-align: right; vertical-align: top;">
                        Last Name
                    </th>
                    <td>
                        @Model.RegisterUserModel.LastName
                    </td>
                </tr>
                <tr>
                    <th style="text-align: right; vertical-align: top;">
                        Address
                    </th>
                    <td style="vertical-align: top;">
                        @Model.RegisterUserModel.DemogInfoAddressModel.AddressLine1
                        <br />
                        @Model.RegisterUserModel.DemogInfoAddressModel.AddressLine2
                        <br />
                        @Model.RegisterUserModel.DemogInfoAddressModel.CityName
                        <br />
                        @(Model.RegisterUserModel.DemogInfoAddressModel.SubDivisionDesc + " " + Model.RegisterUserModel.DemogInfoAddressModel.ZipCode)
                    </td>
                </tr>
            </table>
            <br /><br />
            <span style="background-color: #deecf9;">
                Please do not hesitate to call us at @ArchLibCache.GetApplicationDefault(clientId, "ContactPhoneFormatted", "") if you have any questions.
                <br /><br />
                Alternatively <a href="@ArchLibCache.GetApplicationDefault(clientId, "BaseUrl", "" )/@Url.Action(ArchLibCache.GetApplicationDefault(0, "ContactUsAction", "" ), ArchLibCache.GetApplicationDefault(0, "ContactUsController", "" ))" target="_blank">Contact Us Here</a> to let us know.
            </span>
        </td>
    </tr>
</table>
