@model ArchitectureLibraryModels.RegisterUserProfModel
<style>
    #RegisterEmailAddress-error, #ConfirmRegisterEmailAddress-error, #TelephoneNumber-error, #CaptchaAnswerRegister-error {
        color: #ff0000;
        display: block;
        font-size: 14px;
        font-weight: bold;
    }
</style>
@if (Model != null && Model.ResponseObjectModel != null && !string.IsNullOrWhiteSpace(Model.ResponseObjectModel.ValidationSummaryMessage))
{
    <div class="validationSummaryMessage">
        @Model.ResponseObjectModel.ValidationSummaryMessage
    </div>
}
@if (!ViewData.ModelState.IsValid)
{
    <div>
        @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(false, "", new { @class = "validationSummaryErrors" }).ToHtmlString()))
    </div>
}
@if (Model != null && Model.ResponseObjectModel != null)
{
    <div>
        @Html.Partial("_ResponseObject", Model.ResponseObjectModel)
    </div>
}
<div style="padding-bottom: 5px; padding-left: 18px;">
    @Html.LabelFor(m => m.RegisterEmailAddress, new { style = "font-size: 14px; font-weight: bold;" })&nbsp;<span style="color: #0000ff; font-size: 14px; font-weight: bold;">(Required)</span>
</div>
<div style="padding-left: 18px;">
    @Html.TextBoxFor(m => m.RegisterEmailAddress, new { @class = "form-control validate", placeholder = "Enter " + @Html.DisplayNameFor(m => m.RegisterEmailAddress), style = "font-size: 14px; width: 90%;" })
    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.RegisterEmailAddress, "", new { id = "RegisterEmailAddress-error" }).ToHtmlString()))
</div>
<div style="padding-bottom: 5px; padding-left: 18px;">
    @Html.LabelFor(m => m.ConfirmRegisterEmailAddress, new { style = "font-size: 14px; font-weight: bold;" })&nbsp;<span style="color: #0000ff; font-size: 14px; font-weight: bold;">(Required)</span>
</div>
<div style="padding-left: 18px;">
    @Html.TextBoxFor(m => m.ConfirmRegisterEmailAddress, new { @class = "form-control validate", placeholder = "Enter " + @Html.DisplayNameFor(m => m.ConfirmRegisterEmailAddress), style = "font-size: 14px; width: 90%;" })
    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.ConfirmRegisterEmailAddress, "", new { id = "ConfirmRegisterEmailAddress-error" }).ToHtmlString()))
</div>
<div style="padding-bottom: 5px; padding-left: 18px;">
    @Html.LabelFor(m => m.TelephoneNumber, new { style = "font-size: 14px; font-weight: bold;" })&nbsp;<span style="color: #0000ff; font-size: 14px; font-weight: bold;">(Required)</span>
</div>
<div style="padding-left: 18px;">
    @Html.TextBoxFor(m => m.TelephoneNumber, new { @class = "form-control validate", onkeypress = "javascript: return isInputNumber(event);", placeholder = "Enter " + @Html.DisplayNameFor(m => m.TelephoneNumber), style = "font-size: 14px; width: 90%;" })
    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.TelephoneNumber, "", new { id = "TelephoneNumber-error" }).ToHtmlString()))
</div>
<div style="padding-bottom: 5px; padding-left: 18px;">
    @Html.LabelFor(m => m.CaptchaAnswerRegister, new { style = "font-size: 14px; font-weight: bold;" })&nbsp;<span style="color: #000000; font-size: 14px;">- Sum of </span><span style="color: #ff0000; font-size: 14PX; font-weight: bold;">@Model.CaptchaNumberRegister0</span> <span style="color: #000000; font-size: 14px;">&</span> <span style="color: #ff0000; font-size: 14PX; font-weight: bold;">@Model.CaptchaNumberRegister1</span><span style="color: #000000; font-size: 14px;">?</span><span style="color: #0000ff; font-size: 14px; font-weight: bold;"> (Required)</span>
</div>
<div style="padding-left: 18px;">
    @Html.TextBoxFor(m => m.CaptchaAnswerRegister, null, new { @class = "form-control", placeholder = @Model.CaptchaNumberRegister0 + " + " + @Model.CaptchaNumberRegister1 + " =?", style = "font-size: 14px; width: 90%;" })
    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.CaptchaAnswerRegister, "", new { id = "CaptchaAnswerRegister-error" }).ToHtmlString()))
</div>
