@using RetailSlnModels
@model SearchResultModel
<table class="table table-bordered table-condensed table-responsive" style="margin-left: auto; margin-right: auto; width: 81%;">
    <tr>
        <th class="dataStyle1Center" colspan="9">
            <span style="color: #ff0000; padding-right: 9px;">Search results for</span>
            @Model.SearchKeywordText
            <span style="color: #a54000; padding-left: 9px; padding-right: 9px;">Items</span>
            <span id="searchResultPageRange" style="color: #000000;">@(Model.ItemMasterCountFrom + " - " + Model.ItemMasterCountTo)</span>@(" of " + Model.ItemMasterCountTotal)
            <span style="color: #0000ff; padding-left: 9px; padding-right: 9px;">Categories#</span>@Model.CategoryCountTotal
        </th>
    </tr>
    <tr>
        <th class="dataStyle1Center" colspan="9">
            @{
                if (Model.TotalPageCount > 1)
                {
                    long prevPageNum = Model.PageNum - 1, nextPageNum = Model.PageNum + 1;
                    if (prevPageNum < 1) { prevPageNum = 1; }
                    if (nextPageNum > Model.TotalPageCount) { nextPageNum = Model.TotalPageCount; }
                    <ul class="pagination" id="searchResultPagination" style="margin: 0px;">
                        <li class="page-item">
                            <a alt="Page# @prevPageNum" class="page-link" href="javascript: void(0);" onclick="javascript: return searchResult_onclick(@prevPageNum);" , title="Jump to page# @prevPageNum">
                                Prev
                            </a>
                        </li>
                        @for (int i = 1; i <= Model.TotalPageCount; i++)
                        {
                            if (i == Model.PageNum)
                            {
                                <li class="page-item active">
                                    <a alt="Page# @i" class="page-link" href="javascript: void(0);" onclick="javascript: return searchResult_onclick(@i);" , title="Jump to page# @i">
                                        @i
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a alt="Page# @i" class="page-link" href="javascript: void(0);" onclick="javascript: return searchResult_onclick(@i);" , title="Jump to page# @i">
                                        @i
                                    </a>
                                </li>
                            }
                        }
                        <li class="page-item">
                            <a alt="Page# @nextPageNum" class="page-link" href="javascript: void(0);" onclick="javascript: return searchResult_onclick(@nextPageNum);" , title="Jump to page# @nextPageNum">
                                Next
                            </a>
                        </li>
                    </ul>
                }
            }
        </th>
    </tr>
    <tr>
        <th class="dataStyle1Right">#</th>
        <th class="dataStyle1Center">Item#</th>
        <th></th>
        <th></th>
    </tr>
    <tbody id="divSearchResultItemMaster">
    </tbody>
</table>
<br />
@Html.Partial("_SearchResultCategory", Model)
<script type="text/javascript">
    document.getElementById("searchTerm").value = "@Model.SearchKeywordText";
    searchResult_onclick(1);
    function searchResult_onclick(pageNum) {
        console.log("searchResult_onclick", "00000000", "ENTER!!!");
        $("#loadingModal").modal({ backdrop: 'static', keyboard: false });
        var url = "@Url.Action("SearchResultItemMaster", "Home")";
        var searchText = document.getElementById("searchTerm").value;
        var jsonPostData =
        {
            "searchText": searchText,
            "pageNum": pageNum,
        };
        $.ajax({
            url: url,
            type: "POST",
            //async: false,
            //contentType: "application/json; charset=utf-8",
            dataType: "text",
            data: jsonPostData,
            success: function (responseData, textStatus, request) {
                $('#loadingModal').modal('hide');
                document.getElementById("divSearchResultItemMaster").innerHTML = responseData;
                console.log(1, document.getElementById("searchResultPageRangeWork").innerHTML);
                document.getElementById("searchResultPageRange").innerHTML = document.getElementById("searchResultPageRangeWork").innerHTML;
                console.log(2, document.getElementById("searchResultPaginationWork").innerHTML);
                document.getElementById("searchResultPagination").innerHTML = document.getElementById("searchResultPaginationWork").innerHTML;
                console.log("searchResult_onclick", "00001000", "SUCCESS!!!", textStatus);
            },
            error: function (xhr, exception) {
                $('#loadingModal').modal('hide');
                console.log("searchResult_onclick", "00099000", "ERROR???");
                console.log(xhr, exception);
            }
        });
    }
</script>
