@model SearchResultModel
@using RetailSlnModels
@{
    var paymentInfoModel = (PaymentInfo1Model)Session["PaymentInfo"];
    paymentInfoModel = paymentInfoModel ?? new PaymentInfo1Model();
    paymentInfoModel.ShoppingCartModel = paymentInfoModel.ShoppingCartModel ?? new ShoppingCartModel();
    paymentInfoModel.ShoppingCartModel.BackToTop = false;
    paymentInfoModel.ShoppingCartModel.Checkout = false;
    paymentInfoModel.ShoppingCartModel.ShoppingCartSummaryModel = paymentInfoModel.ShoppingCartModel.ShoppingCartSummaryModel ?? new ShoppingCartSummaryModel();
    paymentInfoModel.ShoppingCartModel.ShoppingCartItems = paymentInfoModel.ShoppingCartModel.ShoppingCartItems ?? new List<ShoppingCartItemModel>();
    paymentInfoModel.ShoppingCartModel.ShoppingCartSummaryItems = paymentInfoModel.ShoppingCartModel.ShoppingCartSummaryItems ?? new List<ShoppingCartItemModel>();
}
Search results for : <span style="color: #000000;">@Model.SearchKeywordText</span>
<br />
@Html.Partial("_SearchResultItem", Model.ItemListModel)
<br />
@Html.Partial("_SearchResultCategory", Model.CategoryListModel)
<br />
<div class="center" id="divShoppingCart" style="width: 81%;">
    @Html.Partial("_ShoppingCart", paymentInfoModel.ShoppingCartModel)
</div>
@*
    @model string
    @using ArchitectureLibraryCacheData
    @using RetailSlnCacheData
    @using RetailSlnModels
    @{
        var clientId = ArchLibCache.ClientId;
        var clientName = ArchLibCache.ClientName;
        var imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
        var searchText = Model.Trim().ToLower();
        var itemModels = RetailSlnCache.ItemModels.Where(x => x.ItemShortDesc0.ToLower().Contains(searchText) || x.ItemShortDesc1.ToLower().Contains(searchText)).ToList();
        var paymentInfoModel = (PaymentInfo1Model)Session["PaymentInfo"];
        paymentInfoModel = paymentInfoModel ?? new PaymentInfo1Model();
        paymentInfoModel.ShoppingCartModel = paymentInfoModel.ShoppingCartModel ?? new ShoppingCartModel();
        paymentInfoModel.ShoppingCartModel.BackToTop = false;
        paymentInfoModel.ShoppingCartModel.Checkout = false;
        paymentInfoModel.ShoppingCartModel.ShoppingCartSummaryModel = paymentInfoModel.ShoppingCartModel.ShoppingCartSummaryModel ?? new ShoppingCartSummaryModel();
        paymentInfoModel.ShoppingCartModel.ShoppingCartItems = paymentInfoModel.ShoppingCartModel.ShoppingCartItems ?? new List<ShoppingCartItemModel>();
        paymentInfoModel.ShoppingCartModel.ShoppingCartSummaryItems = paymentInfoModel.ShoppingCartModel.ShoppingCartSummaryItems ?? new List<ShoppingCartItemModel>();
    }
    Search results for : <span style="color: #000000;">@Model</span>
    <br />
    @Html.Partial("_SearchResultItem", Model)
    <br />
    @Html.Partial("_SearchResultCategory", Model)
    <br />
    <div class="center" id="divShoppingCart" style="width: 81%;">
        @Html.Partial("_ShoppingCart", paymentInfoModel.ShoppingCartModel)
    </div>
*@
