@using ArchitectureLibraryCacheData
@using RetailSlnCacheData
@using RetailSlnEnumerations
@using RetailSlnModels
@model SearchResultModel
@{
    long clientId = ArchLibCache.ClientId;
    string clientName = ArchLibCache.ClientName;
    string imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
    string imageDateTime = "?id=" + DateTime.Now.ToString("yyyyMMddHHmmss");
    string discountPercent;
    bool itemBundleFlag;
    long itemBundleItemIndex, itemIndex = -1, itemMasterIndex = 1, itemIndexSeqNum = 0, itemMasterCount = Model.ItemMasterCountFrom;
    ItemDiscountModel itemDiscountModel;
    ItemMasterModel itemMasterModel;
    ParentItemBundleModel parentItemBundleModel;
    int i = 0;
    CategoryItemMasterHierModel categoryItemMasterHierModelTemp;
    List<string> categoryDescs;
}
<table class="table table-bordered table-condensed table-responsive" style="margin-left: auto; margin-right: auto; width: 81%;">
    <tr>
        <th class="dataStyle1Center" colspan="9">
            <span style="color: #ff0000; padding-right: 9px;">Search results for</span>
            @Model.SearchKeywordText
            <span style="color: #a54000; padding-left: 9px; padding-right: 9px;">Items</span>
            <span style="color: #000000;">@(Model.ItemMasterCountFrom + " - " + Model.ItemMasterCountTo)</span>@(" of " + Model.ItemMasterCountTotal)
            <span style="color: #0000ff; padding-left: 9px; padding-right: 9px;">Categories#</span>@Model.CategoryCountTotal
        </th>
    </tr>
    @if (Model.TotalPageCount > 1)
    {
        long prevPageNum = Model.PageNum - 1, nextPageNum = Model.PageNum + 1;
        if (prevPageNum < 1) { prevPageNum = 1; }
        if (nextPageNum > Model.TotalPageCount) { nextPageNum = Model.TotalPageCount; }
        <tr>
            <th class="dataStyle1Center" colspan="9">
                <ul class="pagination" style="margin: 0px;">
                    <li class="page-item">
                        <a alt="Page# @prevPageNum" class="page-link" href="javascript: void(0);" onclick="javascript: return searchResult_onclick(@prevPageNum);" , title="Jump to page# @prevPageNum">
                            Prev
                        </a>
                    </li>
                    @for (i = 1; i <= Model.TotalPageCount; i++)
                    {
                        if (i == Model.PageNum)
                        {
                            <li class="page-item active">
                                <a alt="Page# @i" class="page-link" href="javascript: void(0);" onclick="javascript: return searchResult_onclick(@i);" , title="Jump to page# @i">
                                    @i
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a alt="Page# @i" class="page-link" href="javascript: void(0);" onclick="javascript: return searchResult_onclick(@i);" , title="Jump to page# @i">
                                    @i
                                </a>
                            </li>
                        }
                    }
                    <li class="page-item">
                        <a alt="Page# @nextPageNum" class="page-link" href="javascript: void(0);" onclick="javascript: return searchResult_onclick(@nextPageNum);" , title="Jump to page# @nextPageNum">
                            Next
                        </a>
                    </li>
                </ul>
            </th>
        </tr>
    }
    <tr>
        <th class="dataStyle1Right">#</th>
        <th></th>
        <th class="dataStyle1Center">Item#</th>
        <th></th>
        <th></th>
    </tr>
    @{
        i = 0;
        while (i < Model.CategoryItemMasterHierModels.Count)
        {
            categoryItemMasterHierModelTemp = Model.CategoryItemMasterHierModels[i];
            itemMasterModel = categoryItemMasterHierModelTemp.ItemMasterModel;
            categoryDescs = new List<string>();
            while (i < Model.CategoryItemMasterHierModels.Count && categoryItemMasterHierModelTemp.ItemMasterId == Model.CategoryItemMasterHierModels[i].ItemMasterId)
            {
                categoryDescs.Add(Model.CategoryItemMasterHierModels[i].ParentCategoryModel.CategoryDesc);
                i++;
            }
            Model.ItemDiscountModels.TryGetValue(itemMasterModel.ItemModels[0].ItemId.Value, out itemDiscountModel);
            if (itemDiscountModel == null)
            {
                discountPercent = "";
            }
            else
            {
                discountPercent = itemDiscountModel.DiscountPercent.ToString("0.00") + "%";
            }
            <!--Begin Item Master #@itemMasterIndex-->
            <tr>
                <td class="dataStyle1Right">@itemMasterIndex.</td>
                <td class="dataStyle1Right">@itemMasterCount.</td>
                <td class="dataStyle1Center">
                    <a href="@Url.Action("ItemMasterAttributes", "Home", new { id = itemMasterModel.ItemMasterId, tabId = 0 })" style="font-weight: bold; text-decoration: underline;">
                        @itemMasterModel.ItemMasterId
                    </a>
                </td>
                <td class="dataStyle1Left">
                    <a href="@Url.Action("ItemMasterAttributes", "Home", new { id = itemMasterModel.ItemMasterId, tabId = 0 })" @*id="@itemMasterModel.DOMElementId"*@ style="color: #000000; font-weight: bold; text-decoration: underline;">
                        @(itemMasterModel.ItemMasterDesc0 + " " + itemMasterModel.ItemMasterDesc1)
                    </a>
                    @if (!string.IsNullOrWhiteSpace(itemMasterModel.ItemMasterDesc2 + " " + itemMasterModel.ItemMasterDesc3))
                    {
                        <br style="clear: both;" />
                        <span style="color: #1d1d1d; font-weight: 600; line-height: 18px;">@(itemMasterModel.ItemMasterDesc2 + " " + itemMasterModel.ItemMasterDesc3)</span>
                    }
                    <!--Begin Item #@itemMasterIndex / @itemIndex /@itemIndexSeqNum-->
                    <table class="table table-bordered" style="width: 100%;">
                        <tr style="background-color: #d0d0d0;">
                            <th style="padding: 5px; text-align: right;">#</th>
                            <th style="padding: 5px; text-align: center;">Id</th>
                            <th style="padding: 5px; text-align: left;">Spec(s) (@itemMasterModel.ItemModels.Count)</th>
                            <th style="padding: 5px; text-align: right;">Rate</th>
                            <th style="padding: 5px; text-align: right;">Disc.</th>
                            <th style="padding: 5px; text-align: left;">Qty</th>
                        </tr>
                        @foreach (var itemModel in itemMasterModel.ItemModels)
                        {
                            //dOMElementIds += itemModel.DOMElementId + ",";
                            itemBundleFlag = (itemModel.ItemTypeId == ItemTypeEnum.ItemBundle);
                            itemIndex++;
                            itemIndexSeqNum++;
                            RetailSlnCache.ParentItemBundleModels.TryGetValue(itemModel.ItemId.Value, out parentItemBundleModel);
                            <!--Begin Item #@itemMasterIndex / @itemIndex/ @itemIndexSeqNum-->
                            <tr>
                                <td style="font-size: 12px; padding: 5px; text-align: right;">@itemIndexSeqNum.</td>
                                <td style="color: #0000ff; font-size: 12px; font-weight: bold; padding: 5px; text-align: center;">
                                    <a href="@Url.Action("ItemMasterAttributes", "Home", new { id = itemMasterModel.ItemMasterId, tabId = 0 })" style="font-weight: bold; text-decoration: underline;">
                                        @itemModel.ItemId
                                    </a>
                                </td>
                                <td @*id="@itemModel.DOMElementId"*@ style="font-size: 12px; padding: 5px; text-align: left;">
                                    @itemModel.ItemItemSpecsForDisplay
                                    <br style="clear: both;" />
                                    @if (itemBundleFlag)
                                    {
                                        <span style="color: #0000ff; font-size: 13px; font-weight: bold;">Order bundle without breaking (as is)</span><br style="clear: both;" />
                                        <span style="color: #a54000; font-size: 14px; font-weight: bold;">Bundled Items <span style="color: #ff0000; font-size: 13px;">(#@(parentItemBundleModel == null ? -1 : parentItemBundleModel.ItemModels.Count))</span></span>
                                    }
                                </td>
                                <td style="font-size: 12px; padding: 5px; text-align: right;">@itemModel.ItemRateFormatted</td>
                                <td style="font-size: 12px; padding: 5px; text-align: right;">@discountPercent</td>
                                <td style="padding: 5px; text-align: left;">
                                    <input class="form-control" id="orderQty@(itemIndex)" inputmode="numeric" max="999" maxlength="3" min="1" oninput="javascript: return orderQty_oninput(this, '');" style="background-color: #e1e1e1; border-color: #000000; border-style: none; border-width: 1px; border-radius: 30px; float: left; font-size: 12px; font-weight: 900; width: 63px;" title="Enter quantity and click add to cart @itemMasterModel.ImageTitle" type="number" value="" />
                                    <span style="width: 9px;">&nbsp;</span>
                                    <a href="javascript: void(0);" onclick="javascript: return addToCart_onclick(@itemModel.ItemId, @itemIndex, '', true, @itemBundleFlag.ToString().ToLower());" title="Enter quantity and click add to cart @itemMasterModel.ItemMasterDesc"><img alt="Enter quantity and click add to cart" src="~/Images/Addtocart.png" style="height: 36px; padding-left: 2px; width: 45px;" title="Enter quantity and click add to cart @itemMasterModel.ImageTitle" /></a>
                                    <span id="spnMessageSuccess@(itemIndex)" style="display: none; font-family: Arial; font-size: 12px; font-weight: bold;">
                                        <i class="fa fa-check" style="color: #00d000; padding-left: 7px; padding-right: 1px;"></i>
                                        <span style="color: #a54000;">Added...<span id="spnMessageSuccessText@(itemIndex)" style="color: #0000ff; font-size:12px;"></span></span>
                                        <br style="clear: both;" />
                                    </span>
                                    <span id="spnMessageError@(itemIndex)" style="display: none; font-family: Arial; font-size: 12px; font-weight: bold;">
                                        <i class="fa fa-remove" style="color: #ff0000; padding-left: 7px; padding-right: 1px;"></i>
                                        <span id="spnMessageErrorText@(itemIndex)" style="color: #ff0000;"></span>
                                        <br style="clear: both;" />
                                    </span>
                                </td>
                            </tr>
                            if (itemBundleFlag)
                            {
                                if (parentItemBundleModel != null)
                                {
                                    itemBundleItemIndex = -1;
                                    itemIndex++;
                                    <tr>
                                        <td></td>
                                        <td colspan="3">
                                            <span style="color: #ff0000; font-size: 12px; font-weight: bold;">Customize bundle below and click add to cart</span>
                                            <input class="form-control" id="orderQtyBundleSetQty@(itemIndex)" inputmode="numeric" max="999" maxlength="3" min="0" style="background-color: #e1e1e1; border-color: #000000; border-style: none; border-width: 1px; border-radius: 30px; float: left; font-size: 12px; font-weight: 900; width: 63px;" title="@(itemModel.ItemMasterModel.ItemMasterDesc + " " + imageTitle)" type="number" value="" />
                                            <button class="btn btn-primary" onclick="javascript: return orderQtyBundleSetQty_onclick(@parentItemBundleModel.ParentItemId, @itemIndex, @parentItemBundleModel.ShoppingCartItemBundleModels.Count, '@Model.CurrencySymbol');" style="font-weight: bold;">Set Qty</button>
                                            <span id="itemBundleItemRate@(itemIndex)" style="color: #000000; font-size: 13px; font-weight: bold; padding: 5px; text-align: right; vertical-align: middle;">0.00</span>
                                            <span id="itemBundleItemPiecesCount@(itemIndex)" style="color: #000000; font-size: 13px; font-weight: bold;">0</span>
                                        </td>
                                        <td>
                                            <input id="itemId@(itemIndex)" type="hidden" value="@itemModel.ItemId" />
                                            <input id="orderQty@(itemIndex)" max="999" maxlength="3" min="1" type="hidden" value="1" />
                                            <a href="javascript: void(0);" onclick="javascript: return addToCart_onclick(@itemModel.ItemId, @itemIndex, '1', false, @itemBundleFlag.ToString().ToLower()); resetItemBundleRate(@parentItemBundleModel.ParentItemId, '', @parentItemBundleModel.ShoppingCartItemBundleModels.Count, '@Model.CurrencySymbol');" title="Enter quantity and click add to cart @itemModel.ItemMasterModel.ItemMasterDesc"><img alt="Enter quantity and click add to cart" src="~/Images/Addtocart.png" style="height: 36px; padding-left: 2px; width: 45px;" title="Enter quantity and click add to cart @itemModel.ItemMasterModel.ImageTitle" /></a>
                                            <span id="spnMessageSuccess@(itemIndex)" style="display: none; font-family: Arial; font-size: 12px; font-weight: bold;">
                                                <i class="fa fa-check" style="color: #00d000; padding-left: 7px; padding-right: 1px;"></i>
                                                <span style="color: #a54000;">Added...<span id="spnMessageSuccessText@(itemIndex)" style="color: #0000ff; font-size:12px;"></span></span>
                                                <br style="clear: both;" />
                                            </span>
                                            <span id="spnMessageError@(itemIndex)" style="display: none; font-family: Arial; font-size: 12px; font-weight: bold;">
                                                <i class="fa fa-remove" style="color: #ff0000; padding-left: 7px; padding-right: 1px;"></i>
                                                <span id="spnMessageErrorText@(itemIndex)" style="color: #ff0000;"></span>
                                                <br style="clear: both;" />
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="5">
                                            <div style="height: 207px; max-height: 450px; min-height: 180px; overflow-y: scroll; width: 100%;">
                                                <table class="table table-bordered" style="width: 100%;">
                                                    <colgroup>
                                                        <col style="width: 27px;" />
                                                        <col style="width: 36px;" />
                                                        <col />
                                                        <col style="width: 54px;" />
                                                        <col style="width: 63px;" />
                                                        <col style="width: 54px;" />
                                                    </colgroup>
                                                    <tr style="background-color: #d0d0d0;">
                                                        <th style="padding: 5px; text-align: right;">#</th>
                                                        <th style="padding: 5px; text-align: center;">Id</th>
                                                        <th style="padding: 5px; text-align: left;">Desc</th>
                                                        <th style="padding: 5px; text-align: right;">Price</th>
                                                        <th style="padding: 5px; text-align: right;">Qty</th>
                                                        <th style="padding: 5px; text-align: right;">Amount</th>
                                                    </tr>
                                                    @foreach (var itemBundleItem in parentItemBundleModel.ShoppingCartItemBundleModels)
                                                    {
                                                        itemBundleItemIndex++;
                                                        <tr>
                                                            <td class="text-right">@(itemBundleItemIndex + 1).</td>
                                                            <td class="text-center" style="color: #0000ff; font-size: 12px; font-weight: bold;">@itemBundleItem.ItemId</td>
                                                            <td class="text-left">
                                                                @(itemBundleItem.ItemMasterDesc0 + " " + itemBundleItem.ItemMasterDesc1)
                                                                @if (!string.IsNullOrWhiteSpace(itemBundleItem.ItemMasterDesc2 + " " + itemBundleItem.ItemMasterDesc3))
                                                                {
                                                                    <br style="clear: both;" />
                                                                    <span style="color: #1d1d1d; font-family: Arial; font-size: 12px; font-style: normal; font-weight: 600; line-height: 18px;">@(itemBundleItem.ItemMasterDesc2 + " " + itemBundleItem.ItemMasterDesc3)</span>
                                                                }
                                                                @if (!string.IsNullOrWhiteSpace(itemBundleItem.ItemItemSpecsForDisplay))
                                                                {
                                                                    <br style="clear: both;" />
                                                                    <span style="color: #1d1d1d; font-family: Arial; font-size: 12px; font-style: normal; font-weight: 600;">@itemBundleItem.ItemItemSpecsForDisplay</span>
                                                                }
                                                            </td>
                                                            <td class="text-right">
                                                                @itemBundleItem.ItemRateFormatted
                                                            </td>
                                                            <td class="text-right">
                                                                <span id="itemIdForBundle@("_" + itemModel.ItemId + "_" + itemBundleItemIndex)" style="display: none;">@itemBundleItem.ItemId</span>
                                                                <span id="itemRateForBundle@("_" + itemModel.ItemId + "_" + itemBundleItemIndex)" style="display: none;">@itemBundleItem.ItemRate.Value</span>
                                                                <input class="form-control" id="orderQtyForBundle@("_" + itemModel.ItemId + "_" + itemBundleItemIndex)" min="0" max="999" maxlength="3" name="orderQtyForBundle@("_" + itemModel.ItemId + "_" + itemBundleItemIndex)" oninput="javascript: return orderQtyBundle_oninput(@itemModel.ItemId, this, @itemIndex, @parentItemBundleModel.ItemModels.Count, '@Model.CurrencySymbol');" style="background-color: #e1e1e1; border-color: #000000; border-style: none; border-width: 1px; border-radius: 30px; float: left; font-size: 12px; font-weight: 900; width: 63px;" type="number" value="@itemBundleItem.OrderQty" />
                                                                <span id="spnMessageSuccessForBundle@("_" + itemModel.ItemId + "_" + itemBundleItemIndex)" style="display: none; font-family: Arial; font-size: 12px; font-weight: bold;">
                                                                    <br style="clear: both;" />
                                                                    <i class="fa fa-check" style="color: #00d000; padding-left: 7px; padding-right: 1px;"></i>
                                                                    <span style="color: #a54000;">Added...<span id="spnMessageSuccessTextForBundle@("_" + itemModel.ItemId + "_" + itemBundleItemIndex)" style="color: #0000ff; font-size:12px;"></span></span>
                                                                </span>
                                                                <span id="spnMessageErrorForBundle@("_" + itemModel.ItemId + "_" + itemBundleItemIndex)" style="display: none; font-family: Arial; font-size: 12px; font-weight: bold;">
                                                                    <br style="clear: both;" />
                                                                    <i class="fa fa-remove" style="color: #ff0000; padding-left: 7px; padding-right: 1px;"></i>
                                                                    <span id="spnMessageErrorTextForBundle@("_" + itemModel.ItemId + "_" + itemBundleItemIndex)" style="color: #ff0000;"></span>
                                                                </span>
                                                            </td>
                                                            <td id="itemAmountForBundle@("_" + parentItemBundleModel.ParentItemModel.ItemId + "_" + itemBundleItemIndex)" class="text-right">
                                                            </td>
                                                        </tr>
                                                    }
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            <!--End Item #@itemMasterIndex / @itemIndex / @itemIndexSeqNum-->
                        }
                    </table>
                </td>
                <td class="dataStyle1Left" style="text-align: center; vertical-align: top;">
                    <a href="@Url.Action("ItemMasterAttributes", "Home", new { id = itemMasterModel.ItemMasterId, tabId = 0 })">
                        <img alt="@(itemMasterModel.ItemMasterDesc + " " + imageTitle)" src="~/ClientSpecific/@(clientId)_@(clientName)/Documents/Images/ItemMaster/@itemMasterModel.ImageName@imageDateTime" style="height: 180px; width: 180px;" title="@(itemMasterModel.ItemMasterDesc + " " + imageTitle)" />
                    </a>
                </td>
                <td class="dataStyle1Left" style="font-weight: bold;">
                    @foreach (var categoryDesc in categoryDescs)
                    {
                        @categoryDesc
                        <br />
                    }
                </td>
            </tr>
            <!--End Item Master #@itemMasterIndex-->
            itemMasterIndex++;
            itemMasterCount++;
        }
    }
</table>
@Html.Partial("_SearchResultCategory", Model)
