@model RetailSlnModels.PaymentInfo1Model
@using RetailSlnCacheData
@using RetailSlnEnumerations
@using RetailSlnModels
@{
    var shoppingCartModel = Model.ShoppingCartModel;
    //bool skipInvoiceItem;
    int index = 0;
    float discountPercent, itemRate, itemRateBeforeDiscount, orderAmount, orderAmountBeforeDiscount;
    <table style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; margin: auto 0; padding: 5px; width: 100%;">
        <tr>
            <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                #
            </th>
            <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                Id
            </th>
            <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: left; vertical-align: top;">
                Item Desc
            </th>
            <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                Qty
            </th>
            <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                Rate
            </th>
            <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                Amount
            </th>
            @if (Model.OrderSummaryModel.InvoiceTypeId == InvoiceTypeEnum.TaxInvoice)
            {
                <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: left; vertical-align: top;">
                    Details
                </th>
            }
        </tr>
        @{
            foreach (var shoppingCartItem in shoppingCartModel.ShoppingCartItems)
            {
                index++;
                <tr>
                    <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                        @(index + ".")
                    </th>
                    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                        @shoppingCartItem.ItemId
                    </td>
                    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: left; vertical-align: top;">
                        @shoppingCartItem.ItemShortDesc
                        @if (!string.IsNullOrWhiteSpace(shoppingCartItem.ItemItemSpecsForDisplay))
                        {
                            <br />
                            <span style="color: #000000; font-size: 11px; font-weight: bold;">@shoppingCartItem.ItemItemSpecsForDisplay</span>
                        }
                        <br />
                        HSN&nbsp;:&nbsp; @shoppingCartItem.HSNCode
                        <br />
                        Prod&nbsp;Code&nbsp;:&nbsp;@shoppingCartItem.ProductCode
                    </td>
                    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                        @shoppingCartItem.OrderQty
                    </td>
                    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                        @shoppingCartItem.ItemRate.Value.ToString(RetailSlnCache.CurrencyDecimalPlaces, RetailSlnCache.CurrencyCultureInfo).Replace(" ", "")
                    </td>
                    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                        @shoppingCartItem.OrderAmount.Value.ToString(RetailSlnCache.CurrencyDecimalPlaces, RetailSlnCache.CurrencyCultureInfo).Replace(" ", "")
                    </td>
                    @if (Model.OrderSummaryModel.InvoiceTypeId == InvoiceTypeEnum.TaxInvoice)
                    {
                        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: left; vertical-align: top;">
                            <table style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                                <tr>
                                    <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                                        Desc
                                    </th>
                                    <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                                        Rate
                                    </th>
                                    <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                                        %
                                    </th>
                                    <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                                        Amt
                                    </th>
                                </tr>
                                @if (shoppingCartItem.ItemRateBeforeDiscount != shoppingCartItem.ItemRate)
                                {
                                    <tr>
                                        <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                                            Rate
                                        </th>
                                        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                                            <span style="color: #000000; font-weight: bold;">MSRP</span><br />
                                            @shoppingCartItem.ItemRateBeforeDiscount.Value.ToString(RetailSlnCache.CurrencyDecimalPlaces, RetailSlnCache.CurrencyCultureInfo).Replace(" ", "")
                                        </td>
                                        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                                            <span style="color: #000000; font-weight: bold;">Disc.</span><br />
                                            @(shoppingCartItem.ItemDiscountPercent.Value.ToString("#0.00") + "%")
                                        </td>
                                        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                                            <span style="color: #000000; font-weight: bold;">After Disc.</span><br />
                                            @shoppingCartItem.ItemRate.Value.ToString(RetailSlnCache.CurrencyDecimalPlaces, RetailSlnCache.CurrencyCultureInfo).Replace(" ", "")
                                        </td>
                                    </tr>
                                }
                                @foreach (var shoppingCartItemSummary in shoppingCartItem.ShoppingCartItemSummarys)
                                {
                                    <tr>
                                        <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                                            @shoppingCartItemSummary.ItemShortDesc
                                        </th>
                                        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                                        </td>
                                        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                                            @(shoppingCartItemSummary.ItemRate.Value.ToString("#0.00") + "%")
                                        </td>
                                        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                                            @shoppingCartItemSummary.OrderAmount.Value.ToString(RetailSlnCache.CurrencyDecimalPlaces, RetailSlnCache.CurrencyCultureInfo).Replace(" ", "")
                                        </td>
                                    </tr>
                                }
                            </table>
                        </td>
                    }
                </tr>
                if (!string.IsNullOrWhiteSpace(shoppingCartItem.OrderComments))
                {
                    <tr>
                        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                        </td>
                        <td colspan="6" style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: left; vertical-align: top;">
                            @Html.DisplayFor(m => shoppingCartItem.OrderComments)
                        </td>
                    </tr>
                }
            }
        }
    </table>
    <br />
    index = 0;
    <table style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; margin: auto 0; padding: 5px; width: 100%;">
        <tr>
            <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                #.
            </th>
            <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: left; vertical-align: top;">
                Description
            </th>
            <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                Amount
            </th>
        </tr>
        @{
            List<ShoppingCartItemModel> shoppingCartSummaryItems;
            if (Model.OrderSummaryModel.InvoiceTypeId == InvoiceTypeEnum.TaxInvoice)
            {
                shoppingCartSummaryItems = shoppingCartModel.ShoppingCartSummaryItems;
            }
            else
            {
                shoppingCartSummaryItems = shoppingCartModel.ShoppingCartSummaryItems.FindAll(x => x.OrderDetailTypeId == OrderDetailTypeEnum.TotalOrderAmountAfterDiscount);
            }
            foreach (var shoppingCartSummary in shoppingCartSummaryItems)
            {
                index++;
                <tr>
                    <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                        @(index + ".")
                    </th>
                    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: left; vertical-align: top;">
                        @shoppingCartSummary.ItemShortDesc
                    </td>
                    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                        @shoppingCartSummary.OrderAmount.Value.ToString(RetailSlnCache.CurrencyDecimalPlaces, RetailSlnCache.CurrencyCultureInfo).Replace(" ", "")
                    </td>
                </tr>
            }
        }
    </table>
    foreach (var shoppingCartItem in shoppingCartModel.ShoppingCartItems)
    {
        index = 0;
        if (shoppingCartItem.ItemBundleModel != null)
        {
            discountPercent = shoppingCartItem.ItemBundleModel.DiscountPercent;
            <br style="clear: both;" />
            <table style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                <tr>
                    <th colspan="6" sstyle="color: #000000; font-family: Arial; font-size: 14px; padding: 9px; text-align: center; vertical-align: top;">
                        @shoppingCartItem.ItemShortDesc
                    </th>
                </tr>
                <tr>
                    <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: center; vertical-align: top;">
                        #
                    </th>
                    <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                        Id
                    </th>
                    <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: left; vertical-align: top;">
                        Description
                    </th>
                    <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                        Min<br />Qty
                    </th>
                    <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                        Discount
                    </th>
                    <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                        Rate
                    </th>
                    <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                        Order<br />Qty
                    </th>
                    <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                        Amount
                    </th>
                </tr>
                @foreach (var itemBundleItemModel in shoppingCartItem.ItemBundleModel.ItemBundleItemModels)
                {
                    itemRate = itemBundleItemModel.ItemModel.ItemRate.Value;
                    itemRateBeforeDiscount = itemBundleItemModel.ItemModel.ItemRate.Value * (100 - discountPercent) / 100;
                    orderAmount = itemRate * shoppingCartItem.OrderQty.Value;
                    orderAmountBeforeDiscount = itemRateBeforeDiscount * shoppingCartItem.OrderQty.Value;
                    <tr>
                        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                            @(++index)
                        </td>
                        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: center; vertical-align: top;">
                            @itemBundleItemModel.ItemId
                        </td>
                        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: left; vertical-align: top;">
                            @itemBundleItemModel.ItemModel.ItemMasterModel.ItemMasterDesc
                        </td>
                        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                            @itemBundleItemModel.Quantity
                        </td>
                        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                            @(discountPercent.ToString("#0.00") + "%")
                        </td>
                        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                            @itemRate.ToString(RetailSlnCache.CurrencyDecimalPlaces, RetailSlnCache.CurrencyCultureInfo).Replace(" ", "")
                        </td>
                        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                            @shoppingCartItem.OrderQty
                        </td>
                        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: right; vertical-align: top;">
                            @orderAmount.ToString(RetailSlnCache.CurrencyDecimalPlaces, RetailSlnCache.CurrencyCultureInfo).Replace(" ", "")
                        </td>
                    </tr>
                }
            </table>
        }
    }
}
