@model RetailSlnModels.ShoppingCartModel
@using RetailSlnCacheData
@{
    int index = 0;
}
@if (Model == null || Model.ShoppingCartItems == null || Model.ShoppingCartItems.Count == 0)
{
    <div style="display: table; width: 100%;">
        <div style="display: table-row;">
            <div style="color: #ff9900; display: table-cell; font-size: 27px; font-weight: bold; text-align: center; vertical-align: top; ">
                Your shopping cart is empty
            </div>
        </div>
    </div>
}
else
{
    <table class="table table-striped">
        <tr>
            @if (Model.Checkout)
            {
                <th class="text-center" scope="col"></th>
            }
            <th scope="col">#</th>
            <th scope="col">Item#</th>
            <th scope="col">Item Desc</th>
            <th class="text-right" scope="col">Rate</th>
            <th class="text-center" scope="col">Qty</th>
            <th class="text-right" scope="col">Amount</th>
        </tr>
        @{
            foreach (var shoppingCartItem in Model.ShoppingCartItems)
            {
                index++;
                <tr>
                    @if (Model.Checkout)
                    {
                        <td class="text-center"><a href="javascript: void(0);" onclick="javascript: return removeFromCart_onclick(@(index - 1));"><img alt="" src="~/Images/Delete.jpg" title="Click to remove the item from shopping cart #@(index)" /></a></td>
                    }
                    <th scope="row">@(index + ".")</th>
                    <td class="text-left">
                        @shoppingCartItem.ItemId
                    </td>
                    <td class="text-left">
                        @shoppingCartItem.ItemShortDesc
                        @if (!Model.Checkout)
                        {
                            <br />
                            <span>Weight: </span>@shoppingCartItem.WeightValue<span>&nbsp;</span>@shoppingCartItem.WeightUnitId
                            @*<br />
                                <span>Volume: </span>@shoppingCartItem.VolumeValue*@
                        }
                    </td>
                    <td class="text-right">
                        @shoppingCartItem.ItemRate.Value.ToString(RetailSlnCache.CurrencyDecimalPlaces, RetailSlnCache.CurrencyCultureInfo).Replace(" ", "")
                    </td>
                    <td class="text-center">
                        @shoppingCartItem.OrderQty
                    </td>
                    <td class="text-right">
                        @shoppingCartItem.OrderAmount.Value.ToString(RetailSlnCache.CurrencyDecimalPlaces, RetailSlnCache.CurrencyCultureInfo).Replace(" ", "")
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="6">
                        @if (Model.Checkout)
                        {
                            @Html.TextBoxFor(m => shoppingCartItem.OrderComments, new { id = "orderComments" + (index - 1), @class = "form-control", placeholder = "Enter comments for the item ordered", style = "height: 43px; width: 95%;", onchange = "javascript: return orderComments_onchange(" + (index - 1) + ");" })
                        }
                        else
                        {
                            @Html.DisplayFor(m => shoppingCartItem.OrderComments)
                        }
                    </td>
                </tr>
            }
        }
    </table>
}
@{
    if (Model != null && Model.ShoppingCartSummaryItems != null && Model.ShoppingCartSummaryItems.Count != 0)
    {
        index = 0;
        <hr style="background-color: #000000; display: block; font-size: 18px; font-weight: bold; height: 1px;" />
        <table class="table table-striped">
            <tr>
                <th scope="col">
                    #.
                </th>
                <th scope="col">
                    Description
                </th>
                <th class="text-right" scope="col">
                    Amount
                </th>
            </tr>
            @foreach (var shoppingCartSummary in Model.ShoppingCartSummaryItems)
            {
                index++;
                <tr>
                    <th scope="row">@(index + ".")</th>
                    <td class="text-left">
                        @shoppingCartSummary.ItemShortDesc
                    </td>
                    <td class="text-right">@shoppingCartSummary.OrderAmount.Value.ToString(RetailSlnCache.CurrencyDecimalPlaces, RetailSlnCache.CurrencyCultureInfo).Replace(" ", "")</td>
                </tr>
            }
        </table>
    }
}
