@model RetailSlnModels.ShoppingCartModel
@using RetailSlnCacheData
@{
    int index = 0;
    Model.ShoppingCartSummaryModel = Model.ShoppingCartSummaryModel ?? new RetailSlnModels.ShoppingCartSummaryModel();
}
@if (Model == null || Model.ShoppingCartItems == null || Model.ShoppingCartItems.Count == 0)
{
}
else
{
    <table class="table table-striped">
        <tr>
            @if (Model.Checkout)
            {
                <th class="text-center" scope="col"></th>
            }
            <th scope="col">#</th>
            <th scope="col">Item#</th>
            <th scope="col">Item Desc</th>
            <th class="text-center" scope="col">Qty</th>
            <th class="text-right" scope="col">Rate</th>
            <th class="text-right" scope="col">Amount</th>
            @if (Model.ShoppingCartSummaryModel.ShowDiscountsAdditionalCharges)
            {
                <th class="text-center" scope="col">
                    Other
                </th>
            }
        </tr>
        @{
            foreach (var shoppingCartItem in Model.ShoppingCartItems)
            {
                index++;
                <tr>
                    @if (Model.Checkout)
                    {
                        <td class="text-center"><a href="javascript: void(0);" onclick="javascript: return removeFromCart_onclick(@(index - 1));"><img alt="" src="~/Images/Delete.jpg" title="Click to remove the item from shopping cart #@(index)" /></a></td>
                    }
                    <th scope="row">@(index + ".")</th>
                    <td class="text-left">
                        @shoppingCartItem.ItemId
                    </td>
                    <td class="text-left">
                        @shoppingCartItem.ItemShortDesc
                        @*if (Model.ShowDetail)
                            {
                                <br />
                                <span>Weight: </span>@shoppingCartItem.WeightValue<span>&nbsp;</span>@shoppingCartItem.WeightUnitId
                            }
                            <br />*@
                        @(shoppingCartItem.HSNCode + ", " + shoppingCartItem.ProductCode)
                    </td>
                    <td class="text-center">
                        @shoppingCartItem.OrderQty
                    </td>
                    <td class="text-right">
                        @shoppingCartItem.ItemRate.Value.ToString(RetailSlnCache.CurrencyDecimalPlaces, RetailSlnCache.CurrencyCultureInfo).Replace(" ", "")
                    </td>
                    <td class="text-right">
                        @shoppingCartItem.OrderAmount.Value.ToString(RetailSlnCache.CurrencyDecimalPlaces, RetailSlnCache.CurrencyCultureInfo).Replace(" ", "")
                    </td>
                    @if (Model.ShoppingCartSummaryModel.ShowDiscountsAdditionalCharges)
                    {

                        <td>
                            <table class="table table-condensed table-responsive table-striped">
                                @if (shoppingCartItem.ItemRateBeforeDiscount != shoppingCartItem.ItemRate)
                                {
                                    <tr>
                                        <td class="text-right">
                                            <span style="color: #000000; font-weight: bold;">Before</span><br />
                                            @shoppingCartItem.ItemRateBeforeDiscount.Value.ToString(RetailSlnCache.CurrencyDecimalPlaces, RetailSlnCache.CurrencyCultureInfo).Replace(" ", "")
                                        </td>
                                        <td class="text-right">
                                            <span style="color: #000000; font-weight: bold;">Disc.</span><br />
                                            @(shoppingCartItem.ItemDiscountPercent.Value.ToString("#0.00") + "%")
                                        </td>
                                        <td class="text-right">
                                            <span style="color: #000000; font-weight: bold;">After</span><br />
                                            @shoppingCartItem.ItemRate.Value.ToString(RetailSlnCache.CurrencyDecimalPlaces, RetailSlnCache.CurrencyCultureInfo).Replace(" ", "")
                                        </td>
                                    </tr>
                                }
                                @if (shoppingCartItem.ShoppingCartItemSummarys.Count > 0)
                                {
                                    <tr>
                                        <th>
                                            Desc
                                        </th>
                                        <th>
                                        </th>
                                        <th class="text-right">
                                            %
                                        </th>
                                        <th class="text-right">
                                            Amt
                                        </th>
                                    </tr>
                                }
                                @foreach (var shoppingCartItemSummary in shoppingCartItem.ShoppingCartItemSummarys)
                                {
                                    <tr>
                                        <th scope="row">
                                            @shoppingCartItemSummary.ItemShortDesc
                                        </th>
                                        <td>
                                        </td>
                                        <td class="text-right">
                                            @(shoppingCartItemSummary.ItemRate.Value.ToString("#0.00") + "%")
                                        </td>
                                        <td class="text-right">
                                            @shoppingCartItemSummary.OrderAmount.Value.ToString(RetailSlnCache.CurrencyDecimalPlaces, RetailSlnCache.CurrencyCultureInfo).Replace(" ", "")
                                        </td>
                                    </tr>
                                }
                            </table>
                        </td>
                    }
                </tr>
                <tr>
                    <td></td>
                    <td class="text-left" colspan="6">
                        @if (Model.Checkout)
                        {
                            @Html.TextBoxFor(m => shoppingCartItem.OrderComments, new { id = "orderComments" + (index - 1), @class = "form-control", placeholder = "Enter comments for the item ordered", style = "height: 43px; width: 95%;", onchange = "javascript: return orderComments_onchange(" + (index - 1) + ");" })
                        }
                        else
                        {
                            @Html.DisplayFor(m => shoppingCartItem.OrderComments)
                        }
                    </td>
                </tr>
            }
        }
    </table>
}
@{
    if (Model != null && Model.ShoppingCartSummaryItems != null && Model.ShoppingCartSummaryItems.Count != 0 && Model.ShoppingCartItems.Count != 0)
    {
        index = 0;
        //bool totalWeightFlag = true;
        <hr style="background-color: #000000; display: block; font-size: 18px; font-weight: bold; height: 1px;" />
        <table class="table table-striped">
            <tr>
                <th scope="col">
                    #.
                </th>
                <th scope="col">
                    Description
                </th>
                <th class="text-right" scope="col">
                    Amount
                </th>
            </tr>
            @foreach (var shoppingCartSummary in Model.ShoppingCartSummaryItems)
            {
                index++;
                <tr>
                    <th scope="row">@(index + ".")</th>
                    <td class="text-left">
                        @shoppingCartSummary.ItemShortDesc
                        @*if (totalWeightFlag)
                            {
                                totalWeightFlag = false;
                                <br />
                                <span>Total Weight: </span><span style="color: #000000; font-weight: bold;">@Model.ShoppingCartSummaryModel.TotalWeightCalc&nbsp;Grams</span>
                            }*@
                        @if (!string.IsNullOrWhiteSpace(shoppingCartSummary.OrderComments))
                        {
                            <br />
                            @shoppingCartSummary.OrderComments
                        }
                    </td>
                    <td class="text-right">@shoppingCartSummary.OrderAmount.Value.ToString(RetailSlnCache.CurrencyDecimalPlaces, RetailSlnCache.CurrencyCultureInfo).Replace(" ", "")</td>
                </tr>
                if (!Model.ShoppingCartSummaryModel.ShowDiscountsAdditionalCharges)
                {
                    break;
                }
            }
        </table>
    }
}
