@*using ArchitectureLibraryCacheData*@
@using RetailSlnCacheData
@using RetailSlnEnumerations
@using RetailSlnModels
@model PaymentInfoModel
@{
    int index = 0;
}
<table>
    <tr>
        @if (!Model.ShoppingCartModel.Checkout)
        {
            <th style="text-align: center;"></th>
        }
        <th style="text-align: center;">#</th>
        <th style="text-align: center;">Item#</th>
        <th style="text-align: left;">Item Desc</th>
        <th style="text-align: right;">Rate</th>
        <th style="text-align: right;">Qty</th>
        <th style="text-align: right;">Amount</th>
        @if (Model.OrderSummaryModel.InvoiceTypeId == InvoiceTypeEnum.FinalInvoice && Model.ShoppingCartModel.ShowDetail)
        {
            <th style="text-align: left;">Other</th>
        }
    </tr>
    @{
        foreach (var shoppingCartItem in Model.ShoppingCartModel.ShoppingCartItemModels)
        {
            index++;
            <tr>
                @if (!Model.ShoppingCartModel.Checkout)
                {
                    <td style="text-align: center;"><a href="javascript: void(0);" onclick="javascript: return removeFromCart_onclick(@(index - 1));"><img alt="" src="~/Images/Delete.jpg" title="Click to remove the item from shopping cart #@(index)" /></a></td>
                }
                <th style="text-align: center; vertical-align: top;">@(index + ".")</th>
                <td style="text-align: center; vertical-align: top;">
                    @shoppingCartItem.ItemId
                </td>
                <td style="text-align: left; vertical-align: top;">
                    @(shoppingCartItem.ItemMasterDesc0 + " " + shoppingCartItem.ItemMasterDesc1)
                    @if (!string.IsNullOrWhiteSpace(shoppingCartItem.ItemMasterDesc2 + " " + shoppingCartItem.ItemMasterDesc3))
                    {
                        <br style="clear: both;" />
                        <span style="color: #1d1d1d; font-family: Arial; font-size: 12px; font-style: normal; font-weight: 600;">@(shoppingCartItem.ItemMasterDesc2 + " " + shoppingCartItem.ItemMasterDesc3)</span>
                    }
                    @if (!string.IsNullOrWhiteSpace(shoppingCartItem.ItemItemSpecsForDisplay))
                    {
                        <br style="clear: both;" />
                        <span style="color: #000000; font-size: 11px; font-weight: bold;">@shoppingCartItem.ItemItemSpecsForDisplay</span>
                    }
                    <br />
                    @("HSN : " + shoppingCartItem.HSNCode)
                    <br />
                    @("Prod Code : " + shoppingCartItem.ProductCode)
                </td>
                <td style="text-align: right; vertical-align: top;">
                    @shoppingCartItem.ItemRate.Value.ToString(RetailSlnCache.CurrencyDecimalPlaces, RetailSlnCache.CurrencyCultureInfo).Replace(" ", "")
                </td>
                <td style="text-align: right; vertical-align: top;">
                    @shoppingCartItem.OrderQty
                </td>
                <td style="text-align: right; vertical-align: top;">
                    @shoppingCartItem.OrderAmountFormatted
                </td>
                @if (Model.OrderSummaryModel.InvoiceTypeId == InvoiceTypeEnum.FinalInvoice && Model.ShoppingCartModel.ShowDetail)
                {
                    <td style="text-align: left; vertical-align: top;">
                        <table>
                            <tr>
                                <th>Desc</th>
                                <th>Rate</th>
                                <th>Amt</th>
                            </tr>
                            @if (shoppingCartItem.ItemDiscountPercent > 0)
                            {
                                <tr>
                                    <td colspan="2" style="vertical-align: top;">
                                        MSRP<br />
                                        @shoppingCartItem.ItemRateBeforeDiscountFormatted
                                    </td>
                                    <td style="vertical-align: top;">
                                        Disc.<br />
                                        @shoppingCartItem.ItemDiscountPercentFormatted
                                    </td>
                                </tr>
                            }
                            @foreach (var shoppingCartItemSummary in shoppingCartItem.ShoppingCartItemSummarys)
                            {
                                <tr>
                                    <th style="vertical-align: top;">
                                        @shoppingCartItemSummary.ItemShortDesc
                                    </th>
                                    <th style="vertical-align: top;">
                                        @shoppingCartItemSummary.ItemRateFormatted
                                    </th>
                                    <th style="vertical-align: top;">
                                        @shoppingCartItemSummary.OrderAmountFormatted
                                    </th>
                                </tr>
                            }
                        </table>
                    </td>
                }
                @*<td style="text-align: right;">
                        @shoppingCartItem.OrderAmount.Value.ToString(RetailSlnCache.CurrencyDecimalPlaces, RetailSlnCache.CurrencyCultureInfo).Replace(" ", "")
                    </td>*@
                @*<td style="text-align: right;">
                        @shoppingCartItem.ItemRateBeforeDiscount.Value.ToString(RetailSlnCache.CurrencyDecimalPlaces, RetailSlnCache.CurrencyCultureInfo).Replace(" ", "")
                    </td>
                    <td style="text-align: right;">
                        @(shoppingCartItem.ItemDiscountPercent.Value.ToString("#0.00") + "%")
                    </td>*@
            </tr>
        }
    }
</table>
