@using ArchitectureLibraryCacheData
@using RetailSlnCacheData
@using RetailSlnModels
@model PaymentInfoModel
@{
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    var baseUrl = ArchLibCache.GetApplicationDefault(clientId, "BaseUrl", "");
    var imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
}
<table>
    <colgroup>
        <col style="width: 102px;" />
        <col style="width: 45%;" />
        <col style="width: 45%;" />
    </colgroup>
    <tr>
        <th style="text-align: left; vertical-align: top;">
            <img src="@baseUrl/ClientSpecific/@(clientId)_@(clientName)/Documents/Images/Image_000.webp" alt="@imageTitle" style="height: 97px; width: 97px;" title="@imageTitle" />
        </th>
        <th style="text-align: left; vertical-align: top;">
            <span style="color: #000000; font-size: 18px; font-weight: bold; letter-spacing: 5px; text-transform: uppercase;">@Model.OrderSummaryModel.InvoiceType</span>
            <br style="clear: both;" />
            @ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "Business", "NameOnInvoice")
            <br style="clear: both;" />
            @ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "AddressLine1", "")
            <br style="clear: both;" />
            @ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "AddressCityName", "")&nbsp;@ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "AddressStateAbbrev", "")&nbsp;@ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "AddressZipCode", "")&nbsp;@ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "AddressZipPlus4", "") @ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "AddressCountryName", "")
            @if (!string.IsNullOrWhiteSpace(ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "Business", "TaxIdentNumber")))
            {
                <br style="clear: both;" />
                @(ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "Business", "TaxIdentCaption") + " " + ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "Business", "TaxIdentNumber"))
            }
        </th>
        <th style="text-align: left; vertical-align: top;">
            Invoice# @Model.OrderSummaryModel.OrderHeaderId
            <br style="clear: both;" />
            Inv Date @DateTime.Parse(Model.OrderHeaderWIPModel.OrderDateTime).ToString("MMM-dd-yyyy")
            <br style="clear: both;" />
            <a href="mailto: @Model.OrderSummaryModel.EmailAddress" style="text-decoration: underline;">@Model.OrderSummaryModel.EmailAddress</a>
            <br style="clear: both;" />
            Prim. <a href="tel: @("+" + Model.DeliveryDataModel.PrimaryTelephoneTelephoneCode + " " + Model.DeliveryDataModel.PrimaryTelephoneNum)" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">@("+" + Model.DeliveryDataModel.PrimaryTelephoneTelephoneCode + " " + Model.DeliveryDataModel.PrimaryTelephoneNum)</a>
            <br style="clear: both;" />
            Alt.
            @if (!string.IsNullOrWhiteSpace(Model.DeliveryDataModel.AlternateTelephoneNum))
            {
                <a href="tel: @("+" + Model.DeliveryDataModel.AlternateTelephoneTelephoneCode + " " + Model.DeliveryDataModel.AlternateTelephoneNum)" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">@("+" + Model.DeliveryDataModel.AlternateTelephoneTelephoneCode + " " + Model.DeliveryDataModel.AlternateTelephoneNum)</a>
            }
        </th>
    </tr>
    <tr style="background-color: #ffffff;">
        <th></th>
        <th style="vertical-align: top;">
            <a href="tel: @ArchLibCache.GetApplicationDefault(clientId, "ContactPhoneHref", "")" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">@ArchLibCache.GetApplicationDefault(clientId, "ContactPhoneFormatted", "")</a>&nbsp;<img src="@baseUrl/Images/Phone1_Small.png" />
            <br style="clear: both;" />
            <a href="sms: @ArchLibCache.GetApplicationDefault(clientId, "ContactTextPhoneHref", "")" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">@ArchLibCache.GetApplicationDefault(clientId, "ContactTextPhoneFormatted", "")</a>&nbsp;<img src="@baseUrl/Images/SMSIcon3_Small.png" />
            <br style="clear: both;" />
            <a style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank" href="https://api.whatsapp.com/send?phone=@(ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "ContactWhatsAppPhone", ""))">@ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "ContactWhatsAppPhoneFormatted", "")</a>&nbsp;<img src="@baseUrl/Images/WhatsApp1_Small.png" />
            <br style="clear: both;" />
            <br style="clear: both;" />
            @Model.PaymentModeModel.PaymentModeDesc
            <br style="clear: both;" />
            @Model.DeliveryMethodModel.DeliveryMethodDesc
            @{
                if (Model.DeliveryMethodModel.PickupLocationId != null && Model.DeliveryMethodModel.PickupLocationId > 0)
                {
                    var pickupLocationModel = RetailSlnCache.PickupLocationModels.First(x => x.PickupLocationId == Model.DeliveryMethodModel.PickupLocationId);
                    var demogInfoAddressModel = Model.DeliveryMethodModel.PickupLocationDemogInfoAddressModels.First(x => x.DemogInfoAddressId == pickupLocationModel.LocationDemogInfoAddressId);
                    <br style="clear: both;" />
                    @demogInfoAddressModel.AddressLine1
                    if (!string.IsNullOrWhiteSpace(demogInfoAddressModel.AddressLine2))
                    {
                        <br style="clear: both;" />
                        @demogInfoAddressModel.AddressLine2
                    }
                    <br style="clear: both;" />
                    @(demogInfoAddressModel.CityName + " " + demogInfoAddressModel.StateAbbrev + " " + demogInfoAddressModel.ZipCode)
                }
            }
        </th>
        <th style="vertical-align: top;">
            @Model.OrderSummaryModel.UserFullName
            <br style="clear: both;" />
            @if (!string.IsNullOrWhiteSpace(Model.DeliveryAddressModel.AddressName))
            {
                @Html.DisplayFor(m => m.DeliveryAddressModel.AddressName)
                <br />
            }
            @(Model.DeliveryDataModel.DeliveryAddressModel.AddressLine1 + " " + (Model.DeliveryDataModel.DeliveryAddressModel.BuildingTypeId == ArchitectureLibraryEnumerations.BuildingTypeEnum._ ? "" : Model.DeliveryDataModel.DeliveryAddressModel.BuildingTypeId) + " " + Model.DeliveryDataModel.DeliveryAddressModel.HouseNumber)
            @if (!string.IsNullOrWhiteSpace(Model.DeliveryDataModel.DeliveryAddressModel.AddressLine2))
            {
                <br style="clear: both;" />
                @Model.DeliveryDataModel.DeliveryAddressModel.AddressLine2
            }
            <br style="clear: both;" />
            @(Model.DeliveryDataModel.DeliveryAddressModel.CityName + " " + Model.DeliveryDataModel.DeliveryAddressModel.StateAbbrev + " " + Model.DeliveryDataModel.DeliveryAddressModel.ZipCode)
            <br style="clear: both;" />
            @(Model.DeliveryDataModel.DeliveryAddressModel.CountryDesc + " - " + Model.DeliveryDataModel.DeliveryAddressModel.CountryAbbrev)
            @if (!string.IsNullOrWhiteSpace(Model.OrderSummaryModel.CorpAcctModel.TaxIdentNum))
            {
                <br style="clear: both;" />
                @(ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "Business", "TaxIdentCaption") + " " + Model.OrderSummaryModel.CorpAcctModel.TaxIdentNum)
            }
            @if (!string.IsNullOrWhiteSpace(Model.PaymentDataModel.PaymentRefNumData1))
            {
                <br style="clear: both;" />
                @(Model.PaymentDataModel.PaymentRefNumCaption1 + " " + Model.PaymentDataModel.PaymentRefNumData1)
            }
            @if (!string.IsNullOrWhiteSpace(Model.PaymentDataModel.PaymentRefNumData2))
            {
                <br style="clear: both;" />
                @(Model.PaymentDataModel.PaymentRefNumCaption2 + " " + Model.PaymentDataModel.PaymentRefNumData2)
            }
        </th>
    </tr>
</table>
