@using ArchitectureLibraryCacheData
@model ArchitectureLibraryModels.UpdatePasswordModel
<style>
    #EmailAddress-error, #ConfirmEmailAddress-error, #OTPCode-error, #LoginPassword-error, #ConfirmLoginPassword-error,
    #CaptchaAnswer-error, #FirstName-error, #LastName-error, #DemogInfoAddressModel_AddressLine1-error,
    #DemogInfoAddressModel_AddressLine2-error, #DemogInfoAddressModel_CityName-error,
    #DemogInfoAddressModel_DemogInfoSubDivisionId-error, #DemogInfoAddressModel_ZipCode-error {
        color: #ff0000;
        display: block;
        font-size: 14px;
        font-weight: bold;
    }
</style>
@{
    bool mobileDevice = Request.Browser.IsMobileDevice;
    var codeDataModels = LookupCache.GetCodeDatasForCodeTypeNameDescByCodeDataNameId("OTPSendType", "");
    @Html.HiddenFor(m => m.OTPExpiryDateTime)
    if (Model != null && Model.ResponseObjectModel != null && !string.IsNullOrWhiteSpace(Model.ResponseObjectModel.ValidationSummaryMessage))
    {
        <div class="row validationSummaryMessage">
            @Model.ResponseObjectModel.ValidationSummaryMessage
        </div>
    }
    if (!ViewData.ModelState.IsValid)
    {
        <div class="row" style="margin-left: auto; margin-right: auto; padding: 5px;">
            @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(false, "", new { @class = "validationSummaryErrors", style = "-webkit-column-count: 3; -moz-column-count: 3; column-count: 3; font-size: 12px; text-align: left;" }).ToHtmlString()))
        </div>
    }
    if (Model != null && Model.ResponseObjectModel != null)
    {
        <div class="row" id="divUpdatePasswordResponseObject">
            @Html.Partial("_ResponseObject", Model.ResponseObjectModel)
        </div>
    }
}
<div class="row" style="text-align: left;">
    <label class="radio-inline" style="font-weight: bold;">
        <input checked="checked" id="OTPSendTypeId0" name="OTPSendTypeId" type="radio" value="@codeDataModels[0].CodeDataNameId">@codeDataModels[0].CodeDataDesc0
    </label>
    @for (int i = 1; i < codeDataModels.Count; i++)
    {
        <label class="radio-inline" style="font-weight: bold;">
            <input disabled="disabled" id="OTPSendTypeId@(i)" name="OTPSendTypeId" type="radio" value="@codeDataModels[i].CodeDataNameId">@codeDataModels[i].CodeDataDesc0
        </label>
    }
    <button class="btn btn-primary" id="getNewOTP" onclick="javascript: return getNewOTP_onclick();" style="font-weight: bold; letter-spacing: 4px; text-transform: uppercase;" type="button">get&nbsp;new&nbsp;otp</button>
    @Html.Raw(HttpUtility.HtmlDecode("<br />" + Html.ValidationMessageFor(m => m.OTPSendTypeId, "", new { id = "OTPSendTypeId-error" }).ToHtmlString()))
</div>
<div class="row" style="text-align: left;">
    @Html.LabelFor(m => m.OTPCode)&nbsp;<span style="color: #0000ff; font-weight: bold;">(Required)</span> Expires <span id="OTPExpiryTime" style="color: #000000; font-size: 18px; font-weight: bold;">@DateTime.Parse(Model.OTPExpiryDateTime).ToString("h:mmtt").ToLower()</span>
    @Html.TextBoxFor(m => m.OTPCode, new { @class = "form-control validate", placeholder = "Enter " + @Html.DisplayNameFor(m => m.OTPCode), style = "width: 90%;" })
    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.OTPCode, "", new { id = "OTPCode-error" }).ToHtmlString()))
</div>
<div class="row" style="text-align: left;">
    @Html.LabelFor(m => m.LoginPassword, new { @class = "col-form-label" })&nbsp;<span style="color: #0000ff; font-weight: bold;">(Required)</span>
    <div>
        @Html.TextBoxFor(m => m.LoginPassword, new { @class = "form-control validate", onblur = "javascript: return loginPassword_onblur();", oninput = "javascript: return loginPassword_oninput();", placeholder = "Enter " + @Html.DisplayNameFor(m => m.LoginPassword), style = "float: left; width: 76%;", @type = "password" })
        <span style="width: 18px;">&nbsp;</span>
        <button class="btn btn-primary" id="btnLoginPassword" onmouseout="javascript: return showHideForHide('LoginPassword', 'password');" onmouseover="javascript: return showHideForShow('LoginPassword', 'text');" type="button" style="width: 50px;">
            <span class="fa fa-eye-slash icon"></span>
        </button>
    </div>
    @*<div id="divPasswordStrength" style="display: none;">*@
    @if (mobileDevice)
    {
        <br style="clear: both;" />
    }
    <span style="color: #a54000; float: left; font-size: 12px; font-weight: bold; ">Len</span>
    <i class="fa fa-remove" id="passwordStrengthRemove0" style="color: #ff0000; float: left; font-weight: bold; padding-left: 3px; padding-right: 5px;"></i>
    <i class="fa fa-check" id="passwordStrengthCheck0" style="color: #00d000; float: left; font-weight: bold; padding-left: 3px; padding-right: 5px;"></i>
    <span style="color: #a54000; float: left; font-size: 12px; float: left; font-weight: bold; ">Upp Case</span>
    <i class="fa fa-remove" id="passwordStrengthRemove1" style="color: #ff0000; float: left; font-weight: bold; padding-left: 3px; padding-right: 5px;"></i>
    <i class="fa fa-check" id="passwordStrengthCheck1" style="color: #00d000; float: left; font-weight: bold; padding-left: 3px; padding-right: 5px;"></i>
    <span style="color: #a54000; float: left; font-size: 12px; float: left; font-weight: bold; ">Low Case</span>
    <i class="fa fa-remove" id="passwordStrengthRemove2" style="color: #ff0000; float: left; font-weight: bold; padding-left: 3px; padding-right: 5px;"></i>
    <i class="fa fa-check" id="passwordStrengthCheck2" style="color: #00d000; float: left; font-weight: bold; padding-left: 3px; padding-right: 5px;"></i>
    <span style="color: #a54000; float: left; font-size: 12px; float: left; font-weight: bold; ">Number</span>
    <i class="fa fa-remove" id="passwordStrengthRemove3" style="color: #ff0000; float: left; font-weight: bold; padding-left: 3px; padding-right: 5px;"></i>
    <i class="fa fa-check" id="passwordStrengthCheck3" style="color: #00d000; float: left; font-weight: bold; padding-left: 3px; padding-right: 5px;"></i>
    <span style="color: #a54000; float: left; font-size: 12px; float: left; font-weight: bold; ">Spl Char</span>
    <i class="fa fa-remove" id="passwordStrengthRemove4" style="color: #ff0000; float: left; font-weight: bold; padding-left: 3px;"></i>
    <i class="fa fa-check" id="passwordStrengthCheck4" style="color: #00d000; float: left; font-weight: bold; padding-left: 5px;"></i>
    @*</div>*@
    @if (mobileDevice)
    {
        <br style="clear: both;" />
    }
    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.LoginPassword, "", new { id = "LoginPassword-error" }).ToHtmlString()))
</div>
<div class="row" style="text-align: left;">
    @Html.LabelFor(m => m.ConfirmLoginPassword, new { @class = "col-form-label" })&nbsp;<span style="color: #0000ff; font-weight: bold;">(Required)</span>
    <div>
        @Html.TextBoxFor(m => m.ConfirmLoginPassword, new { @class = "form-control validate", oncopy = "javascript: return false;", oncut = "javascript: return false;", ondrag = "javascript: return false;", ondrop = "javascript: return false;", onpaste = "javascript: return false;", onselectstart = "javascript: return false;", placeholder = "Enter " + @Html.DisplayNameFor(m => m.ConfirmLoginPassword), style = "float: left; width: 76%;", @type = "password" })
        <span style="width: 18px;">&nbsp;</span>
        <button class="btn btn-primary" id="btnConfirmLoginPassword" onmouseout="javascript: return showHideForHide('ConfirmLoginPassword', 'password');" onmouseover="javascript: return showHideForShow('ConfirmLoginPassword', 'text');" type="button" style="width: 50px;">
            <span class="fa fa-eye-slash icon"></span>
        </button>
    </div>
    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.ConfirmLoginPassword, "", new { id = "ConfirmLoginPassword-error" }).ToHtmlString()))
</div>
<div class="row" style="text-align: left;">
    @Html.LabelFor(m => m.FirstName, new { @class = "col-form-label" })<span style="color: #0000ff; font-weight: bold;">? (Required)</span>
    @Html.TextBoxFor(m => m.FirstName, null, new { @class = "form-control", placeholder = "First Name", style = "width: 90%;" })
    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.FirstName, "", new { id = "FirstName-error" }).ToHtmlString()))
</div>
<div class="row" style="text-align: left;">
    @Html.LabelFor(m => m.LastName, new { @class = "col-form-label" })<span style="color: #0000ff; font-weight: bold;">? (Required)</span>
    @Html.TextBoxFor(m => m.LastName, null, new { @class = "form-control", placeholder = "Last Name", style = "width: 90%;" })
    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.LastName, "", new { id = "LastName-error" }).ToHtmlString()))
</div>
<div class="row" style="text-align: left;">
    @Html.LabelFor(m => m.EmailAddress, new { @class = "col-form-label" })@*&nbsp;<span style="color: #0000ff; font-weight: bold;">(Required)</span>*@
    @Html.HiddenFor(m => m.EmailAddress)
    @Html.DisplayFor(m => m.EmailAddress, new { @class = "col-form-label", style = "width: 90%;" })
</div>
<div class="row" style="text-align: left;">
    @Html.LabelFor(m => m.TelephoneNumber, new { @class = "col-form-label" })@*&nbsp;<span style="color: #0000ff; font-weight: bold;">(Required)</span>*@
    @Html.HiddenFor(m => m.TelephoneCountryId)
    @Html.HiddenFor(m => m.TelephoneNumber)
    <span class="col-form-label" style="color: #000000;">@("+" + Model.TelephoneDemogInfoCountryModel.TelephoneCode + " " + Model.TelephoneNumber)</span>
</div>
