@using ArchitectureLibraryCacheData
@{
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
}
<style>
    /*.starchecked {
            color: #ff9900;
        }

        .badge {
            padding-left: 9px;
            padding-right: 9px;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            border-radius: 9px;
        }

        .label-warning[href],
        .badge-warning[href] {
            background-color: #c67605;
        }*/

    .headfirst {
        background-color: black;
        color: white;
    }

    .hphone {
        color: #e8ac1f;
    }

    .footer {
        color: white;
        background-color: #464646;
    }

    .footerbelow {
        text-align: center;
        background-color: black;
        color: white;
    }
</style>
<section id="header" class="headfirst">
    <div class="container" style="margin-left: auto; margin-right: auto;">
        <div class="row">
            <div style="padding-top: 5px; padding-left: 18px;" class="col-md-4">
                <h5 style="font-size: 12px; font-weight: bold;">
                    <span style="font-size: 11px;">@ArchLibCache.GetApplicationDefault(clientId, "BusinessTiming", "")</span>
                </h5>
            </div>
            <div style="padding-top: 5px;" class="col-md-2">
                <h5 style="font-size: 12px; font-weight: bold;">
                    <span style="color: #ffffff;">Call </span>
                    <a href="tel:@long.Parse(ArchLibCache.GetApplicationDefault(clientId, "ContactPhone", "")).ToString("1-###-###-####")" style="color: #ffffff; text-decoration: underline;" alt="@ArchLibCache.GetApplicationDefault(clientId, "BusinessName", "")" title="@ArchLibCache.GetApplicationDefault(clientId, "BusinessName", "")">
                        @long.Parse(ArchLibCache.GetApplicationDefault(clientId, "ContactPhone", "")).ToString("(###) ###-####")
                    </a>
                    <i style="color: #ffffff; font-weight: bold;" class="fa fa-phone"></i>
                </h5>
            </div>
            <div style="padding-top: 5px;" class="col-md-2">
                <h5 style="font-size: 12px; font-weight: bold;"><span style="color: #ffffff;">Text </span><a href="sms:@long.Parse(ArchLibCache.GetApplicationDefault(clientId, "ContactTextPhone", "")).ToString("1-###-###-####")" style="color: #ffffff; text-decoration: underline;" alt="@ArchLibCache.GetApplicationDefault(clientId, "BusinessName", "")" title="@ArchLibCache.GetApplicationDefault(clientId, "BusinessName", "")">@long.Parse(ArchLibCache.GetApplicationDefault(clientId, "ContactTextPhone", "")).ToString("(###) ###-####")</a><img src="~/Images/Comments.png" style="padding-left: 3px; width: 18px; height: 18px;" /></h5>
            </div>
            <div style="padding-top: 5px; vertical-align: top;" class="col-md-4">
                <h5 style="font-size: 12px; font-weight: bold;">
                    <a href="@Url.Action("ContactUs", "Home")" style="color: #ffffff; text-decoration: underline;" alt="@ArchLibCache.GetApplicationDefault(clientId, "BusinessName", "")" title="@ArchLibCache.GetApplicationDefault(clientId, "BusinessName", "")">
                        @ArchLibCache.GetApplicationDefault(clientId, "FromEmailAddress", "")
                    </a>
                    <i style="color: darkgray; font-size: 12px;" class="fa fa-envelope"></i>
                    <i style="color: darkgray; font-size: 14px; padding-left: 27px; padding-right: 5px;" class="fa fa-facebook"></i>
                    <i style="color:darkgray; font-size: 14px; padding-right: 5px;" class="fa fa-google-plus"></i>
                    <i style="color: darkgray; font-size: 14px;" class="fa fa-twitter"></i>
                </h5>
            </div>
        </div>
    </div>
</section>
<div style="margin-left: auto; margin-right: auto;">
    <a href="@Url.Action("Index", "Home")" alt="@ArchLibCache.GetApplicationDefault(clientId, "BusinessName", "")" title="@ArchLibCache.GetApplicationDefault(clientId, "BusinessName", "")"><img class="img-responsive" src="~/ClientSpecific/@(clientId)_@clientName/Documents/Images/Image_000.webp" alt="@ArchLibCache.GetApplicationDefault(clientId, "BusinessName", "") | @ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "")" title="@ArchLibCache.GetApplicationDefault(clientId, "BusinessName", "") | @ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "")" style="display: block; margin: auto; height: auto; max-width: 855px; width: 100%;" /></a>
</div>
