@using ArchitectureLibraryCacheData
@{
    var clientId = ArchLibCache.ClientId;
}
<div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">
        <span style="color: #000000; font-family: 'Times New Roman', Roboto, Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 600; text-align: left;">
            @ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "")
        </span>
        <br style="clear: both;" />
        <span style="color: #000000; font-family: 'Times New Roman', Roboto, Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 600; text-align: left;">
            @ArchLibCache.GetApplicationDefault(clientId, "AddressLine1", "")
        </span>
        <br style="clear: both;" />
        <span style="color: #000000; font-family: 'Times New Roman', Roboto, Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 600; text-align: left;">
            @ArchLibCache.GetApplicationDefault(clientId, "AddressLine1A", "")
        </span>
        <br style="clear: both;" />
        <span style="color: #000000; font-family: 'Times New Roman', Roboto, Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 600; text-align: left;">
            @ArchLibCache.GetApplicationDefault(clientId, "AddressLine2", "")
        </span>
        <br style="clear: both;" />
        <span style="color: #000000; font-family: 'Times New Roman', Roboto, Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 600; text-align: left;">
            @ArchLibCache.GetApplicationDefault(clientId, "AddressCityName", ""), @ArchLibCache.GetApplicationDefault(clientId, "AddressStateAbbrev", "") @ArchLibCache.GetApplicationDefault(clientId, "AddressZipCode", "")
        </span>
        <br style="clear: both;" />
        <a href="@Url.Action("ContactUs", "Home")" style="color: #0000ff; font-family: Robot, sans-serif; font-size: 14px; font-weight: bold; text-decoration: underline;">
            @ArchLibCache.GetApplicationDefault(clientId, "BusinessEmail", "")
        </a>
    </div>
</div>
