@model RetailSlnModels.DeliveryInfoDataModel
<table style="border-collapse: collapse; border-color: #000000; border-style: none; border-width: 1px; padding: 5px;">
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: none; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; font-weight: bold; padding: 5px; text-align: left; vertical-align: top; white-space: nowrap;">
            Delivery Address
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: none; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: left; vertical-align: top; white-space: nowrap;">
            @if (Model.CreateDeliveryAddress)
            {
                @(Model.DeliveryAddressModel.AddressLine1 + " " + (Model.DeliveryAddressModel.BuildingTypeId == ArchitectureLibraryEnumerations.BuildingTypeEnum._ ? "" : Model.DeliveryAddressModel.BuildingTypeId) + " " + Model.DeliveryAddressModel.HouseNumber)
                if (!string.IsNullOrWhiteSpace(Model.DeliveryAddressModel.AddressLine2))
                {
                    <br />
                    @Model.DeliveryAddressModel.AddressLine2
                }
                <br />
                @Model.DeliveryAddressModel.CityName
                <br />
                @(Model.DeliveryAddressModel.StateAbbrev + " " + Model.DeliveryAddressModel.ZipCode)
                <br />
                @(Model.DeliveryAddressModel.CountryDesc + " - " + Model.DeliveryAddressModel.CountryAbbrev)
            }
        </td>
    </tr>
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: none; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; font-weight: bold; padding: 5px; text-align: left; vertical-align: top; white-space: nowrap;">
            Primary Telpehone#
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: none; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: left; vertical-align: top; white-space: nowrap;">
            <a href="tel: @("+" + Model.PrimaryTelephoneTelephoneCode + " " + Model.PrimaryTelephoneNum)" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">@("+" + Model.PrimaryTelephoneTelephoneCode + " " + Model.PrimaryTelephoneNum)</a>
        </td>
    </tr>
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: none; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; font-weight: bold; padding: 5px; text-align: left; vertical-align: top; white-space: nowrap;">
            Alternate Telpehone#
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: none; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: left; vertical-align: top; white-space: nowrap;">
            <a href="tel: @("+" + Model.AlternateTelephoneTelephoneCode + " " + Model.AlternateTelephoneNum)" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">@("+" + Model.AlternateTelephoneTelephoneCode + " " + Model.AlternateTelephoneNum)</a>
        </td>
    </tr>
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: none; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; font-weight: bold; padding: 5px; text-align: left; vertical-align: top; white-space: nowrap;">
            Delivery Instructions
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: none; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: left; vertical-align: top; white-space: nowrap;">
            @Html.Raw(Model.DeliveryInstructions?.Replace("\n", "<br />"))
        </td>
    </tr>
</table>

