@using ArchitectureLibraryCacheData
@{
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    var imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
}
@Html.Partial("_Carousel2")
<table style="margin: auto; padding: 5px; text-align: center; width: 90%;">
    <tr>
        <td style="padding: 5px; text-align: right;">
            <a href="https://www.bppe.ca.gov/" target="_blank">
                <img alt="CA Bureau for Private Postsecondary Education" src="~/Images/CA_BPPE.webp" title="CA BPPE - Bureau for Private Postsecondary Education">
            </a>
        </td>
        <td style="padding: 5px; text-align: left;">
            <p style="color: #000000; font-family: Roboto, Arial, Tahoma, sans-serif; font-size: 14px; font-style: normal; font-weight: 400; text-align: center; width: 100%;">
                <a href="@Url.Action("Index", "Home")" alt="@imageTitle" title="@imageTitle" style="font-weight: bold; text-decoration: underline;">@ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "")</a> has a several grant programs exist that you may qualify for, many state and local agencies such as the Workforce Investment Act (WIA), Department of Rehabilitation (DOR), Employment Development Department (EDD), NUMMI, TAA and One Career Stop Centers. @ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "") does not offer Federal financial aid at this time.
            </p>
        </td>
    </tr>
</table>
<br style="clear: both;" />
<div style="margin-left: auto; margin-right: auto; text-align: center; width: 100%;">
    <table style="margin-left: auto; margin-right: auto; padding: 5px;">
        <tr>
            <td style="text-align: center; padding: 5px; vertical-align:top; width: 279px;">
                <img alt="@imageTitle" class="img-responsive" src="~/ClientSpecific/@(clientId)_@clientName/Documents/Images/Slide11.webp" style="height: auto; max-width: 279px; width: 100%;" title="@imageTitle" />
                <div style="background-color: #ff9966; color: #ffffff; font-family: Lato, Arial, Tahoma, sans-serif; font-size: 20px; font-style: normal; font-weight: 300;">
                    <a href="@Url.Action("AboutUs", "Home")" style="background-color: #ff9966; color: #ffffff; font-family: Lato, Arial, Tahoma, sans-serif; font-size: 20px; font-style: normal; font-weight: 900; text-decoration: underline;">READ MORE</a>
                </div>
            </td>
            <td style="text-align: center; padding: 5px; vertical-align:top; width: 279px;">
                <img alt="@imageTitle" class="img-responsive" src="~/ClientSpecific/@(clientId)_@clientName/Documents/Images/Slide12.webp" style="height: auto; max-width: 279px; width: 100%;" title="@imageTitle" />
                <div style="background-color: #ff9966; color: #ffffff; font-family: Lato, Arial, Tahoma, sans-serif; font-size: 20px; font-style: normal; font-weight: 300;">
                    <a href="@Url.Action("RegisterUserLoginUser", "Home")" style="background-color: #ff9966; color: #ffffff; font-family: Lato, Arial, Tahoma, sans-serif; font-size: 20px; font-style: normal; font-weight: 900; text-decoration: underline;">READ MORE</a>
                </div>
            </td>
            <td style="text-align: center; padding: 5px; vertical-align:top; width: 279px;">
                <img alt="@imageTitle" class="img-responsive" src="~/ClientSpecific/@(clientId)_@clientName/Documents/Images/Slide13.webp" style="height: auto; max-width: 279px; width: 100%;" title="@imageTitle" />
                <div style="background-color: #ff9966; color: #ffffff; font-family: Lato, Arial, Tahoma, sans-serif; font-size: 20px; font-style: normal; font-weight: 300;">
                    <a href="@Url.Action("Tuition", "Home")" style="background-color: #ff9966; color: #ffffff; font-family: Lato, Arial, Tahoma, sans-serif; font-size: 20px; font-style: normal; font-weight: 900; text-decoration: underline;">READ MORE</a>
                </div>
            </td>
            <td style="text-align: center; padding: 5px; vertical-align:top; width: 279px;">
                <img alt="@imageTitle" class="img-responsive" src="~/ClientSpecific/@(clientId)_@clientName/Documents/Images/Slide14.webp" style="height: auto; max-width: 279px; width: 100%;" title="@imageTitle" />
                <div style="background-color: #ff9966; color: #ffffff; font-family: Lato, Arial, Tahoma, sans-serif; font-size: 20px; font-style: normal; font-weight: 300;">
                    <a href="@Url.Action("RegisterUserLoginUser", "Home")" style="background-color: #ff9966; color: #ffffff; font-family: Lato, Arial, Tahoma, sans-serif; font-size: 20px; font-style: normal; font-weight: 900; text-decoration: underline;">READ MORE</a>
                </div>
            </td>
        </tr>
    </table>
</div>
<table style="margin: auto; padding: 5px; text-align: center; width: 80%;">
    <tr>
        <td style="padding: 5px; text-align: left;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12640.855267345!2d-122.098874!3d37.620658!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x862d95ba287e651!2sA-1+Truck+Driving+School+Inc!5e0!3m2!1sen!2sus!4v1430349027356" frameborder="0" style="border: 0px; pointer-events: none; height: 280px; width: 100%;"></iframe>
        </td>
    </tr>
</table>
<script type="text/javascript">
    var carouselIndex = 0;
    displayCarousel();
    setInterval(displayCarousel, 4500);
    function displayCarousel(carouselIndexParm) {
        if (carouselIndexParm === undefined) {
            ;
        }
        else {
            carouselIndex = carouselIndexParm;
        }
        for (var i = 0; i < 4; i++) {
            document.getElementById("divCarousel" + i).style.display = "none";
            document.getElementById("carouselText" + i).style.display = "none";
        }
        document.getElementById("divCarousel" + carouselIndex).style.display = "block";
        document.getElementById("carouselText" + carouselIndex).style.display = "block";
        carouselIndex++;
        if (carouselIndex == 4) {
            carouselIndex = 0;
        }
    }
</script>
