@model PaymentInfo1Model
@using ArchitectureLibraryCacheData
@using ArchitectureLibraryModels
@using RetailSlnCacheData
@using RetailSlnEnumerations
@using RetailSlnModels
@{
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    var baseUrl = ArchLibCache.GetApplicationDefault(clientId, "BaseUrl", "");
    var imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
}
<style>
    @@font-face {
        font-family: 'Freestyle Script Regular';
        font-style: normal;
        font-weight: normal;
        src: local('Freestyle Script Regular'), url('../fonts/FREESCPT.woff') format('woff');
    }

    @@font-face {
        font-family: 'Mistral';
        font-style: normal;
        font-weight: normal;
        src: local('Mistral'), url('../fonts/MISTRAL.woff') format('woff');
    }
</style>
<table style="padding: 5px; width: 100%;">
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid;  border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: left; vertical-align: top; width: 108px;">
            <img src="@baseUrl/ClientSpecific/@(clientId)_@(clientName)/Documents/Images/Image_000.webp" alt="@imageTitle" style="height: 97px; width: 97px;" title="@imageTitle" />
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid;  border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: left; vertical-align: top;">
            <span style="color: #000000; font-size: 18px; font-weight: bold; letter-spacing: 5px; text-transform: uppercase;">@Model.OrderSummaryModel.InvoiceType</span>
            <br style="clear: both;" />
            @ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "Business", "NameOnInvoice")
            <br style="clear: both;" />
            @ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "AddressLine1", "")
            <br style="clear: both;" />
            @ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "AddressCityName", "")&nbsp;@ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "AddressStateAbbrev", "")&nbsp;@ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "AddressZipCode", "")&nbsp;@ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "AddressZipPlus4", "") @ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "AddressCountryName", "")
            @if (!string.IsNullOrWhiteSpace(ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "Business", "TaxIdentNumber")))
            {
                <br style="clear: both;" />
                @(ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "Business", "TaxIdentCaption") + " " + ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "Business", "TaxIdentNumber"))
            }
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid;  border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: left; vertical-align: top;">
            Invoice# @Model.OrderSummaryModel.OrderHeaderId
            <br style="clear: both;" />
            Inv Date @DateTime.Parse(Model.OrderSummaryModel.OrderDateTime).ToString("MMM-dd-yyyy")
            <br style="clear: both;" />
            <a href="mailto: @Model.OrderSummaryModel.EmailAddress" style="text-decoration: underline;">@Model.OrderSummaryModel.EmailAddress</a>
            <br style="clear: both;" />
            Prim. <a href="tel: @("+" + Model.DeliveryDataModel.PrimaryTelephoneTelephoneCode + " " + Model.DeliveryDataModel.PrimaryTelephoneNum)" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">@("+" + Model.DeliveryDataModel.PrimaryTelephoneTelephoneCode + " " + Model.DeliveryDataModel.PrimaryTelephoneNum)</a>
            <br style="clear: both;" />
            Alt.
            @if (!string.IsNullOrWhiteSpace(Model.DeliveryDataModel.AlternateTelephoneNum))
            {
                <a href="tel: @("+" + Model.DeliveryDataModel.AlternateTelephoneTelephoneCode + " " + Model.DeliveryDataModel.AlternateTelephoneNum)" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">@("+" + Model.DeliveryDataModel.AlternateTelephoneTelephoneCode + " " + Model.DeliveryDataModel.AlternateTelephoneNum)</a>
            }
        </td>
    </tr>
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid;  border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: left; vertical-align: top; width: 108px;">
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: left; vertical-align: top;">
            <a href="tel: @ArchLibCache.GetApplicationDefault(clientId, "ContactPhoneHref", "")" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">@ArchLibCache.GetApplicationDefault(clientId, "ContactPhoneFormatted", "")</a>&nbsp;<img src="@baseUrl/Images/Phone1_Small.png" />
            <br style="clear: both;" />
            <a href="sms: @ArchLibCache.GetApplicationDefault(clientId, "ContactTextPhoneHref", "")" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">@ArchLibCache.GetApplicationDefault(clientId, "ContactTextPhoneFormatted", "")</a>&nbsp;<img src="@baseUrl/Images/SMSIcon3_Small.png" />
            <br style="clear: both;" />
            <a style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank" href="https://api.whatsapp.com/send?phone=@(ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "ContactWhatsAppPhone", ""))">@ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "ContactWhatsAppPhoneFormatted", "")</a>&nbsp;<img src="@baseUrl/Images/WhatsApp1_Small.png" />
            <br style="clear: both;" />
            <br style="clear: both;" />
            @Model.PaymentModeModel.PaymentModeDesc
            <br style="clear: both;" />
            @Model.DeliveryMethodModel.DeliveryMethodDesc
            @{
                if (Model.DeliveryMethodModel.PickupLocationId != null && Model.DeliveryMethodModel.PickupLocationId > 0)
                {
                    var pickupLocationModel = RetailSlnCache.PickupLocationModels.First(x => x.PickupLocationId == Model.DeliveryMethodModel.PickupLocationId);
                    var demogInfoAddressModel = Model.DeliveryMethodModel.PickupLocationDemogInfoAddressModels.First(x => x.DemogInfoAddressId == pickupLocationModel.LocationDemogInfoAddressId);
                    <br style="clear: both;" />
                    @demogInfoAddressModel.AddressLine1
                    if (!string.IsNullOrWhiteSpace(demogInfoAddressModel.AddressLine2))
                    {
                        <br style="clear: both;" />
                        @demogInfoAddressModel.AddressLine2
                    }
                    <br style="clear: both;" />
                    @(demogInfoAddressModel.CityName + " " + demogInfoAddressModel.StateAbbrev + " " + demogInfoAddressModel.ZipCode)
                }
            }
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: left; vertical-align: top;">
            @Model.OrderSummaryModel.UserFullName
            <br style="clear: both;" />
            @if (!string.IsNullOrWhiteSpace(Model.DeliveryAddressModel.AddressName))
            {
                @Html.DisplayFor(m => m.DeliveryAddressModel.AddressName)
                <br />
            }
            @(Model.DeliveryDataModel.DeliveryAddressModel.AddressLine1 + " " + (Model.DeliveryDataModel.DeliveryAddressModel.BuildingTypeId == ArchitectureLibraryEnumerations.BuildingTypeEnum._ ? "" : Model.DeliveryDataModel.DeliveryAddressModel.BuildingTypeId) + " " + Model.DeliveryDataModel.DeliveryAddressModel.HouseNumber)
            @if (!string.IsNullOrWhiteSpace(Model.DeliveryDataModel.DeliveryAddressModel.AddressLine2))
            {
                <br style="clear: both;" />
                @Model.DeliveryDataModel.DeliveryAddressModel.AddressLine2
            }
            <br style="clear: both;" />
            @(Model.DeliveryDataModel.DeliveryAddressModel.CityName + " " + Model.DeliveryDataModel.DeliveryAddressModel.StateAbbrev + " " + Model.DeliveryDataModel.DeliveryAddressModel.ZipCode)
            <br style="clear: both;" />
            @(Model.DeliveryDataModel.DeliveryAddressModel.CountryDesc + " - " + Model.DeliveryDataModel.DeliveryAddressModel.CountryAbbrev)
            @if (!string.IsNullOrWhiteSpace(Model.OrderSummaryModel.CorpAcctModel.TaxIdentNum))
            {
                <br style="clear: both;" />
                @(ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "Business", "TaxIdentCaption") + " " + Model.OrderSummaryModel.CorpAcctModel.TaxIdentNum)
            }
            @if (!string.IsNullOrWhiteSpace(Model.PaymentDataModel.PaymentReferenceNumber))
            {
                <br style="clear: both;" />
                @Html.Raw(Model.PaymentDataModel.PaymentReferenceNumber)
            }
        </td>
    </tr>
    <tr>
        <td colspan="4" style="border-collapse: collapse; border-style: none; border-width: 0px;">
            @Html.Partial("_ShoppingCartEmailBody1", Model)
        </td>
    </tr>
    @{
        if (Model.OrderSummaryModel.InvoiceTypeId == InvoiceTypeEnum.OrderForm)
        {
            CodeDataModel codeDataModel = LookupCache.GetCodeDatasForCodeTypeNameDescByCodeDataNameId("SignatureText", "").First(x => x.CodeDataNameId == Model.OrderApprovalModel.ApproverSignatureTextId);
            <tr>
                <td colspan="4" style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: left; word-wrap: break-word;">
                    <span style="color: #000000; font-family: @(codeDataModel.CodeDataNameDesc); font-size: @(codeDataModel.CodeDataDesc4); font-weight: bold;">@Model.OrderApprovalModel.ApproverSignatureTextValue</span>
                    <br style="clear: both;" />
                    @DateTime.Parse(Model.OrderApprovalModel.ApprovedDateTime).ToString("MMM-dd-yyyy h:mm tt")
                    <br style="clear: both;" />
                    @Model.OrderApprovalModel.ApproverComments
                </td>
            </tr>
        }
    }
    <tr>
        <td colspan="4" style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: left; word-wrap: break-word;">
            @Model.DeliveryDataModel.DeliveryInstructions
        </td>
    </tr>
    <tr>
        <td colspan="4" style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial; font-size: 14px; padding: 5px; text-align: left; word-wrap: break-word;">
            @if (Model.OrderSummaryModel.InvoiceTypeId == InvoiceTypeEnum.FinalInvoice)
            {
                <span style="color: #000000;">
                    @(
                    ArchLibCache.GetApplicationDefault(clientId, "Business", "BankAccountNameCaption") +
                    " : " +
                    ArchLibCache.GetApplicationDefault(clientId, "Business", "BankAccountName") +
                    " " +
                    ArchLibCache.GetApplicationDefault(clientId, "Business", "BankAccountNumberCaption") +
                    " " +
                    ArchLibCache.GetApplicationDefault(clientId, "Business", "BankAccountNumber") +
                    " " +
                    ArchLibCache.GetApplicationDefault(clientId, "Business", "BankAccountCodeCaption") +
                    " " +
                    ArchLibCache.GetApplicationDefault(clientId, "Business", "BankAccountCode")
                )
                    <br style="clear: both;" />
                </span>
            }
            @if (Model.OrderSummaryModel.CreatedByEmailAddress != Model.OrderSummaryModel.EmailAddress)
            {
                <span style="color: #000000;">Order Created by:&nbsp;</span>@Model.OrderSummaryModel.CreatedByEmailAddress
            }
        </td>
    </tr>
    <tr>
        <td colspan="4" style="padding: 0px; text-align: left;">
            <br style="clear: both;" />
            <br style="clear: both;" />
            <span style="color: #000000; font-family: @Model.OrderSummaryModel.AuthorizedSignatureFontFamily; font-size: @Model.OrderSummaryModel.AuthorizedSignatureFontSize; font-weight: bold;">@Model.OrderSummaryModel.AuthorizedSignatureTextValue</span>
            <br style="clear: both;" />
            <span style="color: #000000; font-weight: bold;">@ArchLibCache.GetApplicationDefault(clientId, "Business", "AdminRepresentativeTitle")<br style="clear: both;" />@DateTime.Now.ToString("MMM-dd-yyyy h:mm tt")</span>
        </td>
    </tr>
</table>
