@model ArchitectureLibraryModels.RegisterUserLoginUserModel
@using ArchitectureLibraryMenuCacheData
@using ArchitectureLibraryCacheData
@using RetailSlnModels
@{
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    var paymentInfoModel = (PaymentInfo1Model)Session["PaymentInfo"];
    paymentInfoModel = paymentInfoModel ?? new PaymentInfo1Model();
    paymentInfoModel.ShoppingCartModel = paymentInfoModel.ShoppingCartModel ?? new ShoppingCartModel();
    //paymentInfoModel.ShoppingCartModel.BackToTop = true;
    paymentInfoModel.ShoppingCartModel.Checkout = true;
    paymentInfoModel.ShoppingCartModel.ShoppingCartSummaryModel = paymentInfoModel.ShoppingCartModel.ShoppingCartSummaryModel ?? new ShoppingCartSummaryModel();
    //paymentInfoModel.ShoppingCartModel.ShoppingCartSummaryModel = new ShoppingCartSummaryModel();
    paymentInfoModel.ShoppingCartModel.ShoppingCartItems = paymentInfoModel.ShoppingCartModel.ShoppingCartItems ?? new List<ShoppingCartItemModel>();
    paymentInfoModel.ShoppingCartModel.ShoppingCartSummaryItems = paymentInfoModel.ShoppingCartModel.ShoppingCartSummaryItems ?? new List<ShoppingCartItemModel>();
    for (int i = 1; i < paymentInfoModel.ShoppingCartModel.ShoppingCartSummaryItems.Count; i++)
    {
        paymentInfoModel.ShoppingCartModel.ShoppingCartSummaryItems.RemoveAt(1);
    }
    foreach (var shoppingCartItem in paymentInfoModel.ShoppingCartModel.ShoppingCartItems)
    {
        shoppingCartItem.ShoppingCartItemSummarys = new List<ShoppingCartItemModel>();
    }
}
<div class="center">
    <div class="col-md-6" id="divRegisterUserProfScrollIntoView" style="float: left; text-align: left;">
        @Html.Partial("_RegisterUserProf", Model.RegisterUserProfModel)
    </div>
    <div class="col-md-6" id="divLoginUserProfScrollIntoView" style="float: right; text-align: left;">
        @Html.Partial("_LoginUserProf1", Model.LoginUserProfModel)
    </div>
    @*<div class="col-md-12" id="divShoppingCart">
        <hr style="background-color: #000000; display: block; font-size: 18px; font-weight: bold; height: 1px;" />
        @Html.Partial("_ShoppingCart", paymentInfoModel.ShoppingCartModel)
    </div>*@
</div>
<br style="clear: both;" />
@{
    //string scrollIntoViewDocumentElementId = "";
    string focusDocumentElementId = ""; ;
    switch (Model.QueryString)
    {
        case "REGISTER":
            //scrollIntoViewDocumentElementId = "divRegisterUserProfScrollIntoView";
            focusDocumentElementId = "RegisterEmailAddress";
            break;
        case "LOGIN":
            //scrollIntoViewDocumentElementId = "divLoginUserProfScrollIntoView";
            focusDocumentElementId = "LoginEmailAddress";
            break;
        case "":
            break;
        default:
            try
            {
                var htmlContent = ArchLibMenuCache.MenuKVPModels.First(x => x.MenuKVPId == int.Parse(Model.RegisterUserProfModel.QueryString1)).MenuKVPValueData;
                htmlContent = Server.MapPath("~/ClientSpecific/" + clientId + "_" + clientName + "/Documents/HtmlFiles/" + htmlContent);
                var streamReader = new StreamReader(htmlContent);
                htmlContent = streamReader.ReadToEnd();
                streamReader.Close();
                if (htmlContent != "")
                {
                    @Html.Raw(htmlContent)
                }
            }
            catch
            {
            }
            break;
    }
}
<br style="clear: both;" />
<script type="text/javascript">
    if ("@focusDocumentElementId" != "") {
        document.getElementById("@focusDocumentElementId").focus();
    }
    @*if ("@scrollIntoViewDocumentElementId" != "") {
        //document.getElementById("@scrollIntoViewDocumentElementId").scrollIntoView();
    }*@
</script>
@*https://www.geeksforgeeks.org/how-to-place-two-div-side-by-side-of-the-same-height-using-css/*@
<script src="~/Include/orderItemCode1.js" type="text/javascript"></script>
